.discussion {
  margin-top: -20px;

  @include smallTablet-and-mobile {
    margin-top: 0;
  }

  &__search {
    display: flex;
    align-items: center;

    @include no-smallTablet {
      position: relative;
    }

    &-reset {
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: $color-gray-dark;
      @include transition;
      display: none;

      position: absolute;
      top: 50%;
      transform: translateX(100%) translateY(-50%);
      right: -20px;

      &:hover {
        color: $color-blue;
      }

      .discussion__search._with-value & {
        display: block;
      }
    }

    .search-input {
      @include smallTablet-and-mobile {
        width: 0;
        overflow: hidden;
      }
    }

    &-mobile {
      @include sprite('discussion-search-mobile');
      position: absolute;
      left: 0;
      @include align(false, true);
      z-index: 1;
      display: none;

      @include smallTablet-and-mobile {
        display: block;
      }
    }

    @include smallTablet-and-mobile {
      &._opened {
        .discussion__search-mobile {
          display: none;
        }

        .search-input {
          width: auto;
          right: 70px;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
        }

        .discussion__search-reset {
          display: block;
          right: 70px;
          background: #fff;
          z-index: 1;
          padding-left: 15px;

          @include smallTablet-and-mobile {
            display: none;
          }
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include smallTablet-and-mobile {
      min-height: 42px;
      position: relative;
    }

    &-left {
      flex: 1 1 53.27%;
      max-width: 53.27%;

      @include smallTablet-and-mobile {
        width: auto;
      }
    }
  }

  &__label {
    margin-top: 30px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $color-gray-dark;
  }

  &__list {
    margin-top: 30px;

    &--search-results {
      margin-top: 20px;
    }
  }

  &__message {

    margin-top: 20px;

    @include smallTablet-and-mobile {
      margin-top: 40px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__replies {
    margin-top: 20px;
    margin-left: 80px;

    &.opened .discussion__replies-results {
      display: block;
    }

    @include smallTablet-and-mobile {
      margin-top: 24px;
      margin-left: 0;
    }

    &-results {
      margin-top: 13px;
      display: none;

      &.animate {
        position: relative;
        display: block;
        height: 0;
        overflow: hidden;
        transition: height .32s ease;
      }

    }

    &-nested {
      padding-left: 12px;
      border-left: 2px solid $color-gray;

      &--lvl1 {
        margin-left: 0;

        .discussion__reply {
          &:first-child {
            margin-top: 0;
          }
        }
      }

      &--lvl2 {
        margin-left: 95px;

        @include smallTablet-and-mobile {
          margin-left: 16px;
        }
      }

      &--lvl3 {
        margin-left: 190px;
        padding-left: 11px;
        @include smallTablet-and-mobile {
          display: none;
        }
      }

      &--lvl4 {
        margin-left: 285px;
        padding-left: 8px;
        @include smallTablet-and-mobile {
          display: none;
        }
      }

      &--lvl5 {
        margin-left: 80px;
        padding-left: 10px;
        @include smallTablet-and-mobile {
          display: none;
        }
      }

      &--lvl6 {
        margin-left: 80px;
        padding-left: 8px;

        .reply__title-name {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 107px;
        }

        @include smallTablet-and-mobile {
          display: none;
        }
      }
    }

    &-btn {
      display: inline-block;
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: $color-gray-dark;
      @include transition;

      &:hover {
        color: $color-gray-dark-hover;
      }

      @include mobile {
        font-size: 14px;
        line-height: 21px;
      }
    }
  }

  &__reply {
    margin-top: 21px;
  }

  &__pagination {
    margin-top: 44px;
    display: flex;
    justify-content: flex-end;
  }
}
