.discussion {
  margin-top: -20px;

  @include smallTablet-and-mobile {
    margin-top: 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      width: 504px;

      @include mobile {
        width: auto;

        .search-input {
          display: none;
        }
      }
    }

    &-right {

    }
  }

  &__list {
    margin-top: 30px;
  }

  &__message {
    margin-top: 20px;

    @include mobile {
      margin-top: 40px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__pagination {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }
}
