.discussion {
  margin-top: -20px;

  @include smallTablet-and-mobile {
    margin-top: 0;
  }

  &__search {
    display: flex;
    align-items: center;
    position: relative;

    @include smallTablet-and-mobile {
      display: none !important;
    }

    &-reset {
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.02em;
      color: $color-gray-dark;
      @include transition;
      display: none;

      position: absolute;
      top: 50%;
      transform: translateX(100%) translateY(-50%);
      right: -20px;

      &:hover {
        color: $color-blue;
      }

      .discussion__search._with-value & {
        display: block;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-left {
      flex: 1 1 53.27%;
      max-width: 53.27%;

      @include smallTablet-and-mobile {
        width: auto;

        .search-input {
          display: none;
        }
      }
    }
  }

  &__list {
    margin-top: 30px;
  }

  &__message {
    &.opened .discussion__replies {
      display: block;
    }

    margin-top: 20px;

    @include smallTablet-and-mobile {
      margin-top: 40px;
    }

    &:first-child {
      margin-top: 0;
    }
  }

  &__replies {
    display: none;
    margin-left: 80px;

    @include smallTablet-and-mobile {
      margin-left: 0;
    }

    &.animate {
      position: relative;
      display: block;
      height: 0;
      overflow: hidden;
      transition: height .32s ease;
    }

    &-nested {
      padding-left: 16px;
      border-left: 2px solid $color-gray;

      &--lvl1 {
        margin-left: 0;
      }

      &--lvl2 {
        margin-left: 95px;

        @include smallTablet-and-mobile {
          margin-left: 16px;
        }
      }

      &--lvl3 {
        margin-left: 190px;
        padding-left: 14px;
        @include smallTablet-and-mobile {
          display: none;
        }
      }

      &--lvl4 {
        margin-left: 285px;
        padding-left: 12px;
        @include smallTablet-and-mobile {
          display: none;
        }
      }

      &--lvl5 {
        margin-left: 82px;
        padding-left: 10px;
        @include smallTablet-and-mobile {
          display: none;
        }
      }

      &--lvl6 {
        margin-left: 80px;
        padding-left: 8px;

        .reply__title-name {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 107px;
        }

        @include smallTablet-and-mobile {
          display: none;
        }
      }
    }

    &-hide-btn {
      margin-top: 12px;
      display: inline-block;

      @include smallTablet-and-mobile {
        margin-top: 24px;
      }
    }
  }

  &__reply {
    margin-top: 20px;
  }

  &__pagination {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }
}
