.hero-slider {
  padding-top: 31.25%;
  position: relative;
  overflow: hidden;

  @include no-mobile {
    text-align: center;
  }

  color: $color-white;

  @include tablet {
    height: 450px;
    padding-top: 0;
  }

  @include mobile {
    padding-top: 120%;
  }

  &__inner {
    @include fill;
  }

  &__slide {
    height: 100%;
    padding: 50px 0;

    /*
      &:before {
        content: '';
        @include fill;
        z-index: 1;
        background: linear-gradient(0deg, rgba(1, 19, 64, 0.5), rgba(1, 19, 64, 0.5));
      }
    */
  }

  &:not(.swiper-container-initialized) {
    .hero-slider__slide {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }

  &__nav {
    position: absolute;
    @include circle(60px, transparent);
    @include align(false, true);
    z-index: 1;

    @include smallTablet-and-mobile {
      display: none;
    }

    @include transition;

    &:before {
      content: '';
      @include align(true, true);
      @include sprite('hero-slider-arrow');
    }

    &--prev {
      left: 10px;
    }

    &--next {
      right: 10px;

      &:before {
        transform: translateY(-50%) rotate(180deg);
        margin-left: -5px;
      }
    }

    &:hover {
      background: $color-white-20;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    z-index: 2;
    position: relative;
  }

  &__bg {
    @include fill;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__video {
    @include fill;
    z-index: -1;

    @include mobile{
      overflow: hidden;
    }

    video {
      width: 100%;
      @include align(true, true);

      @include mobile{
        height: 100%;
        width: auto;
      }
    }
  }

  &__date {
    font-size: 16px;
    line-height: 146%;
    color: $color-orange;
    display: block;
    margin-bottom: 5px;

    @include smallTablet-and-mobile {
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 8px;
    }
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 66px;
    line-height: 99px;
    margin: 0 auto;
    width: 615px;
    display: block;

    @include smallTablet-and-mobile {
      font-weight: bold;
      font-size: 35px;
      line-height: 52px;
      width: auto;
    }

    @include mobile {
      text-align: left;
    }
  }

  &__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    margin-top: 30px;
    display: block;
    text-align: center;

    @include smallTablet-and-mobile {
      font-size: 14px;
      line-height: 21px;
      margin-top: 16px;
    }
    @include mobile {
      text-align: left;
    }

    @include mobile {
      text-align: left;
    }
  }

  .swiper-pagination {
    @include align(true, false);
    bottom: 27px;
    z-index: 1;
  }

  &__buttons {
    position: absolute;
    right: 30px;
    top: 30px;
    display: flex;
    z-index: 2;
    opacity: 1;
    @include transition;

    &.hidden {
      opacity: 0;
    }

    @include mobile {
      left: 16px;
      right: 16px;
      top: 16px;
      justify-content: space-between;
    }
  }

  &__button {
    background: $color-gray-dark-20;
    backdrop-filter: blur(44px);
    border-radius: 8px;
    display: inline-block;
    height: 42px;
    color: $color-white;
    margin-left: 19px;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
    @include transition;
    text-align: left;

    &:hover {
      background: $color-gray-dark;
    }

    &--toggle {
      width: 48px;
      height: 42px;

      &:before {
        content: '';
        @include align(true, true);
        @include sprite('hero-video-pause');
      }

      &._paused:before {
        @include sprite('hero-video-play');
      }
    }

    &--sound {
      padding: 0 4px 0 38px;
      min-width: 132px;

      &:before {
        content: '';
        left: 14px;
        @include align(false, true);
        @include sprite('hero-video-sound-on');
      }

      &._off:before {
        @include sprite('hero-video-sound-off');
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
