.search-overlay {
  background: #FFFFFF;
  border-radius: 12px;
  //min-width: 685px;
  //max-height: 380px;
  box-shadow: 0px 6px 44px rgba(1, 64, 139, 0.24);
  position: absolute;
  //overflow: auto;

  @include tablet-and-mobile {
    display: none;
  }

  &__results {
    padding: 16px 3px 16px 18px;
  }

  &__wrapper {
    min-width: 685px;
    max-height: 380px;
    overflow: auto;
    padding-right: 15px;

    .scrollbar-thumb {
      width: 5px;
      background: $color-gray;
    }

    .scrollbar-track-y {
      width: 5px;
      background: transparent;
    }
  }

  &__section {
    margin-top: 19px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__list {
    margin-top: 12px;
  }

  &__row {
    margin-top: 17px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__title {
    display: block;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
    color: $color-gray-dark;
  }

  &__link {
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;

    &:hover {
      color: $color-blue;
    }
  }
}
