.slider-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    margin: 0 20px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__pagination {
    margin: 0 20px;
  }
}
