.swiper-pagination {
  display: flex;
  justify-content: center;

  &-bullet {
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    margin: 0 5px;
    cursor: pointer;
    background: $color-gray;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    &-active {
      background: $color-blue;

      &:hover {
        background: $color-blue;
      }
    }
  }
}
