.tabs-slider {
  &__slider {
    position: relative;
    margin-top: 33px;
  }

  &__row {
    margin: 0 -15px 0 -15px;

    .swiper-container.transition {
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 15px;
        display: block;
        background: #fff;
        z-index: 2;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &__slide {
    height: auto;
    padding: 0 15px 15px 15px;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) translateX(-100%);
  }

  &__next {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%) translateX(100%);
  }
}
