.tabs-slider {
  &__slider {
    position: relative;
    margin-top: 33px;
  }

  &__row {
  }

  &__slide {
    height: auto;
    padding-bottom: 15px;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: -10px;
    transform: translateY(-50%) translateX(-100%);
  }

  &__next {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%) translateX(100%);
  }
}
