.tabs-slider {
  &__slider {
    position: relative;
    margin-top: 33px;
  }

  &__row {
    margin: 0 -15px 0 -15px;
  }

  &__slide {
    height: auto;
    padding: 0 15px 15px 15px;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) translateX(-100%);
  }

  &__next {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%) translateX(100%);
  }
}
