.comment {
  display: flex;
  width: 100%;
  position: relative;

  &__inner {
    margin-left: 80px;
    flex: 1 1 1px;
    background: $color-gray-40;
    border-radius: 0 12px 12px 12px;
    padding: 16px;
    position: relative;

    @include smallTablet-and-mobile {
      padding: 0;
    }

    &:before {
      content: '';
      position: absolute;
      @include sprite('comment-tail');
      top: 0;
      left: 0;
      transform: translate(-98%, -0.4%);

      @include smallTablet-and-mobile {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 21px;
      background: #F0F4F8;
      transform: translate(0%, 4%);

      @include smallTablet-and-mobile {
        display: none;
      }
    }

    @include smallTablet-and-mobile {
      margin-left: 0;
      background: transparent;
      border-radius: 0;
    }
  }

  @include no-smallTablet {
    &:hover {
      .comment__reply {
        opacity: 1;
      }
    }
  }

  &__reply {
    @include no-smallTablet {
      position: absolute;
      right: 16px;
      top: 14px;
      opacity: 0;
      @include transition;
      z-index: 1;
    }

    @include smallTablet-and-mobile {
      margin-top: 8px;
    }
  }

  &__user {

    @include smallTablet-and-mobile {
      display: flex;
      align-items: center;
    }

    &-image {
      display: block;
      border-radius: 50%;

      @include no-smallTablet {
        position: absolute;
        left: -80px;
        top: 10px;
        width: 64px;
        height: 64px;
      }

      @include smallTablet-and-mobile {
        width: 48px;
        height: 48px;
        filter: drop-shadow(0px 4px 14px rgba(0, 29, 72, 0.12))
      }

      img {
        width: 64px;
        height: 64px;
        display: block;
        border-radius: 50%;

        @include smallTablet-and-mobile {
          width: 48px;
          height: 48px;
        }
      }
    }

    &-info {
      display: flex;
      align-items: baseline;

      @include smallTablet-and-mobile {
        display: block;
        margin-left: 12px;
      }
    }

    &-name {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      display: block;
    }

    &-date {
      margin-top: 4px;
      margin-left: 6px;
      font-size: 14px;
      line-height: 140%;
      color: $color-gray-dark;

      @include smallTablet-and-mobile {
        margin-left: 0;
        font-size: 12px;
        line-height: 150%;
      }
    }
  }

  &__main {
    margin-top: 10px;
    font-size: 16px;
    line-height: 146%;

    mark {
      background: transparent;
      color: $color-blue;
    }

    @include smallTablet-and-mobile {
      margin-top: 16px;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
  }
}
