.feature {
  height: 100%;

  text-align: left;

  &--center {
    text-align: center;

    .feature__icon {
      display: flex;
      justify-content: center;
    }
  }


  &__title {
    margin-top: 16px;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    color: $color-black;
    display: block;

    @include tablet-and-mobile{
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 146%;
    display: block;
    margin-top: 8px;
    color: $color-dark;

    @include tablet-and-mobile{
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__link {
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
    display: inline-block;
    margin-top: 12px;
    color: $color-blue;

    @include tablet{
      font-size: 14px;
    }
  }
}
