.notify-card {
  padding: 20px;
  background: rgba(32, 183, 247, 0.12);
  color: $color-blue;
  border-radius: 10px;

  @include mobile {
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 14px rgba(1, 64, 139, 0.14);
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  &__text {
    margin-top: 9px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;

    @include mobile320 {
      font-size: 12px;
    }
  }

  &__btn {
    margin-top: 24px;
  }

}
