.reply {
  display: flex;

  &:hover {
    .reply__btn {
      opacity: 1;
    }
  }

  &__img {
    flex: 0 0 64px;
    max-width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 100%;

    @include smallTablet-and-mobile {
      flex: 0 0 48px;
      max-width: 48px;
      height: 48px;
    }
  }

  &__wrapper {
    margin-left: 16px;

    @include smallTablet-and-mobile {
      position: relative;
      padding-bottom: 30px;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    @include smallTablet-and-mobile {
      display: block;
    }

    &-name {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;

      &:hover {
        color: $color-blue;
      }
    }

    &-time {
      margin-left: 6px;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: $color-gray-dark;

      @include smallTablet-and-mobile {
        margin-top: 4px;
        margin-left: 0;
        display: block;
        font-size: 12px;
        line-height: 150%;
      }
    }
  }

  &__label {
    margin-top: 5px;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $color-gray-dark;

    @include smallTablet-and-mobile {
      display: none;
    }
  }

  &__text {
    margin-top: 8px;
    font-weight: normal;
    font-size: 16px;
    line-height: 146%;
    color: $color-dark;

    @include smallTablet-and-mobile {
      margin-top: 18px;
      margin-left: -64px;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__btn {
    opacity: 1;
    @include transition;
    margin-left: 16px;

    @include smallTablet-and-mobile {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 8px;
      margin-left: -64px;
      display: inline-block;
      opacity: 1;
    }
  }
}
