.search-input {
  background: #FFFFFF;
  border: 2px solid #DAE4ED;
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  padding: 0 20px 0 50px;

  &:before {
    content: '';
    @include sprite('search-big');
    @include align(false, true);
    left: 17px;
  }

  &__input {
    display: block;
    border: 0 none;
    height: 45px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

    @include mobile{
      height: 50px;
      font-size: 16px;
    }

    @include placeholder {
      color: rgba(5, 36, 51, 0.2);
    }
  }
}
