.search-input {
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  width: 100%;
  border-radius: 12px;

  &__icon {
    content: '';
    @include sprite('search-big');
    @include align(false, true);
    left: 17px;
    margin-top: -1px;
  }

  &__input {
    display: block;
    height: 41px;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    padding: 0 50px 0 50px;
    border: 2px solid #DAE4ED;
    border-radius: 12px;
    @include transition;

    @include mobile {
      height: 50px;
      font-size: 16px;
    }

    @include placeholder {
      color: rgba(5, 36, 51, 0.2);
    }

    &:focus {
      border-color: $color-blue;

      + .search-input__icon {
        @include sprite('search-big-blue');
      }
    }

    &:placeholder-shown {
      ~ .search-input__reset {
        display: none;
      }
    }
  }

  &--big {
    .search-input {
      &__input {
        height: 55px;
        @include smallTablet-and-mobile {
          height: 42px;
        }
      }
    }
  }

  &__reset {
    position: absolute;
    right: 20px;
    @include align(false, true);
    @include sprite('search-reset');

    &:hover {
      @include sprite('search-reset-blue');
    }
  }
}
