.social-button{
  display: inline-block;
  position: relative;

  @include transition;
  @include circle(54px, $color-blue-12);
  &:hover{
    background: $color-blue-25;
  }

  &:before{
    content: '';
    @include align(true, true);
  }

  &--small{
    width: 38px;
    height: 38px;
    border-radius: 10px;
  }

  &--facebook{
    &:before{
      @include sprite('social-facebook');
    }
    .social-button--small &:before{
      @include sprite('social-small-facebook');
    }
  }

  &--twitter{
    &:before{
      @include sprite('social-twitter');
    }
    .social-button--small &:before{
      @include sprite('social-small-twitter');
    }
  }

  &--instagram{
    &:before{
      @include sprite('social-instagram');
    }
    .social-button--small &:before{
      @include sprite('social-small-instagram');
    }
  }
}
