.submit-input {
  position: relative;

  &__input {
    display: block;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    background: #FFFFFF;
    border: 2px solid #DAE4ED;
    box-sizing: border-box;
    border-radius: 12px;
    padding: 0 16px;
    height: 55px;

    @include mobile {
      height: 50px;
      font-size: 16px;
    }

    @include placeholder {
      color: rgba(5, 36, 51, 0.2);
    }
  }

  &__button {
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 10px;
    overflow: hidden;
  }

  &--search {
    &:before {
      content: '';
      @include sprite('search-big');
      @include align(false, true);
      left: 17px;
      margin-top: -2px;

      @include mobile {
        left: 15px;
      }
    }

    .submit-input__input {
      padding-left: 48px;
      @include mobile {
        padding-left: 45px;
      }
    }
  }

  &--big {
    .submit-input__input {
      height: 63px;
      @include mobile {
        height: 50px;
      }
    }

    .btn {
      height: 59px;
      line-height: 59px;
    }
  }
}
