.testimonial-card {
  &__body {
    background: $color-white;
    padding: 37px 50px 60px 50px;
    font-style: italic;
    font-weight: normal;
    font-size: 21px;
    line-height: 31px;
    color: $color-black;
    border-radius: 10px;
    position: relative;

    @include mobile {
      font-size: 18px;
      line-height: 27px;
      padding: 52px 20px 30px;
    }

    &:before {
      content: '';
      top: 20px;
      left: 24px;
      position: absolute;
      @include sprite('testimonial-arrows');
    }

    &:after {
      content: '';
      left: 20px;
      bottom: -23px;
      @include sprite('testimonial-arrow');
      position: absolute;

      @include mobile {
        @include sprite('testimonial-arrow-mobile');
        left: 10px;
        bottom: -9px;
      }
    }
  }

  &__image {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    border: 11px solid rgba(111, 213, 255, 0.08);

    .testimonial-card--purple & {
      border: 11px solid rgba(198, 104, 255, 0.08);
    }
  }

  &__author {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: -32px;
    padding-left: 69px;

    @include mobile {
      margin-top: 20px;
      padding-left: 0;
    }
  }

  &__info {
    margin-left: 10px;
    margin-top: 15px;

    @include mobile {
      margin: 0 0 0 10px;
    }
  }

  &__name {
    display: block;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;

    @include mobile {
      font-size: 18px;
      line-height: 27px;
    }
  }

  &__position {
    display: block;
    font-size: 16px;
    line-height: 146%;
    color: $color-blue;
    margin-top: 3px;

    @include mobile {
      font-size: 14px;
      line-height: 21px;
      margin-top: 8px;
    }
  }
}
