.upload-lesson {
  margin-top: 27px;

  &__video {
    text-align: center;

    &-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      height: 469px;
      background: rgba(218, 228, 237, 0.22);
      border: 3px dashed #DAE4ED;
      border-radius: 12px;
    }

    &-status {
      margin-top: -22px;
      display: flex;
      flex-direction: column;

      &-text {
        margin-top: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
      }

      &-label {
        margin-top: 14px;
        font-weight: normal;
        font-size: 14px;
        line-height: 140%;
        color: $color-gray-dark;
      }
    }

    &-label {
      position: relative;
      margin-top: 20px;
      padding-left: 24px;
      display: inline-block;
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: $color-gray-dark;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        @include sprite("attention-triangle");
        @include align(false, true);
      }

      &-link {
        font-weight: 600;
        color: $color-blue;
      }
    }
  }


  &__input {
    margin-top: 35px;
  }

  &__block {
    margin-top: 15px;
    display: flex;
    align-items: center;
  }

  &__upload-btn {
    margin-left: 145px;
  }
}
