<div class="chat js-tabsWidget js-chat">
  <div class="chat__inner">
    <div class="chat__left">
      <div class="chat__search">
        {{> blocks/profile/chat/chat-search}}
      </div>

        <div class="chat__users js-chat-scroll">
          {{> blocks/profile/chat/chat-user
            image="user_01"
            title="Leslie Alexander"
            messages=2
          }}

          {{> blocks/profile/chat/chat-user
            image="user_02"
            title="Omar Mango"
          }}

          {{> blocks/profile/chat/chat-user
            image="user_03"
            title="Kaiya Mango"
            messages=2
            reply=true
          }}

          {{> blocks/profile/chat/chat-user
            image="user_04"
            title="Emerson Geidt"
          }}

          {{> blocks/profile/chat/chat-user
            image="user_05"
            title="Zaire Carder"
          }}

          {{> blocks/profile/chat/chat-user
            image="user_06"
            title="Lindsey Westervelt"
          }}
          {{#times 100}}
            {{> blocks/profile/chat/chat-user
              image="user_01"
              title="Gustavo Rosser"
            }}
          {{/times}}
        </div>

    </div>

    <div class="chat__right">
      {{> blocks/profile/chat/chat-window}}
    </div>
  </div>
</div>
