<div class="page-profile">
  <div class="container">
    <div class="page-profile__inner">
      <div class="page-profile__left">
        {{> blocks/profile/profile-sidebar }}
      </div>

      <div class="page-profile__main">
        {{> blocks/profile-dashboard/dashboard-main}}
      </div>
    </div>
  </div>
</div>