<div class="profile-sidebar-btn">
  <a href="{{url}}" class="profile-sidebar-btn__link {{#if active}}active{{/if}}">
    {{> ui/svg name=imgName}}
    <span class="profile-sidebar-btn__label">{{label}}</span>
  </a>
</div>