<div class="profile-sidebar-nav-item">
  <div class="profile-sidebar-nav-item__inner">
    <a href="{{url}}" class="profile-sidebar-nav-item__link {{#if active}}active{{/if}}">
      {{> ui/svg name=imgName}}
      <span class="profile-sidebar-nav-item__label">{{label}}</span>
    </a>
  </div>
</div>