<div class="profile-sidebar">
  <div class="profile-sidebar__user">
    <div class="profile-sidebar__user-img">
      {{> components/image img="header/avatar" ext="jpg"}}
    </div>
    <div class="profile-sidebar__user-info">
      <div class="profile-sidebar__user-name">Ali Kazal</div>
      <div class="profile-sidebar__user-email">
        <a href="mailto:Ali_Kazal@email.com" class="profile-sidebar__user-email-link">Ali_Kazal@email.com</a>
      </div>
    </div>

  </div>

  <div class="profile-sidebar__socials">
    <div class="profile-sidebar__counters">
      {{> blocks/profile/sidebar-counter number="168" text="Folowers"}}
      {{> blocks/profile/sidebar-counter number="10" text="Followings" }}
    </div>

    <a href="#" class="profile-sidebar__socials-link">Website//alikazal.org.com</a>

    <div class="profile-sidebar__socials-networks">
      <a href="#" class="profile-sidebar__social-link"> 
        {{> ui/svg name="social-twitter-sm"}}
      </a>
      <a href="#" class="profile-sidebar__social-link"> 
        {{> ui/svg name="social-facebook-sm"}}
      </a>
      <a href="#" class="profile-sidebar__social-link"> 
        {{> ui/svg name="social-instagram-sm"}}
      </a>
      <a href="#" class="profile-sidebar__social-link"> 
        {{> ui/svg name="social-youtube-sm"}}
      </a>
    </div>
  </div>

  <div class="profile-sidebar__counters-strip">
    {{> blocks/profile/sidebar-counter-strip number="12" text="Active Courses"}}
    {{> blocks/profile/sidebar-counter-strip number="4" text="Certificates" }}
  </div>

  <div class="profile-sidebar__nav">
    <div class="profile-sidebar__nav-item">
      {{> blocks/profile/profile-sidebar-btn url='#' imgName='dashboard' label='Dashboard' active=true}}
    </div>
    <div class="profile-sidebar__nav-item">
      {{> blocks/profile/profile-sidebar-btn url='#' imgName='courses' label='My Courses'}}
    </div>
    <div class="profile-sidebar__nav-item">
      {{> blocks/profile/profile-sidebar-btn url='#' imgName='certificates' label='Certificates'}}
    </div>
    <div class="profile-sidebar__nav-item">
      {{> blocks/profile/profile-sidebar-btn url='#' imgName='messages' label='Messages'}}
    </div>
    <div class="profile-sidebar__nav-item">
      {{> blocks/profile/profile-sidebar-btn url='#' imgName='notifiсation' label='Notifications'}}
    </div>
    <div class="profile-sidebar__nav-item">
      {{> blocks/profile/profile-sidebar-btn url='#' imgName='settings' label='Settings'}}

    </div>
  </div>

  <div class="profile-sidebar__notify-card">
    {{> widgets/notify-card
    title='Upgrade to student'
    text='Upgrade for x$ to have access to Ulearna in all languages'
    }}
  </div>

  <div class="profile-sidebar__btn-bottom">
    {{> ui/btn
    outline=true
    label='Sign Out'
    icon='button-logout'
    mod='btn--stretched'
    icon-right=true
    }}
  </div>
</div>