<div class="profile-widget">
  <div class="profile-widget__inner">
    <span class="profile-widget__title">{{title}}</span>
    {{#if followers}}
      <button class="profile-widget__btn-icon">Monthly</button>
    {{/if}}
  </div>
  <div class="profile-widget__content">
    {{#if highlights}}
      <div class="profile-widget__info">
        <span class="profile-widget__info-feature profile-widget__info-feature--stand">Senior Developer</span>
        <span class="profile-widget__info-feature profile-widget__info-feature--hat">Education Title</span>
        <span class="profile-widget__info-feature profile-widget__info-feature--globe">Language, Language</span>
        <span class="profile-widget__info-feature profile-widget__info-feature--mark">Country</span>
      </div>
      <div class="profile-widget__btn">
        {{> ui/btn
          outline=true
          label='Edit'
          transparent=true
        }}
      </div>
    {{/if}}

    {{#if tags}}
      <div class="profile-widget__info">
        <span class="profile-widget__info-tag">Technology</span>,
        <span class="profile-widget__info-tag">Social network</span>,
        <span class="profile-widget__info-tag">Java</span>,
        <span class="profile-widget__info-tag">Web Developing</span>
      </div>

      <div class="profile-widget__btn">
        {{> ui/btn
          outline=true
          label='Edit'
          transparent=true
        }}
      </div>
    {{/if}}

    {{#if learning}}
      {{> blocks/profile/student/informer}}
    {{/if}}

    {{#if followers}}
      {{> blocks/profile/instructor/followers-informer}}
    {{/if}}
  </div>

</div>

