<div class="profile-chat">
  <div class="profile-chat__left">
    <div class="profile-chat__header">
      <span class="profile-chat__header-title">Messages</span>
    </div>

    <div class="profile-chat__search">

    </div>

    <div class="profile-chat__users">
      {{> blocks/profile/chat/chat-user}}
    </div>
  </div>

  <div class="profile-chat__right">
    {{> blocks/profile/chat/chat-header}}
    {{> blocks/profile/chat/chat-dialog}}
  </div>
</div>
