<div class="profile-sidebar">
  <div class="profile-sidebar__inner">
    <div class="profile-sidebar__block">
      {{> blocks/profile/profile-user profile=profile name=name email=email}}
    </div>

    <div class="profile-sidebar__block">
      {{> blocks/profile/profile-socials href=href}}
    </div>

    <div class="profile-sidebar__block">
      {{> blocks/profile/profile-counters balance=balance only-balance=only-balance}}
    </div>

    <div class="profile-sidebar__nav">
      <div class="profile-sidebar__nav-item">
        {{> ui/btn-category url='#' imgName='dashboard' label='Dashboard' active=dashboard}}
      </div>
      <div class="profile-sidebar__nav-item">
        {{> ui/btn-category url='#' imgName='courses' label='My Courses' active=courses}}
      </div>
      <div class="profile-sidebar__nav-item">
        {{> ui/btn-category url='#' imgName='certificates' label='Certificates' active=certificates}}
      </div>
      <div class="profile-sidebar__nav-item">
        {{> ui/btn-category url='#' imgName='messages' label='Messages' message=true active=messages}}
      </div>
      <div class="profile-sidebar__nav-item">
        {{> ui/btn-category url='#' imgName='notifiсation' label='Notifications' active=notifiсation}}
      </div>
      <div class="profile-sidebar__nav-item">
        {{> ui/btn-category url='#' imgName='settings' label='Settings' active=settings}}
      </div>
    </div>
  </div>

  <div class="profile-sidebar__notify-card">
    {{> widgets/notify-card
      title='Upgrade to student'
      text='Upgrade for x$ to have access to Ulearna in all languages'
      hide-mobile=hide-notify-mobile
    }}
  </div>

  <div class="profile-sidebar__bottom">
    {{> ui/btn
      outline=true
      label='Sign Out'
      icon='button-logout'
      btn-mode='w100'
      icon-right=true
    }}
  </div>
</div>
