<div class="profile-chat">
  <div class="profile-chat__header">
    <span class="profile-chat__header-title">Messages</span>
  </div>

  <div class="profile-chat__inner">
    <div class="profile-chat__left">
      <div class="profile-chat__search">
        {{> blocks/profile/chat/chat-search}}
      </div>

      <div class="profile-chat__users">
        {{> blocks/profile/chat/chat-user
          image="user_01"
          title="Leslie Alexander"
          messages=2
        }}

        {{> blocks/profile/chat/chat-user
          image="user_02"
          title="Omar Mango"
          active=true
        }}

        {{> blocks/profile/chat/chat-user
          image="user_03"
          title="Kaiya Mango"
          messages=2
        }}

        {{> blocks/profile/chat/chat-user
          image="user_04"
          title="Emerson Geidt"
        }}

        {{> blocks/profile/chat/chat-user
          image="user_05"
          title="Zaire Carder"
        }}

        {{> blocks/profile/chat/chat-user
          image="user_06"
          title="Lindsey Westervelt"
        }}

        {{> blocks/profile/chat/chat-user
          image="user_01"
          title="Gustavo Rosser"
        }}
      </div>
    </div>

    <div class="profile-chat__right">
      {{> blocks/profile/chat/chat-header
        image="user_02"
        title="Omar Mango"
      }}

      {{> blocks/profile/chat/chat-window}}
    </div>
  </div>
</div>
