<div class="course-card {{#if big}}course-card--big{{/if}}">
  <a href="#" class="course-card__link"></a>
  <div class="course-card__inner">
    <div class="course-card__image">
      {{> widgets/course-card-image image=image big=big free=free original=original plus=plus plus-price=plus-price plus-price-old=plus-price-old added=added delete=delete}}
    </div>
    <div class="course-card__content">
      <span class="course-card__title">{{ title }}</span>
      <span class="course-card__author">{{ author }}</span>
      {{#if progress}}
        <div class="course-card__progress">
          <div class="course-card__progress-line">
            <i class="course-card__progress-value" style="width: {{progress}}%"></i>
          </div>
          {{> ui/btn color="blue" label="Start"}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
