<div class="course-card {{#if big}}course-card--big{{/if}} {{#if middle-mobile}}course-card--middle-mobile{{/if}}">
  <a href="course-overview.html" class="course-card__link"></a>
  <div class="course-card__inner">
    <div class="course-card__image">
      {{> widgets/course-card-image image=image big=big free=free original=original plus=plus plus-price=plus-price plus-price-old=plus-price-old added=added delete=delete}}
    </div>
    <div class="course-card__content">
      <div class="course-card__wrapper {{#if mod}}course-card__wrapper--h101px{{/if}}">
        <span class="course-card__title">{{ title }}</span>
        <span class="course-card__author">{{ author }}</span>
      </div>
      {{#if progress}}
        <div class="course-card__progress {{#if mod}}course-card__progress--mt7px{{/if}}">
          <div class="course-card__progress-line">
            <i class="course-card__progress-value" style="width: {{progress}}%"></i>
          </div>
          {{> ui/btn color="blue" label="Start"}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
