<div class="course-card">
  <div class="course-card__inner">
    <a href="#" class="course-card__link"></a>
    <div class="course-card__image">
      {{>components/image img=image ext="jpg"}}
    </div>
    <div class="course-card__content">
      <span class="course-card__title">{{ title }}</span>
      <span class="course-card__author">{{ author }}</span>
    </div>
  </div>
</div>
