<div class="course-card">
  <a href="#" class="course-card__link"></a>
  <div class="course-card__image {{#if original}}course-card__image--original{{/if}}">
    <button class="course-card__wish">
      {{> ui/svg name="course-wish"}}
    </button>
    {{>components/image img=image ext="jpg"}}
  </div>
  <div class="course-card__content">
    <span class="course-card__title">{{ title }}</span>
    <span class="course-card__author">{{ author }}</span>
  </div>
</div>
