<div class="exam-progress">
  <i class="exam-progress__item {{#ifCond value 1}}filled{{/ifCond}}"></i>
  <i class="exam-progress__item {{#ifCond value 1}}filled{{/ifCond}}  {{#ifCond value 2}}filled{{/ifCond}}"></i>
  <i class="exam-progress__item"></i>
  <i class="exam-progress__item"></i>
  <i class="exam-progress__item"></i>
  <i class="exam-progress__item"></i>
  <i class="exam-progress__item"></i>
  <i class="exam-progress__item"></i>
  <i class="exam-progress__item"></i>
  <i class="exam-progress__item"></i>
</div>
