<div class="feature">
  <div class="feature__icon">
    {{> widgets/icon }}
  </div>
  <span class="feature__title">{{{ title }}}</span>
  <p class="feature__text">{{{ text }}}</p>
  {{#if link}}
    <a href="#" class="feature__link">{{ link }}</a>
  {{/if}}
</div>
