<div class="notify-card">
  <div class="notify-card__title">{{title}}</div>
  <div class="notify-card__text">{{text}}</div>
  <div class="notify-card__btn">
    {{> ui/btn color="blue" label="Upgrade to student" btn-mode='stretched'}}
  </div>
</div>
