<div class="notify-card">
  <div class="notify-card__inner">
    <div class="notify-card__title"></div>
    <div class="notify-card__text"></div>
      {{> ui/btn color="blue" label="Upgrade to student"}}
  </div>
</div>