<div class="notify-card {{#if hide-mobile}}notify-card--hide-mobile{{/if}}">
  <div class="notify-card__title">{{title}}</div>
  <div class="notify-card__text">{{text}}</div>
  <div class="notify-card__btn">
    {{> ui/btn color="blue" label="Upgrade to student" btn-mode='w100'}}
  </div>
</div>
