<div class="pagination">
  <button class="pagination__prev" disabled></button>
  <button class="pagination__button pagination__button--current">1</button>
  <button class="pagination__button">2</button>
  <button class="pagination__button">3</button>
  <button class="pagination__next"></button>
</div>
