<div class="question">
  <span class="question__label">Question 1/10</span>
  <span class="question__title">1. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet? </span>
  <p class="question__text">Question description / Help text</p>
  <ul class="question__options">
    <li class="question__options-item">
      <b>A.</b>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    </li>
    <li class="question__options-item">
      <b>B.</b>Deserunt ullamco est sit aliqua dolor do amet sint.
    </li>
    <li class="question__options-item _active">
      <b>C.</b>Deserunt ullamco est sit aliqua dolor do amet sint.
    </li>
  </ul>
</div>
