<div class="report-overlay">
  <div class="report-overlay__item">
    <a href="#" class="report-overlay__link">Report on user</a>
  </div>

  <button class="report-overlay__btn">Delete from team</button>
</div>
