<div class="round-bar">
  <div class="round-bar__circle {{#if mod}}round-bar__circle--{{mod}}{{/if}}">
    <svg width="100%" height="100%" viewBox="0 0 38 38">
      <circle cx="50%" cy="50%" r="15.91549430918954" fill="transparent" stroke="#EAEAEA" stroke-width="5"></circle>
      <circle cx="50%" cy="50%" r="15.91549430918954" fill="transparent" stroke="currentColor" stroke-width="5"
              stroke-dasharray='{{progress}} {{math 100 "-" progress}}'
              stroke-dashoffset="25"
              stroke-linecap="round">
      </circle>
    </svg>
  </div>
  <span class="round-bar__value">
    {{progress}}%
  </span>
</div>
