<div class="round-bar">
  <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle r="21" transform="matrix(-1 0 0 1 24 24)" stroke="#42DB92" stroke-width="6" />
  </svg>
  <span class="round-bar__value">
    {{value}}
  </span>
</div>