<div class="search-input {{#if big}}search-input--big{{/if}}">
  <input class="search-input__input" value="{{value}}" autocomplete="off" type="text" name="q"
         placeholder="{{#if placeholder}}{{placeholder}}{{else}}What do you want to learn?{{/if}}"/>
  <i class="search-input__icon"></i>
</div>
