{{#if button}}
  <button class="social-button social-button--{{social}} {{#if small}}social-button--small{{/if}}"></button>
{{else}}
  <a href="#" class="social-button social-button--{{social}} {{#if small}}social-button--small{{/if}}"></a>
{{/if}}
