<div class="sort-select">
  <div class="sort-select__item">
    <button class="sort-select__button active">All Ratings</button>
  </div>
  <div class="sort-select__item">
    <button class="sort-select__button">Top Rated</button>
  </div>
  <div class="sort-select__item">
    <button class="sort-select__button">Last Rated</button>
  </div>
</div>
