<div class="submit-input {{#if search}}submit-input--search{{/if}} {{#if big}}submit-input--big{{/if}} {{#if mobile-button}}submit-input--mobile-button{{/if}}">
  <input type="text" class="submit-input__input" placeholder="{{placeholder}}">
  {{#if search}}
    <i class="submit-input__icon"></i>
  {{/if}}
  <div class="submit-input__button">
    {{#if label}}
      {{#if big}}
        {{> ui/btn button=true size="large" color="blue" label=label}}
      {{else}}
        {{> ui/btn button=true size="middle" color="blue" label=label}}
      {{/if}}
    {{else}}
      {{#if big}}
        {{> ui/btn button=true size="large" color="blue" label="Submit"}}
      {{else}}
        {{> ui/btn button=true size="middle" color="blue" label="Submit"}}
      {{/if}}
    {{/if}}
  </div>
</div>
