<div class="testimonial-card {{#if purple}}testimonial-card--purple{{/if}}">
  <p class="testimonial-card__body">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
    mollit. Exercitation veniam consequat sunt nostrud amet.
  </p>
  <div class="testimonial-card__author">
    <div class="testimonial-card__image">
      {{>components/image img=(concat "widgets/testimonial/" image) ext="jpg" no-2x=true}}
    </div>
    <div class="testimonial-card__info">
      <span class="testimonial-card__name">{{ name }}</span>
      <span class="testimonial-card__position">{{ position }}</span>
    </div>
  </div>
</div>
