<div class="upgrade-overlay">
  <i class="upgrade-overlay__icon"></i>
  <button class="upgrade-overlay__close"></button>
  <div class="upgrade-overlay__content">
    <p class="upgrade-overlay__text">
      To switch library’s language you need to upgrade your account
    </p>
  </div>

  <div class="upgrade-overlay__btn">
    {{> ui/btn color='orange' label="Upgrade to Student"}}
  </div>
</div>
