<div class="student-progress">
  <div class="student-progress__header">
    <h6 class="student-progress__title">Course Progress</h6>
    <a href="#" class="student-progress__link">See All</a>
  </div>

  <div class="student-progress__list">
    <div class="student-progress-list__item">

      <div class="student-progress__group">
        <div class="student-progress__course-name">Customizing Type with Draplin: Creating Wordmarks That Work</div>
        <div class="student-progress__label">
          <span class="student-progress__label-text">Lessons</span>
          <span class="student-progress__label-number"><i></i></span>
        </div>
      </div>

      <div class="student-progress__circle-bar">
        <span class="student-progress__circle-bar-number"></span>
      </div>
    </div>
  </div>
</div>