<div class="grid {{#if mobile-block}}grid--mobile-block{{/if}}">
  {{#if title}}
    <span class="grid__title">{{title}}</span>
  {{/if}}
  <div class="grid__inner">
    {{> @partial-block}}
  </div>
</div>
