{{#> modules/grid/_component title=title}}
  <div class="grid__cell">
    {{> widgets/course-card original=true title="Customizing Type with Draplin: Creating Wordmarks That Work" author="by Leo Workman"}}
  </div>
  <div class="grid__cell">
    {{> widgets/course-card original=true title="ODD BODIES: Illustrating Expressive, Stylized People" author="by Leo Workman"}}
  </div>
  <div class="grid__cell">
    {{> widgets/course-card original=true title="Fundamentals of DSLR Photography" author="by Leo Workman"}}
  </div>
  <div class="grid__cell">
    {{> widgets/course-card original=true title="Productivity Masterclass: Create a Custom System that Works" author="by Leo Workman"}}
  </div>
  <div class="grid__cell">
    {{> widgets/course-card original=true title="Fundamentals of DSLR Photography" author="by Leo Workman"}}
  </div>
  <div class="grid__cell">
    {{> widgets/course-card original=true title="Customizing Type with Draplin: Creating Wordmarks That Work" author="by Leo Workman"}}
  </div>
{{/modules/grid/_component}}
