{{#> modules/grid/_component title=title}}
  <div class="grid__cell">
    {{> widgets/instructor-card
            image="carousel/instructor_01" name="Jaydon Dorwart" position="Senior developer"
            course-title="Customizing Type with Draplin: Creating Wordmarks That Work"
            other-count=8
    }}
  </div>
  <div class="grid__cell">
    {{> widgets/instructor-card
            image="carousel/instructor_02" name="Zaire Saris" position="Senior developer"
            course-title="Productivity Masterclass: Create a Custom System that Works"
            other-count=12
    }}
  </div>
  <div class="grid__cell">
    {{> widgets/instructor-card
            image="carousel/instructor_03" name="Marilyn Lubin" position="Senior developer"
            course-title="ODD BODIES: Illustrating Expressive, Stylized People"
            other-count=3
    }}
  </div>
{{/modules/grid/_component}}
