.informer-tabs {
  display: flex;
  box-shadow: inset 0px -1px 0px #DAE4ED;

  &__tab {
    margin-left: 18px;
    padding: 10px 0;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $color-gray-light;
    cursor: default;

    &:first-child {
      margin-left: 0;
    }


    &.active {
      position: relative;
      font-weight: 600;
      font-size: 14px;
      color: $color-black;

      &:after {
        content: "";
        left: 0;
        right: 0;
        bottom: 0;
        height: 3px;
        background: $color-blue-dark;
        position: absolute;
      }
    }
  }
}
