.informer-hint {
  position: relative;
  padding: 10px 10px 10px 44px;
  background: rgba(66, 219, 146, 0.1);
  border-radius: 10px;

  &:before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    @include sprite('point-info');
  }

  &__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $color-green;
  }
}
