.info-card {
  padding: 20px;
  background: $color-white;
  box-shadow: 0px 9px 16px rgba(1, 64, 139, 0.08);
  border-radius: 12px;

  &__title {
    font-weight: 600;
    font-size: 16px;
  }
  &__content {
    margin-top: 8px;
  }
  &__feature {
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;

    // &--developer {
    //   @include sprite('developer');
    // }

    // &--education {
    //   @include sprite('education');
    // }
    // &--language {
    //   @include sprite('language');
    // }
    // &--country {
    //   @include sprite('country');
    // }
  }
  &__btn {
    margin-top: 16px;
  }
}
