.informer-list {
  margin-top: 10px;
  &__item {
    display: flex;
    align-items: center;
    line-height: 23px;
    margin-top: 9px;

    &:first-child {
      margin-top: 0;
    }

    &-name {
      margin-left: 10px;
      font-weight: normal;
      font-size: 16px;
      color: $color-dark;
    }

    &-time {
      margin-left: auto;
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.02em;
      color: $color-dark;
    }

    &:before {
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 100%;
    }

    &--blue {
      &:before {
        background: $color-blue;
      }
    }

    &--orange {
      &:before {
        background: $color-orange;
      }
    }

    &--green {
      &:before {
        background: $color-green;
      }
    }
  }
}
