.page-profile {
  padding-top: 24px;
  background: #f4f7fa;
  margin-bottom: -100px;

  @include smallTablet-and-mobile {
    margin-bottom: -60px;
  }

  &__inner {
    display: flex;

    @include smallTablet-and-mobile {
      display: block;
    }
  }

  &__left {
    margin-left: -80px;
    flex: 0 0 363px;
    max-width: 363px;

    @include smallTablet-and-mobile {
      margin-left: 0;
      max-width: none;
    }
  }

  &__main {
    margin-left: 50px;
    padding-bottom: 130px;
    flex-grow: 1;

    @include smallTablet-and-mobile {
      margin-left: 0;
    }
  }

}
