.page-profile {
  padding-top: 24px;
  background: #f4f7fa;
  margin-bottom: -100px;

  &__inner {
    display: flex;
  }

  &__left {
    margin-right: 50px;
    margin-left: -80px;
    flex: 0 0 363px;
    max-width: 363px;
  }

  &__main {
    padding-bottom: 20px;
    flex-grow: 1;
  }
}
