.profile-dashboard {
  position: relative;
  &__header {
    margin-top: 12px;
    padding-bottom: 16px;
    line-height: 43px;
    box-shadow: inset 0px -1px 0px #DAE4ED;

    &-title {
      font-weight: 600;
      font-size: 29px;
    }
  }

  &__info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    &-title {
      font-weight: 600;
      font-size: 16px;
      letter-spacing: 0.02em;
    }

    &-text {
      margin-top: 8px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      word-wrap: break-word;
      color: $color-gray-dark;
    }
  }

  &__btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__widgets {
    margin-top: 20px;
    float: right;
    margin-left: 50px;
    max-width: 283px;
  }

  &__widget {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
