.profile-socials {
  &__counters {
    display: flex;
  }

  &__counter {
    font-size: 14px;

    &-number {
      font-weight: 600;
      color: $color-blue;
    }

    &-text {
      font-weight: normal;
    }

    &:not(:first-child) {
      margin-left: 13px;
    }
  }

  &__networks {
    margin-top: 13px;
    display: flex;
  }

  &__link {
    margin-top: 8px;
    display: inline-block;
    color: $color-gray-dark;
    font-size: 14px;

    &:hover {
      color: $color-black;
    }
  }

  &__network {
    &:hover {
      opacity: 0.8;
    }

    &:not(:first-child) {
      margin-left: 14px;
    }

    &--twitter {
      @include sprite('social-twitter-sm');
    }

    &--facebook {
      @include sprite('social-facebook-sm');

    }

    &--instagram {
      @include sprite('social-instagram-sm');

    }

    &--youtube {
      @include sprite('social-youtube-sm');

    }
  }


}


