.profile-sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px 40px 40px 80px;
  height: 100%;
  border-radius: 0 12px 0 0;
  box-shadow: 5px 0 16px rgba(1, 64, 139, 0.08);

  @include smallTablet {
    padding: 20px 40px 40px;
    border-radius: 0;
  }

  &__block {
    padding: 20px 0;
    border-top: 1px solid #dae4ed;

    &:first-child {
      padding-top: 0;
      border-top: 0 none;
    }
  }

  &__nav {
    margin-top: -16px;
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;

    &-item {
      margin-top: 16px;
      padding-left: 8px;
      padding-right: 8px;
      flex: 1 0 50%;
      max-width: 50%;
    }
  }

  &__notify-card {
    margin-top: 20px;
  }

  &__bottom {
    margin-top: auto;
    padding-top: 20px;
  }
}
