.profile-dashboard {
  margin-top: 13px;
  padding-top: 20px;
  display: flex;
  border-top: 1px solid $color-gray;

  &__left {
    flex: 1 1 auto;
  }

  &__right {
    margin-left: 50px;
    flex: 0 0 283px;
    max-width: 283px;
  }

  &__widget {
    &:not(:first-child) {
      margin-top: 15px;
    }
  }
}
