.profile-counters {
  display: flex;

  &__counter {
    &:not(:first-child) {
      margin-left: 16px;
    }


    &-text {
      font-size: 14px;
      font-weight: normal;
      color: $color-gray-dark;
    }
  }

  &__item {
    margin-top: 8px;
    display: inline-flex;

    &-number {
      margin-left: 7px;
      font-weight: normal;
      font-size: 16px;
    }

    &-icon {
      &--green {
        color: $color-green;
      }

      svg {
        width: 5px;
      }
    }


  }
}
