.profile-user {
  display: flex;
  align-items: center;

  &__img {
    height: 72px;
    width: 72px;
    border-radius: 100%;
    overflow: hidden;
    filter: drop-shadow(0px 4px 14px rgba(1, 64, 139, 0.14));
  }

  &__info {
    margin-left: 14px;
  }

  &__name {
    display: block;
    font-size: 16px;
    font-weight: 600;
  }

  &__email {
    margin-top: 6px;
    display: block;
    color: $color-gray-dark;
    font-size: 14px;

    &:hover {
      color: $color-black;
    }
  }
}
