.progress-block {
  position: relative;
  padding: 15px 8px 15px 10px;
  border-top: 1px solid $color-gray;
  cursor: pointer;
  @include transition;

  &:hover {
    background: #e9eff5;
  }/**/

  &:first-child {
    border-top: 0 none;
  }

  &__inner  {
    padding-right: 50px;
  }

  &__course-name {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
  }

  &__round-bar {
    position: absolute;
    top: 10px;
    right: 8px;
  }

  &__counters {
    margin-top: 15px;
    display: inline-flex;
  }

  &__counter-text {
    margin-right: 5px;
    color: $color-gray-dark;
  }

  &__counter-passed {
    color: $color-blue;
  }

  &__counter-total {
    color: $color-blue;
  }

  &__btn {
    margin-top: 10px;
  }
}
