<div class="header-actions">
  <div class="header-actions__row">
    <div class="header-actions__item">
      <a href="#" class="header-actions__button header-actions__button--bell"></a>
    </div>
    <div class="header-actions__item">
      <a href="#" class="header-actions__button header-actions__button--messages header-actions__button--new"></a>
    </div>
    <div class="header-actions__item">
      <div class="header-actions__user">
        {{> components/image img="header/avatar" ext="jpg"}}

        {{#if instructor}}
          {{> components/image img="header/avatar-instructor" ext="jpg"}}
        {{/if}}
      </div>
    </div>
  </div>

  <div class="header-actions__mobile">
    <div class="header-actions__item">
      {{> ui/btn label="Logout" outline=true icon="button-logout"}}
    </div>
  </div>
</div>
