<div class="header-actions header-actions--authenticated">
  <div class="header-actions__item">
    <a href="#" class="header-actions__button header-actions__button--bell header-actions__button--new"></a>
  </div>
  <div class="header-actions__item">
    <a href="#" class="header-actions__button header-actions__button--messages header-actions__button--new"></a>
  </div>
  <div class="header-actions__item">
    <div class="header-actions__user">
      {{> components/image img="header/avatar" ext="jpg"}}
    </div>
  </div>
</div>
