<div class="header-actions">
  <div class="header-actions__row">
    <div class="header-actions__item">
      {{> ui/btn href="home-student.html" label="Sign In" outline=true}}
    </div>
    <div class="header-actions__item">
      {{> ui/btn label="Get Started for Free" href="signup.html" color="orange"}}
    </div>
  </div>
</div>
