<nav class="header-menu">
  <ul class="header-menu__nav">
    <li class="header-menu__item header-menu__item--dropdown js-header__dropdown">
      <span class="header-menu__item-link">Explore courses {{> ui/svg name="header-menu-arrow"}}</span>
      <div class="header-menu__dropdown">
        <ul class="header-menu__dropdown-list">
          <li class="header-menu__dropdown-item">
            <span class="header-menu__dropdown-title">Create</span>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Animation</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Creative Writing</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Film & Video</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Fine Art</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Graphic Design</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Animation</a>
          </li>
          <li class="header-menu__dropdown-item">
            <span class="header-menu__dropdown-title">Build</span>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Lifestyle</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Productivity</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Business Analytics</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Marketing</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Leadership & Management</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-link">Freelance & Entrepreneurship</a>
          </li>
          <li class="header-menu__dropdown-item">
            <a href="#" class="header-menu__dropdown-title">Sphere Title</a>
          </li>
          {{# times 4}}
            <li class="header-menu__dropdown-item">
              <a href="#" class="header-menu__dropdown-link">Category Title</a>
            </li>
          {{/times}}
        </ul>
      </div>
    </li>
    <li class="header-menu__item">
      <a href="home-plus.html" class="header-menu__item-link header-menu__item-link--plus">Ulearna<b>Plus</b></a>
    </li>
    <li class="header-menu__item">
      <a href="#" class="header-menu__item-link">Become an Instructor</a>
    </li>
  </ul>
</nav>
