<div class="header-language">
  <div class="header-language__select">
    <select class="visually-hidden js-link-select">
      <option value="en" selected data-display-label="Eng">English</option>
      <option value="ru" data-display-label="Рус">Russian</option>
      <!--
      <option value="en" selected data-display-label="Eng">English</option>
      <option value="ru" data-href="/ru" data-display-label="Рус">Russian</option>
      -->
    </select>
  </div>
  <span class="header-language__label">Library</span>
</div>
