<div class="header-actions">
  <div class="header-actions__row">
    <div class="header-actions__item">
      {{> ui/btn transparent=true href="home-student.html" label="Sign In"}}
    </div>
    <div class="header-actions__item">
      {{> ui/btn color="orange" label="Get Started for Free" href="signup.html"}}
    </div>
  </div>
</div>
