<div class="header-actions header-actions--guest">
  <div class="header-actions__item header__actions-item--mobile-visible">
    {{> ui/btn label="Sign In" outline=true}}
  </div>
  <div class="header-actions__item">
    {{> ui/btn label="Get Started for Free" href="signup.html" color="orange"}}
  </div>
</div>
