.home-students {
  margin: 120px 0;
  padding-bottom: 117px;

  &__inner {
    position: relative;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) translateX(-100%);
  }

  &__next {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%) translateX(100%);
  }

  &__scene {
    margin-left: -40px;

    position: relative;


    &:before {
      content: '';
      position: absolute;
      border-radius: 6px;
      width: 25px;
      height: 25px;
      background: $color-orange;
      display: block;
      top: 52px;
      right: -23px;
    }
  }

  &__scene-slider {
    margin-left: -50px;

    .swiper-slide {
      padding-left: 50px;
    }
  }

  &__slider {
    margin-top: 6px;
    padding-top: 40px;
    border-top: 1px solid $color-gray;
    position: relative;

    .swiper-slide {
      height: auto;
    }
  }

  &__navigation {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &__row {
    padding-top: 30px;
    padding-left: 25px;
    padding-bottom: 25px;
    margin-top: -30px;
    margin-bottom: -25px;
    padding-right: 20px;

    .feature {
      padding-right: 40px;
    }
  }

  &__cell {
    cursor: pointer;
    @include transition(all, 0.25s);
    padding: 16px 25px;
    height: 100%;

    &.hovered {
      background: #FFFFFF;
      box-shadow: 0px 4px 24px rgba(1, 64, 139, 0.24);
      border-radius: 12px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &-image {
      position: relative;

      img {
        max-height: 448px;
        box-shadow: 0px 4px 44px rgba(1, 64, 139, 0.24);
        border-radius: 10px;
        overflow: hidden;
      }

      padding: 39px 15px 33px 39px;
      width: 618px;
      height: 520px;

      &:before {
        content: '';
        @include fill;
        z-index: -1;
        background: url($images_dir + 'home/students/background.png');
        background-size: cover;
      }
    }

    &-content {
      margin-left: 87px;
      flex: 1 1 1px;
    }

    &-title {
      font-weight: bold;
      font-size: 56px;
      line-height: 84px;
      color: $color-black;
      display: block;
      max-width: 500px;
    }

    &-text {
      font-size: 18px;
      line-height: 150%;
      color: $color-dark;
      max-width: 500px;
      margin-top: 30px;
    }

    &-button {
      margin-top: 40px;
    }
  }
}
