.home-instructor {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    flex: 0 0 515px;
  }

  &-right {

  }

  &__icon {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      border-radius: 6px;
      width: 27px;
      height: 27px;
      right: -36px;
      top: -40px;
      display: block;
      background: $color-orange;
    }

    &:before {
      content: '';
      position: absolute;
      width: 94px;
      height: 94px;
      display: block;
      border-radius: 100%;
      background: rgba(242, 183, 30, 0.12);
      filter: blur(24px);
      left: -100px;
      top: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #000;
    display: block;
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    color: $color-dark;
    display: block;
    margin-top: 30px;
  }

  &__button {
    margin-top: 40px;
  }

  &__ways {
    &-splitter {
      height: 1px;
      background: $color-gray;
      margin-bottom: 40px;
      margin-top: 40px;
      width: 100%;
      display: block;
      border: 0 none;
    }

    &-title {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 38px;
      line-height: 57px;
      color: $color-blue;
    }

    &-row {
      display: flex;
      margin-top: 52px;
      margin-left: -45px;
      margin-right: -45px;
      padding: 0 20px;
    }

    &-cell {
      flex: 1 1 1px;
      padding: 0 45px;
    }

    &-footer {
      margin-top: 35px;
      display: flex;
      justify-content: center;
    }
  }
}
