.home-testimonials {
  position: relative;

  margin: 120px 0;
  @include tablet {
    margin: 80px 0;
  }
  @include mobile {
    margin: 60px 0;
  }

  &__bg {
    @include fill;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__inner {
    position: relative;
  }

  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    color: #000;
    display: block;

    @include tablet-and-mobile {
      font-size: 34px;
      line-height: 51px;
    }

    @include mobile {
      font-size: 22px;
      line-height: 33px;
      text-align: left;
    }

    span {
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        display: block;
      }

      &:before {
        width: 28px;
        height: 28px;
        border-radius: 100%;
        background: $color-orange;
        left: -160px;
        top: -10px;
      }

      &:after {
        border-radius: 6px;
        width: 21px;
        height: 21px;
        background: $color-blue;
        left: -140px;
        top: 30px;
      }
    }
  }

  &__row {
    display: flex;
    max-width: 1206px;
    margin: 60px auto 0;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      display: block;
    }

    @include tablet-and-mobile {
      margin-top: 40px;
    }
  }

  @include mobile {
    .swiper-pagination {
      margin-top: 30px;
    }

    .swiper-container {
      margin: 0 -15px;
    }
  }

  &__icon {
    position: absolute;
    display: block;

    @include tablet-and-mobile {
      display: none !important;
    }

    &--1 {
      @include square(28px, $color-purple, 6px);
      right: 21px;
      bottom: 111px;
    }

    &--2 {
      @include square(21px, $color-purple-30, 6px);
      border-radius: 6px;
      bottom: 76px;
      right: 78px;
    }

    &--plus {
      @include square(32px, $color-purple, 6px);

      &:before, &:after {
        content: '';
        @include align(true, true);
        width: 3.92px;
        height: 18.29px;
        background: $color-white;
        border-radius: 50%;
      }

      &:after {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }
  }

  &__cell {
    padding: 0 25px;
    @include no-mobile {
      flex: 1 1 1px;
    }

    @include tablet {
      padding: 0 10px;
    }

    @include mobile {
      padding: 0 15px;
    }
  }

  &__cta {
    margin-top: 50px;
    display: flex;
    justify-content: center;

    @include mobile {
      display: none;
    }
  }
}
