.home-mobile {
  margin: 120px 0;

  &__inner {
    display: flex;
  }

  &__left {
    margin-right: 80px;
    width: 481px;
    min-width: 481px;
    margin-left: 60px;
    margin-top: 20px;
  }

  &__right {
    flex: 1 1 1px;
    position: relative;
    height: 619px;
  }

  &__image{
    position: absolute;
    left: 0;
    top: -38px;
    bottom: 0;
    width: 824px;
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    display: block;
    margin: 0;
    color: $color-black;
    max-width: 400px;
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    display: block;
    margin-top: 16px;
    color: $color-dark;
  }

  &__form {
    margin-top: 30px;
  }

  &__note {
    margin-top: 16px;
    display: block;
    font-size: 14px;
    line-height: 140%;
    color: $color-gray-dark;
  }
}
