.home-students {
  margin: 120px 0;
  padding-bottom: 120px;

  &__inner{
    position: relative;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) translateX(-100%);
  }

  &__next {
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%) translateX(100%);
  }

  &__slider {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid $color-gray;
    position: relative;
  }

  &__navigation{
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &__cell {
    padding: 0 20px;
    .feature{
      width: 354px;
      padding-right: 50px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &-image {
      position: relative;

      &:before {
        content: '';
        position: absolute;
        left: -59px;
        right: -29px;
        top: -54px;
        bottom: -26px;
        z-index: -1;
        background: url($images_dir + 'home/students/background.png');
      }
    }

    &-content {
      margin-left: 100px;
    }

    &-title {
      font-weight: bold;
      font-size: 56px;
      line-height: 84px;
      color: $color-black;
    }

    &-text {
      font-size: 18px;
      line-height: 150%;
      color: $color-dark;
    }

    &-button {
      margin-top: 40px;
    }
  }

}
