.home-mobile {
  margin-bottom: 120px;
  margin-top: -120px;
  padding-top: 120px;
  overflow: hidden;

  @include tablet {
    margin-bottom: 80px;
    margin-top: -80px;
    padding-top: 80px;
  }

  @include smallTablet-and-mobile {
    margin-bottom: 0;
  }

  &__inner {
    display: flex;

    @include smallTablet-and-mobile {
      display: block;
    }
  }

  &__left {
    margin-right: 80px;
    width: 481px;
    min-width: 481px;
    margin-left: 60px;
    margin-top: 20px;

    @include tablet-and-mobile {
      margin-left: 0;
    }

    @include tablet {
      width: 414px;
      min-width: 414px;
    }

    @include smallTablet-and-mobile {
      width: auto;
      min-width: 0;
      margin-right: 0;
    }
  }

  &__right {
    flex: 1 1 1px;
    position: relative;
    height: 619px;
    @include tablet {
      height: 485px;
    }
    @include smallTablet-and-mobile {
      height: auto;
    }
  }

  &__image {
    @include no-smallTablet {
      position: absolute;
      right: -210px;
      top: -38px;
      bottom: 0;
      width: 824px;

      img {
        max-height: 100%;
      }
    }

    @include tablet {
      width: 650px;
    }

    @include smallTablet-and-mobile {
      width: auto;
      display: flex;
      justify-content: center;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    display: block;
    margin: 0;
    color: $color-black;
    max-width: 400px;

    @include tablet-and-mobile {
      font-size: 36px;
      line-height: 54px;
    }

    @include smallTablet-and-mobile {
      max-width: none;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    display: block;
    margin-top: 16px;
    color: $color-dark;

    @include tablet-and-mobile {
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__form {
    margin-top: 30px;
  }

  &__note {
    margin-top: 16px;
    display: block;
    font-size: 14px;
    line-height: 140%;
    color: $color-gray-dark;
  }
}
