.home-categories {
  background: $color-blue-light;
  padding: 60px 0;
  overflow: hidden;

  @include smallTablet-and-mobile {
    padding: 0 0 40px 0;
  }

  &__inner {
    display: flex;

    @include desktop {
      padding-left: 55px;
      margin-right: -100px;
    }

    @include smallTablet-and-mobile {
      flex-wrap: wrap;
    }

    @include small-desktop {
      margin-right: 0;
      padding-left: 20px;
    }
  }

  &__cell {
    @include no-smallTablet {
      flex: 1 1 1px;
    }

    @include smallTablet-and-mobile {
      flex-basis: 50%;
      padding-top: 40px;
    }

    @include mobile320 {
      flex-basis: 100%;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: block;
  }

  &__list {
    margin-top: 10px;
  }

  &__item {
    margin-top: 2px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 0;
    display: inline-block;
    color: $color-black;

    &:hover {
      color: $color-blue;
    }
  }

  &__more {
    margin-top: 16px;
    display: inline-block;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $color-blue;

    &:hover {
      color: $color-blue-hover;
    }
  }
}
