.home-instructor {
  margin: 120px 0;
  @include tablet{
    margin: 80px 0;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include desktop1280{
      padding: 0 40px;
    }

    @include smallTablet-and-mobile{
      display: block;
    }
  }

  &__left {
    flex: 0 0 515px;

    @include tablet{
      flex-basis: 350px;
    }
  }

  &-right {

  }

  &__ways{
    overflow: hidden;
  }

  &__image{
    position: relative;
    width: 564px;
    height: 448px;
    margin-top: 33px;

    img{
      box-shadow: 0px 4px 44px rgba(1, 64, 139, 0.24);
      border-radius: 10px;
      overflow: hidden;
    }

    &:before{
      content: '';
      position: absolute;
      z-index: -1;
      top: -31px;
      left: -35px;
      right: -39px;
      bottom: -46px;
      background: url($images_dir + 'home/instructor/background.png');

      @include tablet-and-mobile{
        display: none;
      }
    }
  }

  &__icon {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;

    &:after {
      content: '';
      position: absolute;
      border-radius: 6px;
      width: 27px;
      height: 27px;
      right: -34px;
      top: -32px;
      display: block;
      background: $color-orange;
    }

    &:before {
      content: '';
      position: absolute;
      width: 94px;
      height: 94px;
      display: block;
      border-radius: 100%;
      background: rgba(242, 183, 30, 0.12);
      filter: blur(24px);
      left: -100px;
      top: 0;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #000;
    display: block;

    @include tablet-and-mobile{
      font-size: 36px;
      line-height: 54px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    color: $color-dark;
    display: block;
    margin-top: 30px;

    @include tablet-and-mobile{
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__button {
    margin-top: 40px;

    @include tablet-and-mobile{
      margin-top: 30px;
    }
  }

  &__ways {
    &-splitter {
      height: 1px;
      background: $color-gray;
      margin-bottom: 40px;
      margin-top: 51px;
      width: 100%;
      display: block;
      border: 0 none;
    }

    &-title {
      display: block;
      text-align: center;
      font-weight: bold;
      font-size: 38px;
      line-height: 57px;
      color: $color-blue;

      @include tablet-and-mobile{
        font-size: 34px;
        line-height: 51px;
        text-align: left;
      }
    }

    &-row {
      display: flex;
      margin-top: 52px;
      margin-left: -45px;
      margin-right: -45px;
      padding: 0 20px;

      @include tablet-and-mobile{
        margin-top: 40px;
        padding: 0;
      }

      @include tablet{
        margin-left: -20px;
        margin-right: -20px;
      }
    }

    &-cell {
      flex: 1 1 1px;
      padding: 0 45px;

      @include tablet{
        padding: 0 30px;
      }
    }

    &-footer {
      margin-top: 33px;
      display: flex;
      justify-content: center;
    }
  }
}
