.home-students {
  overflow: hidden;

  padding-bottom: 117px;
  @include smallTablet-and-mobile {
    padding-bottom: 50px;
  }
  @include mobile {
    padding-bottom: 0;
  }

  margin: 120px 0;
  @include tablet {
    margin: 80px 0;
  }
  @include mobile {
    margin: 60px 0;
  }

  &__inner {
    position: relative;
  }

  &__prev {
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) translateX(-100%);

    @include small-desktop {
      left: 30px;
    }

    @include desktop1280 {
      left: 50px;
    }

    @include tablet-and-mobile {
      display: none;
    }
  }

  &__next {
    @include tablet-and-mobile {
      display: none;
    }

    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%) translateX(100%);

    @include small-desktop {
      right: 30px;
    }

    @include desktop1280 {
      right: 50px;
    }
  }

  &__scene {
    margin-left: -40px;
    position: relative;

    @include tablet {
      margin-left: -100px;
    }

    @include mobile {
      margin: 0 -15px;
    }

    @include small-desktop {
      margin-left: 0;
    }

    &:before {
      content: '';
      position: absolute;
      border-radius: 6px;
      width: 25px;
      height: 25px;
      background: $color-orange;
      display: block;
      top: 52px;
      right: -23px;

      @include mobile {
        display: none;
      }
    }
  }

  &__scene-slider {
    margin-left: -50px;

    .swiper-slide {
      padding-left: 50px;
      @include mobile {
        padding: 0;
      }
    }

    @include mobile {
      margin: 0;
      padding: 0;
    }
  }

  &__slide {
    display: none;

    &.visible {
      display: block;
    }
  }

  &__slider {
    margin-top: 6px;
    padding-top: 40px;
    border-top: 1px solid $color-gray;
    position: relative;

    .swiper-slide {
      height: auto;
    }

    @include small-desktop {
      padding-left: 35px;
      padding-right: 35px;
    }

    @include desktop1280 {
      padding-left: 55px;
      padding-right: 55px;
    }

    @include mobile {
      border-top: 0 none;
      padding-top: 0;
    }
  }

  &__navigation {
    margin-top: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &__row {
    padding-top: 30px;
    padding-bottom: 25px;
    margin-top: -30px;
    margin-bottom: -25px;

    @include desktop {
      padding-left: 25px;
      padding-right: 20px;
    }

    .feature {
      padding-right: 40px;
    }

    @include reset-slider-container-tablet;

    @include mobile {
      margin-left: -15px;
      margin-right: -15px;
    }

    .swiper-wrapper {
      @include tablet {
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: -25px;
        margin-bottom: -25px;
      }
    }

    .swiper-slide {
      @include tablet {
        width: 350px;
      }
    }
  }


  &__row {
    @include mobile {
      margin-top: 30px;
      padding-top: 0;
    }
  }

  &__cell {
    cursor: pointer;
    @include transition(all, 0.25s);
    padding: 16px 25px;
    height: 100%;

    @include no-mobile {
      &.hovered {
        background: #FFFFFF;
        box-shadow: 0px 4px 24px rgba(1, 64, 139, 0.24);
        border-radius: 12px;
      }
    }

    @include mobile {
      padding: 0 15px;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @include smallTablet {
      padding-bottom: 50px;
    }

    @include mobile {
      flex-direction: column-reverse;
      align-items: flex-start;
      padding-bottom: 50px;
      position: relative;
    }

    &-image {
      position: relative;

      img {
        max-height: 448px;
        box-shadow: 0px 4px 44px rgba(1, 64, 139, 0.24);
        border-radius: 10px;
        overflow: hidden;

        @include mobile {
          max-height: 100%;
        }
      }

      padding: 39px 15px 33px 39px;
      width: 618px;
      height: 520px;

      @include smallTablet-and-mobile {
        padding: 0;
        width: auto;
        height: auto;
      }

      @include mobile {
        height: auto;
        padding: 0 15px 40px 15px;
        display: flex;
        justify-content: center;
        width: 100%;

        img {
          max-height: 265px;
        }
      }

      &:before {
        content: '';
        @include fill;
        z-index: -1;
        background: url($images_dir + 'home/students/background.png');
        background-size: cover;

        @include smallTablet-and-mobile {
          display: none;
        }
      }
    }

    &-content {
      margin-left: 87px;
      flex: 1 1 1px;

      @include small-desktop {
        margin-left: 50px;
      }

      @include tablet {
        margin-left: 50px;
      }

      @include mobile {
        margin: 0 0 30px 0;
        padding: 0 15px;
        width: 100%;
      }
    }

    &-title {
      font-weight: bold;
      font-size: 56px;
      line-height: 84px;
      color: $color-black;
      display: block;
      max-width: 500px;

      @include tablet {
        font-size: 36px;
        line-height: 54px;
      }

      @include mobile {
        font-size: 28px;
        line-height: 42px;
      }
    }

    &-text {
      font-size: 18px;
      line-height: 150%;
      color: $color-dark;
      max-width: 500px;
      margin-top: 30px;

      @include tablet-and-mobile {
        font-size: 14px;
        line-height: 21px;
      }

      @include mobile {
        margin-top: 20px;
      }
    }

    &-button {
      margin-top: 40px;

      @include mobile {
        .btn {
          width: 100%;
        }
        position: absolute;
        left: 15px;
        right: 15px;
        bottom: 0;
      }
    }
  }

  .swiper-pagination {
    @include mobile {
      margin-top: 30px;
    }
  }
}
