<section class="hero">
    <div class="hero__bg">
{{>components/image img="" mobile-img="" smalltablet-img="" tablet-img="" ext="png"}}
    </div>
    <div class="hero__inner container">
      <div class="hero__content">

      </div>
    </div>
</section>
