<section class="home-video">
  <div class="home-video__overlay"></div>
  <div class="home-video__bg">
    {{>components/image img="home/video-bg" mobile-img="home/video-bg-mobile" ext="png" no-2x=true}}
  </div>
  <button class="home-video__watch">
    Watch Full Video
  </button>
  <div class="container">
    <div class="home-video__inner">
      <span class="home-video__title">Join <strong class="home-video__title-bold">Ulearna</strong> to watch, read, learn, create, debate ideas and Inspire</span>
      <div class="home-video__cta">
        {{> ui/btn size="large" color="orange" label="Get Started For Free"}}
      </div>
    </div>
  </div>
  <button class="home-video__scroll js-scroll-to" data-target=".home-featured"></button>
</section>
