{{#> blocks/common/section-background image="home/video-bg" shape=true}}
  <div class="home-video">
    <a href="https://www.youtube.com/watch?v=ze_ie8Ctp60" target="_blank" data-youtube-id="ze_ie8Ctp60"
       class="js-video-link home-video__watch">
      Watch Full Video
    </a>
      <span class="home-video__title">Join <strong class="home-video__title-bold">Ulearna</strong> to watch, read, learn, create, debate ideas and Inspire</span>
      <div class="home-video__cta">
        {{> ui/btn size="large" color="orange" label="Get Started For Free"}}
      </div>
    <button class="home-video__scroll js-scroll-to" data-target=".home-featured"></button>
  </div>
{{/blocks/common/section-background}}
