<section class="home-featured">
  <div class="container">
    <h2 class="home-featured__title">Featured courses in Ulearna</h2>
    <div class="home-featured__row">
      <div class="tabs-carousel js-tabs-slider">
        <div class="tabs">
          <div class="tabs__item">
            <a href="#" class="tabs__link active">All Categories</a>
          </div>
          <div class="tabs__item">
            <a href="#" class="tabs__link">Business</a>
          </div>
          <div class="tabs__item">
            <a href="#" class="tabs__link">Category</a>
          </div>
          <div class="tabs__item">
            <a href="#" class="tabs__link">Category</a>
          </div>
          <div class="tabs__item">
            <a href="#" class="tabs__link">Category</a>
          </div>
          <div class="tabs__item">
            <a href="#" class="tabs__link">Category</a>
          </div>
        </div>
      </div>
    </div>
    <div class="home-featured__bottom">
      {{> ui/btn outline=true color="black" label="Explore all Courses"}}
    </div>
  </div>
</section>
