<section class="home-students js-home-students">
  <div class="container">
    <div class="home-students__scene">
      <div class="home-students__scene-slider swiper-container js-home-students__scene">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="home-students__slide">
              <div class="home-students__item">
                <div class="home-students__item-image">
                  {{>components/image img="home/students/item_01" ext="jpg" no-lazy=true}}
                </div>
                <div class="home-students__item-content">
                  <span class="home-students__item-title">Ulearna for&nbsp;students</span>
                  <p class="home-students__item-text">Student option promo. Student option promo text</p>
                  <div class="home-students__item-button">
                    {{> ui/btn size="large" color="blue" label="Get Started for Free"}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="home-students__slide">
              <div class="home-students__item">
                <div class="home-students__item-image">
                  {{>components/image img="home/students/item_02" ext="jpg" no-lazy=true}}
                </div>
                <div class="home-students__item-content">
                  <span class="home-students__item-title">Achieve your rewards</span>
                  <p class="home-students__item-text">Get shareable certificates of completion as you pass the course exam.</p>
                  <div class="home-students__item-button">
                    {{> ui/btn size="large" color="orange" label="Get Started for Free"}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="home-students__slide">
              <div class="home-students__item">
                <div class="home-students__item-image">
                  {{>components/image img="home/students/item_03" ext="jpg" no-lazy=true}}
                </div>
                <div class="home-students__item-content">
                  <span class="home-students__item-title">Read exclusive content</span>
                  <p class="home-students__item-text">Explore world-class publications from inspiring writers. Follow and share the topics you love.</p>
                  <div class="home-students__item-button">
                    {{> ui/btn size="large" color="purple" label="Get Started for Free"}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="home-students__slide">
              <div class="home-students__item">
                <div class="home-students__item-image">
                  {{>components/image img="home/students/item_04" ext="jpg" no-lazy=true}}
                </div>
                <div class="home-students__item-content">
                  <span class="home-students__item-title">Join the conversation</span>
                  <p class="home-students__item-text">Ask and get answers in the community. Engage with instructors directly.</p>
                  <div class="home-students__item-button">
                    {{> ui/btn size="large" color="orange" label="Get Started for Free"}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="home-students__slide">
              <div class="home-students__item">
                <div class="home-students__item-image">
                  {{>components/image img="home/students/item_05" ext="jpg" no-lazy=true}}
                </div>
                <div class="home-students__item-content">
                  <span class="home-students__item-title">Go extra mile</span>
                  <p class="home-students__item-text">Get additional classes in the subjects that matter to you.</p>
                  <div class="home-students__item-button">
                    {{> ui/btn size="large" color="blue" label="Get Started for Free"}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="home-students__slide">
              <div class="home-students__item">
                <div class="home-students__item-image">
                  {{>components/image img="home/students/item_06" ext="jpg" no-lazy=true}}
                </div>
                <div class="home-students__item-content">
                  <span class="home-students__item-title">Ulearna<b>Plus</b></span>
                  <p class="home-students__item-text">Ulearna+ Short Description</p>
                  <div class="home-students__item-button">
                    {{> ui/btn size="large" color="purple" label="Get Started for Free"}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="home-students__slider">
      <div class="home-students__prev">
        <button class="button-nav button-nav--prev js-home-students__prev"></button>
      </div>
      <div class="home-students__next">
        <button class="button-nav button-nav--next js-home-students__next"></button>
      </div>

      <div class="home-students__row swiper-container js-home-students__slider">

        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="home-students__cell js-home-students__cell">
              {{> widgets/feature
                      icon="home/students/icon_01"
                      title="Discover our unrivalled courses libraries"
                      text="Study any subject in our extensive multilanguage libraries with the cutting-edge resources at hand."
              }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-students__cell js-home-students__cell">
              {{> widgets/feature
                      icon="home/students/icon_02"
                      title="Achieve your rewards"
                      text="Get shareable certificates of completion as you pass the course exam."
              }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-students__cell js-home-students__cell">
              {{> widgets/feature
                      icon="home/students/icon_03"
                      title="Read exclusive content"
                      text="Explore world-class publications from inspiring writers. Follow and share the topics you love."
              }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-students__cell js-home-students__cell">
              {{> widgets/feature
                      icon="home/students/icon_04"
                      title="Join the conversation"
                      text="Ask and get answers in the community. Engage with instructors directly."
              }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-students__cell js-home-students__cell">
              {{> widgets/feature
                      icon="home/students/icon_05"
                      title="Go extra mile"
                      text="Get additional classes in the subjects that matter to you."
              }}
            </div>
          </div>
          <div class="swiper-slide">
            <div class="home-students__cell js-home-students__cell">
              {{> widgets/feature
                      icon="home/students/icon_06" color="purple"
                      title="Ulearna<b>Plus</b>"
                      text="Ulearna+ Short Description"
                      link="More About UlearnaPlus"
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
