<section class="home-instructor">
  <div class="container">

  </div>
  <div class="home-instructor__ways">
    <div class="container">
      <hr class="home-instructor__ways-splitter"/>
      <h3 class="home-instructor__ways-title">Monetise your passion for teaching in multiple ways</h3>
      <div class="home-instructor__ways-row">
        <div class="home-instructor__ways-cell">
          {{> widgets/feature
                  icon="home/instructor/way_01"
                  title="Set your own rules"
                  text="Sell your course on Ulearna plus or earn revenue based on the course watch time on Ulearna premium."
                  link="More About UlearnaPlus"
          }}
        </div>
        <div class="home-instructor__ways-cell">
          {{> widgets/feature
                  icon="home/instructor/way_02"
                  title="Get additional income"
                  text="Offer extra classes and choose your own fee per hour or per class."
          }}
        </div>
        <div class="home-instructor__ways-cell">
          {{> widgets/feature
                  icon="home/instructor/way_03"
                  title="Share your writing"
                  text="Write articles on the topics you care about and earn based on the premium read time."
          }}
        </div>
        <div class="home-instructor__ways-cell">
          {{> widgets/feature
                  icon="home/instructor/way_04"
                  title="Engage with students directly"
                  text="Offer live sessions and mentor your students throughout the journey of learning."
          }}
        </div>
      </div>
      <div class="home-instructor__ways-footer">
        {{> ui/btn outline=true color="black" label="More About Ulearna for Instructor"}}
      </div>
    </div>
  </div>
</section>
