<section class="home-mobile">
  <div class="container">
    <div class="home-mobile__inner">
      <div class="home-mobile__left">
        <h2 class="home-mobile__title">Ulearna App for mobile learning</h2>
        <p class="home-mobile__text">Upload courses, watch video lessons and much more</p>
        <form action="#">
          <div class="home-mobile__form">
            {{> widgets/submit-input placeholder="Your Email" label="Sign Up For A Demo"}}
          </div>
        </form>
        <span class="home-mobile__note">
          We send you an invite to download our app desctiorion text
        </span>
      </div>
      <div class="home-mobile__right">
        <div class="home-mobile__image">
          {{>components/image img="home/mobileapp" mobile-img="home/mobileapp" ext="png" no-lazy=true}}
        </div>
      </div>
    </div>
  </div>
</section>
