<div class="discussion">
  <div class="discussion__header">
    <div class="discussion__header-left">
      {{> widgets/search-input placeholder="Search in discussions" big=true }}
    </div>
    <div class="discussion__header-right">
      {{> widgets/pagination }}
    </div>
  </div>
  <div class="discussion__list">
    <div class="discussion__message">
      {{> widgets/comment
              image="avatars/01" name="You, Ali Kazai" date="1 day ago"
              message="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet."
      }}
    </div>

    <div class="discussion__message">
      {{> widgets/comment
              image="avatars/02" name="Omar Mango" date="1 day ago"
              message="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint."
      }}
    </div>

    <div class="discussion__message">
      {{> widgets/comment
              image="avatars/03" name="Madelyn Kenter" date="1 day ago"
              message="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet."
      }}
    </div>
  </div>
  <div class="discussion__pagination">
    {{> widgets/pagination }}
  </div>
</div>
