<div class="discuss-form">
  <span class="discuss-form__title">Start Discuss</span>
  <div class="discuss-form__inner">
    {{> widgets/comment image="avatars/01" form=true name="You, Leslie Alexander"}}
  </div>
  <div class="discuss-form__button">
    {{> ui/btn color="blue" label="Post Message"}}
  </div>
</div>
