<section class="section section--background{{#if up}} section--up{{/if}} {{#if overflow}}section--overflow{{/if}}">
  <div class="section__background">
    {{> components/image img=image img-mobile=(concat image '-mobile')  ext="jpg" no-2x=true}}
  </div>
  <div class="section__inner">
    <div class="container">
      {{> @partial-block }}
    </div>
  </div>
</section>
