.header.opened {
  z-index: 10;
  background: $color-white;

  .header-language {
    position: absolute;
    top: 10px;
    left: 15px;
    right: 15px;

    @include tablet {
      left: 30px;
      right: 30px;
    }

    z-index: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;

    &__label {
      margin-left: 0;
      margin-bottom: 5px;

      display: none;

      &--opened {
        display: block;
      }
    }

    &__select {
      width: 100%;

      .select {
        width: 100%;
      }

      .select__input {
        width: 100%;
      }
    }
  }

  .header {
    &__burger {
      position: fixed;
      right: 10px;
      @include tablet {
        right: 25px;
      }
      top: 17px;
      display: block;
      z-index: z(default) + 1;
      transform: none;

      &:after {
        @include sprite('header-close');
      }
    }

    &__search-toggle {
      position: fixed;
      right: 50px;
      @include tablet{
        right: 65px;
      }
      top: 17px;
      display: block;
      z-index: z(default) + 1;
      transform: none;
      @include sprite('search-mobile');
    }

    &__search {

      &.visible {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $color-white;
        z-index: 11;
        display: block;
      }

      &-header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        display: flex;
        align-items: center;

        padding: 10px 30px;
        @include mobile {
          padding: 10px 15px;
        }
      }

      &-intro {
        font-size: 12px;
        line-height: 150%;
        color: $color-gray-dark;
      }

      &-results {
        margin-top: 10px;

        &-item {
          padding: 6px 0px;
          @include mobile {
            padding: 6px 0px;
          }
          font-size: 14px;
          line-height: 21px;
          color: $color-dark;
        }
      }

      &-body {
        padding: 10px 30px;
        position: fixed;
        left: 0;
        right: 0;
        top: 60px;
        bottom: 0;
        z-index: 11;
        overflow: auto;
        @include mobile {
          padding: 10px 15px;
        }
      }

      &-input {
        flex: 1 1 1px;

        .search-input__input {
          height: 44px;
        }
      }

      &-close {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        text-align: right;
        letter-spacing: 0.02em;
        color: $color-gray-dark;
        margin-left: 12px;
      }
    }


    &__logo {
      position: fixed;
      top: 10px;
      left: 15px;
      @include tablet {
        left: 30px;
      }
    }

    &__wrapper {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: z(default);
      background: $color-white;
    }

    &__inner {
      display: flex;
      flex-direction: column;
      overflow: auto;
      position: absolute;
      padding: 0;
      top: 60px;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &__left {
      padding-left: 16px;
    }

    &__center {
      display: block;
      margin: 0 0 0 0;

      padding: 0 30px;
      @include mobile {
        padding: 0 15px;
      }

      width: 100%;
    }

    &__right {
      display: block;
      width: 100%;
    }

    &__actions {
      display: flex;
      flex-direction: column-reverse;
      margin-top: auto;
      padding: 20px 15px;
      @include tablet {
        padding: 20px 30px;
      }
      margin-left: 0;

      &-item {
        margin: 0 0 20px 0;

        &:first-child {
          margin-bottom: 0;
        }

        .btn {
          width: 100%;
          display: block;
        }

        display: block !important;
      }
    }
  }

  .header-menu {
    margin-top: 90px;

    .no-language & {
      margin-top: 0;
    }

    &__nav {
      display: block;
      margin: 0;
    }

    &__item {
      margin: 0;
      padding: 0;

      &:first-child {
        margin-top: 0;
      }

      &-link {
        width: 100%;
        margin: 0;
        color: $color-black;

        svg {
          color: $color-blue;
          @include transition(transform, 0.3s);
        }
      }

      &--dropdown {
        .header-menu__item-link {
          justify-content: space-between;
        }
      }

      &.opened {
        .header-menu__dropdown {
          display: block;
        }

        .header-menu__item-link svg {
          transform: rotate(180deg);
        }
      }
    }

    &__dropdown {
      display: none;

      &.animate {
        position: relative;
        display: block;
        height: 0;
        overflow: hidden;
        transition: height .32s ease;
      }
    }
  }
}
