.header {
  z-index: 2;

  &__search-toggle, &__search {
    display: none;
  }

  &__language {
    position: relative;

    .language-overlay {
      @include no-smallTablet {
        position: absolute;
        right: 40px;
        top: 100%;
        margin-top: 5px;
      }
    }
  }

  &__logo {
    @include sprite('logo');
    @include tablet {
      @include sprite('logo-tablet');
    }
    @include mobile {
      @include sprite('logo-mobile');
    }
  }

  &__language-mobile {
    display: none;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 27px 0;
    @include tablet-and-mobile {
      padding: 12px 0;
    }

    .header--authenticated & {
      padding: 26px 0;
      @include tablet-and-mobile {
        padding: 11px 0;
      }
    }

    @include tablet-and-mobile {
      position: relative;
    }
  }

  &__burger {
    display: none;
    @include tablet-and-mobile {
      display: block;
    }

    position: absolute;
    width: 24px;
    height: 24px;
    @include align(false, true);
    z-index: 1;

    &:after {
      content: '';
      @include sprite('burger');
      @include align(true, true);
    }
  }

  &__center {
    flex: 1 1 1px;
    margin-left: 44px;

    @include tablet-and-mobile {
      display: none;
    }
  }

  &__actions {
    display: flex;
    margin-left: 30px;
  }

  &__left {
    @include tablet {
      margin-left: 45px;
    }
    @include mobile {
      margin-left: 40px;
    }
  }

  &__right {
    display: flex;
    align-items: center;

    &-search {
      margin-right: 25px;

      &-button {
        @include sprite('search-mobile');

        &:hover {
          opacity: .85;
        }
      }

      @include mobile {
        margin-right: 0;
        position: absolute;
        display: block;
        right: 0;
        top: 21px;
      }

      .opened & {
        display: none;
      }
    }
  }

  &--with-shadow {
    box-shadow: 0 4px 14px rgba(1, 64, 139, 0.14);
  }
}
