.header-actions {
  &__row {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }

    @include mobile {
      margin-left: 10px;
    }
  }

  &__button {
    @include square(40px, $color-blue-12, 10px);
    position: relative;

    @include mobile {
      background: transparent;
    }

    &:before {
      content: '';
      @include align(true, true);
    }

    &--bell:before {
      @include sprite('header-bell');
    }

    &--messages:before {
      @include sprite('header-messages');
    }

    &--new:after {
      content: '';
      position: absolute;
      @include circle(12px, #42DB92);
      top: 5px;
      right: 5px;
      border: 2px solid #E4F6FE;
    }

    &:hover {
      background: $color-blue-25;
    }
  }

  &__mobile {
    display: none;

    .btn {
      width: 100%;
    }
  }

  &__user {
    img {
      width: 48px;
      height: 48px;
      display: block;
      border-radius: 100%;
      max-width: 100%;
      max-height: 100%;
      filter: drop-shadow(0px 4px 14px rgba(0, 29, 72, 0.12));
    }
  }

  &__search-toggle {
    display: none;

    @include mobile {
      position: absolute;
      display: block;
      right: 0;
      top: 20px;
      @include sprite('search-mobile');
    }
  }

  .opened:not(.header--authenticated) & {
    .header-actions {
      display: flex;
      flex-direction: row;

      &__item {
        display: block;

        &:first-child {
          order: 1;
          margin: 0;
        }

        &:last-child {
          order: 2;
          margin: 20px 0 0 0;
        }

        .btn {
          width: 100%;
        }
      }
    }
  }

  .opened.header--authenticated & {
    .header-actions__row {
      display: none;
    }

    .header-actions__mobile {
      display: block;
    }

    .header-actions__search-toggle {
      display: none;
    }
  }
}

