.header {
  z-index: 1;

  &__search-toggle, &__search{
    display: none;
  }

  &__logo {
    @include sprite('logo');
    @include tablet {
      @include sprite('logo-tablet');
    }
    @include mobile {
      @include sprite('logo-mobile');
    }
  }

  &__inner {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet-and-mobile {
      padding-left: 45px;
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
    }
  }

  &__burger {
    display: none;
    @include tablet-and-mobile {
      display: block;
    }

    position: absolute;
    width: 24px;
    height: 24px;
    @include align(false, true);
    z-index: 1;

    &:after {
      content: '';
      @include sprite('burger');
      @include align(true, true);
    }
  }

  &__center {
    flex: 1 1 1px;
    margin-left: 44px;

    @include tablet-and-mobile {
      display: none;
    }
  }

  &__actions {
    display: flex;
    margin-left: 30px;

    &-item {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }

      @include mobile {
        display: none;
      }

      &--mobile-visible {
        @include mobile {
          display: block;
        }
      }
    }
  }

  &__right {
    display: flex;
    align-items: center;
  }
}
