@include mobile {
  .header:not(.opened) {

    &.header--authenticated {
      .header__logo {
        display: none;
      }

      .header__inner {
        justify-content: flex-start;
      }

      .header__actions {
        margin-left: 0;
      }

      .header-actions__item:last-child {
        order: -1;
        margin-right: 10px;
        margin-left: 0;
      }
    }

    &:not(.header--authenticated) {
      .header-actions__item:last-child {
        display: none;
      }
    }
  }
}
