.header-language {
  display: flex;
  align-items: center;

  @include mobile {
    display: none;
  }

  &__label {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    margin-left: 9px;

    display: block;
    &--opened {
      display: none;
    }
  }

  &__select {

  }
}
