// Colors
$color-white: #FFFFFF;
$color-black: #000000;
$color-primary: #1B74FD;
$color-secondary: #FD5800;
$color-primary-variant: #00b763;
$color-error: #FF0000;

// Gray
$color-gray-100: #363C4E;
$color-gray-80: #7C8292;
$color-gray-60: #C7CBD6;
$color-gray-40: #DFE3EC;
$color-gray-20: #F2F4F8;
$color-gray-10: #F6F9FF;

// Blue
$color-blue-100: #0038D7;
$color-blue-80: #0042FF;
$color-blue-70: #1B74FD;


$color-dark: #333333;
$color-dark-hover: #000;
$color-blue: #20B7F7;
$color-blue-hover: darken($color-blue, 20%);
$color-gray: #DAE4ED;
$color-gray-dark: #829AB2;
$color-gray-dark-hover: darken($color-gray-dark, 20%);
