{{#> blocks/common/section-background image="home-student/search-bg"}}
  <div class="home-search">
    <h2 class="home-search__title">Welcome back, Ali, What do you want to learn today?</h2>
    <div class="home-search__field">
      <form action="#">
        {{> widgets/submit-input search=true placeholder="Search for courses, skills, instructor" label="Search" big=true}}
      </form>
    </div>
  </div>
{{/blocks/common/section-background}}
