{{#> core/ui-kit/widget title='.form-checkbox' width=350}}
  {{> ui/checkbox id="checkbox_01" label="Add 0,25$ to payment"}}
{{/core/ui-kit/widget}}

{{#> core/ui-kit/widget title='.form-checkbox (With Link)' width=350}}
  {{> ui/checkbox id="checkbox_02" label='<a href="#">Terms</a> confirmation item'}}
{{/core/ui-kit/widget}}

{{#> core/ui-kit/widget title='.form-checkbox (Button)' width=200}}
  {{> ui/checkbox id="checkbox_03" button=true label="Skill Name"}}
{{/core/ui-kit/widget}}

{{#> core/ui-kit/widget title='.form-checkbox (Button)' width=200}}
  {{> ui/checkbox id="checkbox_04" button=true checked=true label="Skill Name"}}
{{/core/ui-kit/widget}}


