{{#> core/ui-kit/widget title='.form-select' width=350}}
  {{#> ui/field label="Payment Address" id="payment_address"}}
    {{#> ui/select id="payment_address" name="payment_address" }}
      <option value="0" selected>United States</option>
      <option value="1">England</option>
      <option value="2">Russian</option>
    {{/ui/select}}
  {{/ui/field}}
{{/core/ui-kit/widget}}
