<header class="header page__header js-header {{#if authenticated}}header--authenticated{{/if}}">
  <div class="container">
    <div class="header__wrapper">
      <button class="header__burger js-header__burger"></button>
      <button class="header__search-toggle js-header__search-toggle"></button>

      <div class="header__search js-header__search">
        <div class="header__search-header">
          <div class="header__search-input">
            {{> widgets/search-input }}
          </div>
          <button class="header__search-close js-header__search-toggle">Cancel</button>
        </div>
        <div class="header__search-body">
          <p class="header__search-intro">Search for courses, instructor, skills, university and institutes</p>
          <ul class="header__search-results">
            <li class="header__search-results-item">Develop</li>
            <li class="header__search-results-item">Development</li>
          </ul>
        </div>
      </div>

      <div class="header__inner">
        <div class="header__left">
          <a href="home.html" class="header__logo"></a>
        </div>
        <div class="header__center">
          <div class="header__language-mobile">
            {{> blocks/header/header-language }}
            {{#if authenticated}}
              <span class="header__language-mobile-text">
              To switch library’s language you need to upgrade your account
            </span>
              <div class="header__language-mobile-button">
                {{> ui/btn color="blue" label="Upgrade to Student"}}
              </div>
            {{/if}}
          </div>
          {{> blocks/header/header-menu }}
          {{> blocks/header/header-search }}
        </div>
        <div class="header__right">
          {{#if authenticated}}
            <div class="header__right-search">
              <a href="course-catalog-search.html" class="header__right-search-button"></a>
            </div>
          {{/if}}
          <div class="header__language">
            {{> blocks/header/header-language }}
            {{#if language-overlay}}
              {{> blocks/header/language-overlay }}
            {{/if}}
          </div>
          <div class="header__actions">
            {{#if authenticated}}
              {{> blocks/header/header-actions-authenticated }}
            {{else}}
              {{> blocks/header/header-actions-guest }}
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="page__content">

