<header class="header page__header js-header">
  <div class="container">
    <button class="header__burger js-header__burger"></button>
    <div class="header__inner">
      <div class="header__left">
        <div class="header__logo">
          {{> ui/svg name="logo"}}
        </div>
      </div>
      <div class="header__center">
        {{> blocks/header/header-menu }}
      </div>
      <div class="header__right">
        <div class="header__language">
          {{> blocks/header/header-language }}
        </div>
        <div class="header__actions">
          <div class="header__actions-item header__actions-item--mobile-visible">
            {{> ui/btn label="Sign In" outline=true}}
          </div>
          <div class="header__actions-item">
            {{> ui/btn label="Get Started for Free" color="orange"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<main class="page__content">
