.sidebar-nav-item {
  &__inner {
    padding: 0 8px 8px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 95px;
    font-size: 14px;
    font-weight: 600;
    background: rgba(218, 228, 237, 0.22);
    color: $color-gray-dark;
    border-radius: 10px;

    svg {
      height: 24px;
      width: 24px;
    }
  }

  &__label {
    padding-top: 13px;
  }
}
