.plus-features {
  padding: 30px 0;
  margin: 30px 0 50px;

  &__inner {
    box-shadow: 0px 4px 44px rgba(1, 64, 139, 0.24);
    border-radius: 16px;
    margin: 0 2px;
    padding: 74px 60px;
    display: flex;
    justify-content: space-between;
  }

  &__cell {
    flex: 1 1 1px;
    display: flex;
    justify-content: flex-end;

    &:first-child {
      justify-content: flex-start;
      border-right: 2px solid $color-gray;
    }

    &:last-child {
      border-left: 2px solid $color-gray;
      margin-left: -2px;
    }
  }

  &__item {
    width: 493px;
    text-align: center;
    margin-top: -23px;
    margin-bottom: -15px;
  }

  &__image {
    text-align: center;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  &__title {
    font-weight: 600;
    font-size: 29px;
    line-height: 43px;
  }

  &__text {
    font-size: 18px;
    line-height: 150%;
    color: $color-gray-dark;
    margin-top: 20px;
  }

  &__link {
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-top: 15px;
    display: inline-block;

    color: $color-blue;

    &:hover {
      color: $color-blue-hover;
    }
  }
}
