<section class="hero-slider js-hero-slider">
  <div class="hero-slider__inner">
    {{> blocks/student-home/hero-slide image="home-student/hero" date="26 May 2020" title="Check out this week topper" text="Description text" }}
    {{> blocks/student-home/hero-slide image="home-student/hero" video="home-student/2" date="27 May 2020" title="Check out this week topper 2" text="Description text 2" }}
    {{> blocks/student-home/hero-slide image="home-student/hero" video="home-student/3" date="26 May 2020" title="Check out this week topper 3" text="Description text 3" }}
  </div>
</section>
