<div class="tab-quiz js-quiz">
  <div class="tab-quiz__wrapper js-content-editor">
    <div class="exam-list js-quiz__question">
      <div class="exam-list__question">
        <div class="exam-list__question-group">
          <span class="exam-list__question-number">1.</span>
          <label class="exam-list__question-title js-content-editor__editable">
            <input class="exam-list__input" type="hidden" name="question" value="">
            Amet minim mollit non deserunt ullamco
            est sit aliqua dolor do amet sint?</label>
          <button class="exam-list__edit-btn js-content-edit-btn"></button>
        </div>

        <div class="exam-list__question-group">
          <label class="exam-list__question-label js-content-editor__editable">
            <input class="exam-list__input" type="hidden" name="description" value="">
            Question description / Help text</label>
          <button class="exam-list__edit-btn js-content-edit-btn"></button>
        </div>
      </div>

      <div class="exam-list__answers js-quiz__responses">
        {{> blocks/create-course/quiz/exam-list-answer
          label="A"
          text="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint."
          id=1
        }}

        {{> blocks/create-course/quiz/exam-list-answer
          label="B"
          text="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint."
          checked=true
          id=2
        }}

        {{> blocks/create-course/quiz/exam-list-answer
          label="C"
          text="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint."
          id=3
        }}

        {{> blocks/create-course/quiz/exam-list-answer
          label="D"
          text="Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint."
          checked=true
          id=4
        }}
      </div>

      <div class="exam-list__delete-btn js-quiz__delete-question">
        {{> ui/btn-icon
          icon="button-delete"
          label="Delete question"
        }}
      </div>
    </div>

    <div class="exam-list exam-list--default js-quiz__question js-quiz__default">
      <div class="exam-list__question">
        <div class="exam-list__question-group">
          <span class="exam-list__question-number">2.</span>
          <label class="exam-list__question-title js-content-editor__editable">
            <input class="exam-list__input" type="hidden" name="question" value="">
            Amet minim mollit non deserunt ullamco
            est sit aliqua dolor do amet sint?</label>
          <button class="exam-list__edit-btn js-content-edit-btn"></button>
        </div>

        <div class="exam-list__question-group">
          <label class="exam-list__question-label js-content-editor__editable">
            <input class="exam-list__input" type="hidden" name="description" value="">
            Add question description</label>
          <button class="exam-list__edit-btn js-content-edit-btn"></button>
        </div>
      </div>

      <div class="exam-list__answers js-quiz__responses">
        {{> blocks/create-course/quiz/exam-list-answer
          label="A"
          text="Add an answer option"
        }}
      </div>

      <div class="exam-list__option-btn js-quiz__add-response">
        {{> ui/btn-icon
          icon="button-plus"
          label="One more response option"
        }}
      </div>

      <div class="exam-list__delete-btn js-quiz__delete-question">
        {{> ui/btn-icon
          icon="button-delete"
          label="Delete question"
        }}
      </div>
    </div>
  </div>

  <div class="tab-quiz__bottom">
    <div class="tab-quiz__more-btn js-quiz__add-question">
      {{> ui/btn
        button=true
        outline=true
        label='One More Question'
        icon='button-plus'
        transparent=true
      }}
    </div>

    <div class="tab-quiz__buttons">
      <div class="tab-nav-buttons">
        <div class="tab-nav-buttons__btn">
          {{> ui/btn
            outline=true
            transparent=true
            label = "Back"
            href="/html/video-lessons.html"
            icon="button-arrow-prev"
            btn-mode="large"
            w100 = true
          }}
        </div>
        <div class="tab-nav-buttons__btn">
          {{> ui/btn
            color = "blue"
            label = "Next"
            href = "/html/course-create-settings.html"
            icon="button-arrow-next"
            icon-right = true
            btn-mode="large"
            w100 = true
          }}
        </div>
      </div>
    </div>
  </div>
</div>
