<div class="in-progress-block">
  <div class="in-progress-block__item">
    {{> widgets/course-card
      image="profile/student/course_01"
      title="Customizing Type with Draplin: Creating Wordmarks That Work"
      author="by Kaylynn Dorwart"
      progress=75
      delete=true
    }}
  </div>

  <div class="in-progress-block__item">
    {{> widgets/course-card
      image="profile/student/course_02"
      title="ODD BODIES: Illustrating Expressive, Stylized People"
      author="by Kaylynn Dorwart"
      progress=75
      delete=true
    }}
  </div>

  <div class="in-progress-block__item">
    {{> widgets/course-card
      image="profile/student/course_03"
      title="Productivity Masterclass: Create a Custom System that Works"
      author="by Mira Westervelt"
      progress=27.4
      delete=true
    }}
  </div>

  <div class="in-progress-block__item">
    {{> widgets/course-card
      image="profile/student/course_04"
      title="ODD BODIES: Illustrating Expressive, Stylized People"
      author="by Kaylynn Dorwart"
      progress=27.4
      delete=true
    }}
  </div>

  <div class="in-progress-block__item">
    {{> widgets/course-card
      image="profile/student/course_05"
      title="Fundamentals of DSLR Photography"
      author="by Kaylynn Dorwart"
      progress=75
      delete=true
    }}
  </div>
</div>
