<div class="informer js-tabsWidget">
  <div class="informer__tabs">
    <div class="informer__tab">
      <span class="informer__tab-link js-tab active">Week</span>
    </div>

    <div class="informer__tab">
      <span class="informer__tab-link js-tab">Month</span>
    </div>

    <div class="informer__tab">
      <span class="informer__tab-link js-tab">Year</span>
    </div>

    <div class="informer__tab ">
      <span class="informer__tab-link js-tab">All Time</span>
    </div>
  </div>

  <div class="informer__content js-tab-content active">
    <div class="informer__hint">
      <span class="informer__hint-text">You're learning very well, keep it that way!</span>
    </div>

    <div class="informer__diagram">
      <div class="informer__diagram-circle">
        {{> components/image img="profile/student/diagram-circle" ext="png" no-2x=true}}
      </div>
    </div>

    <div class="informer__list">
      <div class="informer__list-item">
        <i class="informer__list-marker informer__list-marker--blue"></i>
        <span class="informer__list-name">Technology</span>
        <span class="informer__list-time">5h</span>
      </div>

      <div class="informer__list-item">
        <i class="informer__list-marker informer__list-marker--orange"></i>
        <span class="informer__list-name">Social Networking</span>
        <span class="informer__list-time">5h</span>
      </div>

      <div class="informer__list-item">
        <i class="informer__list-marker informer__list-marker--green"></i>
        <span class="informer__list-name">Java</span>
        <span class="informer__list-time">5h</span>
      </div>
    </div>
  </div>

  <div class="informer__content js-tab-content">
    Month Content
  </div>

  <div class="informer__content js-tab-content">
    Year Content
  </div>

  <div class="informer__content js-tab-content">
    All Time Content
  </div>
</div>


