<div class="pay-item">
  <div class="pay-item__wrapper">
    <i class="pay-item__icon"></i>
    <div class="pay-item__info">
      <span class="pay-item__info-title">{{title}}</span>
      <span class="pay-item__info-label">
        <time>{{date}}</time><span class="pay-item__info-meta">{{label}}</span>
      </span>
    </div>

    <div class="pay-item__btn-check {{#if active}}pay-item__btn-check--active{{/if}}">
      {{#if active}}
        {{> ui/btn-icon icon="check-mark" label="General"}}
      {{else}}
        {{> ui/btn-text button=true label="Set As General"}}
      {{/if}}
    </div>
  </div>
  <button class="pay-item__btn-delete">
    {{> ui/svg name="button-delete"}}
  </button>
</div>
