<div class="progress-block">
  <div class="progress-block__inner">
    <span class="progress-block__course-name">
      {{course-name}}
    </span>

    <div class="progress-block__counters">
      <span class="progress-block__counter-text">Lessons</span>
      <span class="progress-block__counter-passed">{{passed}}</span>
      <span style="color:#20B7F7">/</span>
      <span class="progress-block__counter-total">{{total}}</span>
    </div>
    {{#if button-label}}
      <div class="progress-block__btn">
        {{> ui/btn
          outline=true
          label=button-label
          transparent=true
        }}
      </div>
    {{/if}}

    <div class="progress-block__round-bar">
      {{#when progress-value '>' 20}}
        {{> widgets/round-bar
          progress=progress-value
          color='green'
        }}
      {{/when}}


      {{#when progress-value '==' 20}}
        {{> widgets/round-bar
          progress=progress-value
          color='orange'
        }}
      {{/when}}

      {{#when progress-value '==' 0}}
        {{> widgets/round-bar
          progress=progress-value
        }}
      {{/when}}

    </div>

  </div>
</div>


