<div class="student-courses">
  <div class="student-courses__header">
    <span class="student-courses__header-title">My Courses</span>
  </div>
  <div class="student-courses__block">
    <div class="student-courses__item">
      {{> widgets/course-card
        image="profile/student/course_01"
        title="Customizing Type with Draplin: Creating Wordmarks That Work"
        author="by Kaylynn Dorwart"
        progress=75
        delete=true
      }}
    </div>

    <div class="student-courses__item">
      {{> widgets/course-card
        image="profile/student/course_02"
        title="Customizing Type with Draplin: Creating Wordmarks That Work"
        author="by Kaylynn Dorwart"
        progress=75
        delete=true
      }}
    </div>

    <div class="student-courses__item">
      {{> widgets/course-card
        image="profile/student/course_03"
        title="Customizing Type with Draplin: Creating Wordmarks That Work"
        author="by Kaylynn Dorwart"
        progress=27.4
        delete=true
      }}
    </div>

    <div class="student-courses__item">
      {{> widgets/course-card
        image="profile/student/course_04"
        title="Customizing Type with Draplin: Creating Wordmarks That Work"
        author="by Kaylynn Dorwart"
        progress=27.4
        delete=true
      }}
    </div>

    <div class="student-courses__item">
      {{> widgets/course-card
        image="profile/student/course_05"
        title="Customizing Type with Draplin: Creating Wordmarks That Work"
        author="by Kaylynn Dorwart"
        progress=75
        delete=true
      }}
    </div>
  </div>
</div>
