<div class="student-courses">
  <div class="student-courses__inner">
    {{#times 6}}
      <div class="student-courses__item">
        {{> widgets/course-card
          title="Customizing Type with Draplin: Creating Wordmarks That Work"
          author="by Kaylynn Dorwart"
          progress=25
        }}
      </div>
    {{/times}}
  </div>
</div>
