<div class="student-dashboard">
  <div class="student-dashboard__header">
    <span class="student-dashboard__header-title">Hello, Ali, this is your Dahboard</span>
  </div>

  <div class="student-dashboard__widgets">
    <div class="student-dashboard__widget student-dashboard__widget--highlights">
      {{> blocks/profile/profile-widget highlights=true title="Credential and Highlights"}}
    </div>

    <div class="student-dashboard__widget student-dashboard__widget--tags">
      {{> blocks/profile/profile-widget tags=true title="Interests"}}
    </div>

    <div class="student-dashboard__widget student-dashboard__widget--learning">
      {{> blocks/profile/profile-widget learning=true title="learning Time"}}
    </div>
  </div>


  <div class="student-dashboard__info">
    <span class="student-dashboard__info-title">About me</span>
    <p class="student-dashboard__info-text">
      Hello, I’m Ali...
    </p>
  </div>

  <div class="student-dashboard__btn">
    {{> ui/btn
      outline=true
      label='Edit Profile'
      icon='button-edit'
      transparent=true
    }}
  </div>

  <div class="student-dashboard__student-block">
    {{> blocks/profile/student/student-block}}
  </div>
</div>



