<div class="subscription">
  <div class="subscription__group">
    <span class="subscription__group-title">Subscription Program</span>
    <span class="subscription__group-period">Free trial period up to <time>10/28/12</time></span>
  </div>

  <div class="subscription__cards">
    {{> blocks/profile/student/program-card}}
  </div>
</div>
