.article-page {
  margin-top: 41px;
  display: flex;

  &__left {
    margin-left: -12px;
    flex: 0 0 307px;
    max-width: 307px;

    @include smallTablet {
      margin-left: 0;
      flex: 0 0 230px;
      max-width: 230px;
    }

    &-links {
      margin-top: 16px;

      &-item {
        padding: 10px 12px;
      }
    }

    &-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $color-gray-dark;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }

    &-card {
      position: relative;
      left: -12px;
      margin-top: 16px;

      @include smallTablet {
        left: 0;
      }
    }
  }

  &__right {
    margin-left: 39px;
    flex: 1 1 auto;
  }
}
