<div class="tab-overview">
  <div class="tab-overview__wrapper">
    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Language" id="select_course_language" note="Help text"}}
        {{#> ui/select id="select_course_language"}}
          <option value="0">English</option>
          <option value="1">Russian</option>
          <option value="2">German</option>
        {{/ui/select}}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Category" id="select_course_category" note="Help text"}}
        {{#> ui/select id="select_course_category"}}
          <option value="0">Creative Writing</option>
          <option value="1">Creative Writing</option>
          <option value="2">Creative Writing</option>
        {{/ui/select}}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Name" id="input_course_name" note="Help text (min. --, max. -- symbols)"
                    value="Customizing Type with Draplin: Creating Wordmarks That Work"}}
        {{> ui/input id="input_course_name" placeholder="Course Name"}}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Skills" id="input_course_skills" note="Help text"
                    value=""}}
        {{#> ui/select id="select_course_skills" multiple-search=true}}
          <option value="0">Skill name</option>
          <option value="1">Skill name</option>
          <option value="2">Skill name</option>
        {{/ui/select}}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Overview" id="input_editor" note="Help text (max. -- symbols)"
                    value=""}}

      {{/ui/field}}
    </div>
  </div>

  <i class="tab-overview__separator"></i>

  <div class="tab-overview__wrapper">
    {{> blocks/create-course/tab-overview-faq}}

    <div class="tab-overview__more-btn">
      {{> ui/btn
        outline=true
        label='One more question'
        icon='button-plus'
        transparent=true
      }}
    </div>

    <div class="tab-overview__next-btn">
      {{> ui/btn
        color = "blue"
        label = "Next"
        icon="button-arrow-next"
        icon-right = true
        w100 = true
      }}
    </div>
  </div>
</div>
