.course-row {
  position: relative;
  padding-bottom: 13px;
  display: flex;
  align-items: center;

  @include mobile {
    padding-top: 29px;
    padding-left: 114px;
    flex-direction: column;
    align-items: initial;
  }

  &:before {
    content: '';
    margin-left: 181px;
    display: block;
    width: calc(100% - 181px);
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: $color-gray;

    @include mobile {
      margin-left: 0;
      width: 100%;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    flex: 0 0 56.5%;
    max-width: 56.5%;

    @include no-desktop {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include mobile {
      flex: 0 0 auto;
      max-width: 288px;
    }
  }

  &__img {
    position: relative;
    flex: 0 0 161px;
    max-width: 161px;
    height: 119px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    overflow: hidden;

    @include mobile {
      position: absolute;
      top: 0;
      left: 0;
      width: 101px;
      height: 75px;

      img {
        width: 101px;
        height: 75px;
      }
    }

    &-copyright {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      @include sprite('copyright');
    }

    &-badge {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      position: absolute;
      top: 8px;
      left: 8px;
      padding: 2px 8px;
      color: $color-white;
      background: $color-green;
      border-radius: 6px;
      z-index: 3;

      @include mobile {
        display: none;
      }

      &--in-review {
        background: $color-gray;
        color: $color-gray-dark;
      }
    }
  }

  &__info {
    margin-left: 20px;
    max-width: 293px;
    @include mobile {
      margin-left: 0;
      max-width: none;
      box-shadow: none;
    }

    &-text {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;

      @include mobile {
        margin-top: 0;
      }
    }

    &-label {
      margin-top: 6px;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: $color-orange;

      &--purple {
        color: $color-purple;
      }
    }
  }

  &__item {
    margin: 0 15px;
    padding: 12px;
    flex: 1 1 106px;
    max-width: 106px;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    background: rgba(218, 228, 237, 0.32);
    border-radius: 10px;

    @include no-desktop {
      margin: 0 10px;
    }

    @include smallTablet {
      flex: 0 0 106px;
      max-width: 106px;
    }

    @include mobile {
      margin: 6px 0 0 0;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex: 1 1 100%;
      max-width: 100%;
    }

    &-title {
      display: none;
      @include mobile {
        display: initial;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: $color-blue;
      }
    }

    &-number {
      display: block;
      color: $color-dark;

      @include mobile {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
      }
    }

    &-label {
      display: block;
      white-space: nowrap;
      font-weight: normal;
      color: $color-blue;

      @include mobile {
        display: none;
      }
    }
  }

  &__group {
    margin-left: auto;
    display: flex;
    align-items: center;

    @include mobile {
      margin: 13px 0 0 0;
    }
  }

  &__details {
    margin-left: 15px;
    font-weight: bold;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $color-blue;

    @include no-desktop {
      margin-left: 10px;
    }

    @include mobile {
      margin: 0;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__more-btn {
    margin-left: 20px;
    @include sprite('more-btn');

    @include mobile {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  & > .course-row__img-badge {
    display: none;

    @include mobile {
      top: 0;
      left: 114px;
      display: initial;
      font-size: 12px;
      line-height: 150%;
    }
  }
}
