.course-block {
  position: relative;
  display: flex;

  @include mobile {
    box-shadow: inset 0px -1px 0px #DAE4ED;
  }

  &__img {
    flex: 0 0 161px;
    max-width: 161px;
    height: 119px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    overflow: hidden;

    @include mobile {
      flex: 0 0 101px;
      max-width: 101px;
      height: 75px;
    }

    &-copyright {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      @include sprite('copyright');
    }
  }

  &__info {
    margin-left: 20px;
    padding-bottom: 19px;
    flex-grow: 1;
    box-shadow: inset 0px -1px 0px #DAE4ED;

    @include mobile {
      margin-left: 13px;
      padding-bottom: 10px;
      box-shadow: none;
    }

    &-text {
      margin-top: 7px;
      max-width: 293px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;

      @include mobile {
        margin-top: 6px;
      }
    }

    &-label {
      margin-top: 6px;
      font-weight: normal;
      font-size: 14px;
      line-height: 140%;
      color: $color-orange;
    }

    &-views {
      position: absolute;
      top: 0;
      right: 0;

      @include mobile {
        position: static;
        margin-top: 6px;
      }
    }
  }
}
