.followers-informer {
  &__title {
    display: inline-flex;
    align-items: flex-end;

    &-number {
      font-weight: bold;
      font-size: 38px;
      color: $color-dark;
    }

    &-link {
      margin-left: 7px;
    }
  }

  &__img {
    margin-top: 7px;
    padding-bottom: 17px;
  }
}
