.instructor-profile {
  &__inner {
    margin-top: 30px;
    @include smallTablet-and-mobile {
      display: block;
    }
  }

  &__main {
    display: inline-flex;
    align-items: center;
  }

  &__block {
    @include smallTablet-and-mobile {
      text-align: center;
    }

    &:not(:first-child) {
      margin-top: 20px;

      @include mobile {
        margin-top: 12px;
      }
    }

    &:first-child {
      @include smallTablet-and-mobile {
        display: flex;
        justify-content: center;
        text-align: left;
      }
    }

    &:nth-child(4) {
      @include mobile {
        margin-top: 16px;
      }
    }

  }

  &__image {
    width: 72px;
    height: 72px;
    flex-basis: 72px;
    min-width: 72px;
    @include mobile {
      width: 64px;
      height: 64px;
      flex-basis: 64px;
      min-width: 64px;
    }

    img {
      width: 72px;
      height: 72px;
      border-radius: 50%;
      display: block;

      @include mobile {
        width: 64px;
        height: 64px;
      }

    }
  }

  &__info {
    margin-left: 16px;
    flex: 1 1 1px;
  }

  &__name {
    display: block;
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;

    @include mobile {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__position {
    margin-top: 6px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $color-gray-dark;

    @include mobile {
      margin-top: 4px;
    }

    @include mobile {
      font-size: 12px;
      line-height: 150%;
    }
  }

  &__actions {
    .btn {
      margin-top: 13px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__networks {
    margin-top: 12px;
    display: flex;

    @include smallTablet-and-mobile {
      justify-content: center;
    }

    @include mobile {
      margin-top: 8px;
    }
  }

  &__link {
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: $color-gray-dark;

    @include mobile {
      font-size: 12px;
      line-height: 150%;
    }

    &:hover {
      color: $color-black;
    }
  }

  &__network {
    &:hover {
      opacity: 0.8;
    }

    &:not(:first-child) {
      margin-left: 15px;
    }

    &--twitter {
      @include sprite('social-twitter-sm');
    }

    &--facebook {
      @include sprite('social-facebook-sm');

    }

    &--instagram {
      @include sprite('social-instagram-sm');

    }

    &--youtube {
      @include sprite('social-youtube-sm');

    }
  }

  &__stats {
    display: inline-flex;

    &-item {
      margin-left: 8px;
      font-size: 14px;
      line-height: 140%;
      color: $color-dark;

      @include mobile {
        font-size: 12px;
        line-height: 150%;
      }

      b {
        color: $color-blue;
        font-weight: 600;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__params {
    margin-top: 20px;

    @include mobile {
      margin-top: 17px;
    }

    &-item {
      position: relative;
      display: block;
      margin-top: 11px;
      padding-left: 24px;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      @include mobile {
        font-size: 12px;
        line-height: 150%;
      }

      b {
        font-weight: 600;
      }

      &:first-child {
        margin-top: 0;
      }

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &--job:before {
        @include sprite('course-instructor-job');
      }

      &--education:before {
        @include sprite('course-instructor-education');
      }

      &--languages:before {
        @include sprite('course-instructor-languages');
      }

      &--country:before {
        @include sprite('course-instructor-country');
      }
    }
  }

}






