{{!About}}

{{> layout/head}}
{{> layout/header authenticated=true}}

<div class="profile">
  <div class="container">
    {{> blocks/profile/instructor/instructor-page tab=1}}
  </div>
</div>

{{> layout/footer }}
