{{!Account-sorttings}}

{{> layout/head}}
{{> layout/header shadow=true authenticated=true}}

<div class="profile">
  <div class="container">
    <div class="profile__inner">
      <div class="profile__left">
        {{> blocks/profile/profile-sidebar
                profile="student"
                settings=true
                name="Ali Kazal"
                email="Ali_Kazal@email.com"
                href="Website//alikazal.org.com"
                hide-notify-mobile=true
        }}
      </div>
      <div class="profile__right">
        <div class="profile__header">
          <span class="profile__header-title">Settings</span>

          <div class="profile__header-btn profile__header-btn--bottom">
            {{> ui/btn color="blue" icon="check-mark" label="Save changes" mod="btn--w100-mobile"}}
          </div>
        </div>
        {{> blocks/profile/student/student-settings tab=1}}
      </div>
    </div>
  </div>

  <div class="profile__copy-message js-copy-message">Copied to clipboard</div>

  <div class="profile__more">
    <button class="profile__more-btn"></button>

    <div class="profile__overlay">
      {{> widgets/profile-overlay upgrade=true}}
    </div>
  </div>

</div>

{{> layout/footer }}
