{{!Active-courses}}

{{> layout/head}}
{{> layout/header shadow=true authenticated=true}}

<div class="profile">
  <div class="container">
    <div class="profile__inner">
      <div class="profile__left">
        {{> blocks/profile/profile-sidebar courses=true}}
      </div>
      <div class="profile__right">
        <div class="profile__header">
          <span class="profile__header-title">My Courses</span>
        </div>
        {{> blocks/profile/student/student-courses tab=1}}
      </div>
    </div>
  </div>

  <div class="profile__more">
    <button class="profile__more-btn"></button>

    <div class="profile__overlay">
      {{#> blocks/profile/profile-overlay upgrade=true}}
        <div class="profile-overlay__item">
          <a href="#" class="profile-overlay__item-btn">Edit Profile</a>
        </div>

        <div class="profile-overlay__item">
          <a href="#" class="profile-overlay__item-btn profile-overlay__item-btn--icon">Sign Out</a>
        </div>

        <div class="profile-overlay__item">
          <a href="#" class="profile-overlay__item-btn profile-overlay__item-btn--purple">Become in Instructor</a>
        </div>
      {{/blocks/profile/profile-overlay}}
    </div>
  </div>

</div>

{{> layout/footer }}
