{{!Conversations}}

{{> layout/head}}
{{> layout/header shadow=true}}

<div class="profile">
  <div class="container">
    <div class="profile__inner">
      <div class="profile__left">
        {{> blocks/profile/profile-sidebar messages=true}}
      </div>
      <div class="profile__right">
        <div class="profile__header">
          <span class="profile__header-title">Messages</span>
        </div>

        <div class="profile__chat">
          {{> blocks/profile/chat}}
        </div>
      </div>
    </div>
  </div>
</div>

{{> layout/footer }}
