{{!Course Catalog - Category}}
{{> layout/head}}
{{> layout/header authenticated=true }}

{{> modules/page-header/course-catalog }}

<section class="catalog">
  <div class="container">
    <div class="catalog__inner">
      <aside class="catalog__left">
        {{> blocks/catalog/sidebar active=true }}
      </aside>
      <div class="catalog__main">
        {{> blocks/catalog/main search=false }}
      </div>
    </div>
  </div>
</section>

{{> layout/footer }}
