{{!Dashboard}}

{{> layout/head}}
{{> layout/header }}
<div class="page__container">
  <div class="container">
    <div class="page__wrapper">
      {{> blocks/profile/profile-sidebar }}

      <div class="page__main">
        <main class="profile-block"></main>
      </div>
    </div>
  </div>
</div>

{{> layout/footer }}