{{!Dashboard}}

{{> layout/head}}
{{> layout/header }}

<div class="page__wrapper">
  <div class="container">
    <div class="container__inner">
    {{> blocks/sidebar/sidebar }}
    </div>
  </div>
</div>

{{> layout/footer }}