{{!Home-plus}}

{{> layout/head}}
{{> layout/header }}

{{> blocks/home-plus/01_hero }}

<section class="section home-featured home-featured--background">
  <div class="container">
    {{> modules/carousel/home-plus }}
  </div>
</section>

{{> blocks/home-plus/03_why }}
{{> blocks/home-plus/04_features }}
{{> blocks/home-plus/05_instructor }}
{{> blocks/home-plus/06_reviews }}
{{> blocks/home-plus/07_form }}

{{> layout/footer }}
