{{!Home}}
{{> layout/head title="Home"}}
{{> layout/header fixed=true language-overlay=true }}

{{> blocks/home/01_hero }}
{{> blocks/home/02_video }}

<section class="home-featured">
  <div class="container">
    {{> modules/carousel/home-featured }}
  </div>
</section>

{{> blocks/home/04_slider }}
{{> blocks/home/05_instructor }}
{{> blocks/home/06_testimonials }}
{{> blocks/home/07_mobile }}
{{> blocks/home/08_categories }}

{{> layout/footer no-border=true }}
