{{!Home Plus}}
{{> layout/head title="Home Plus"}}
{{> layout/header fixed=true }}

{{> blocks/home-plus/01_hero }}

<section class="section section--background home-featured home-featured--background">
  <div class="section__background">
    {{> components/image img="home-plus/featured-bg" img-mobile="home-plus/featured-bg-mobile" ext="jpg" no-2x=true}}
  </div>
  <div class="container">
    {{> modules/carousel/home-plus }}
  </div>
</section>

{{> blocks/home-plus/03_why }}
{{> blocks/home-plus/04_features }}
{{> blocks/home-plus/05_instructor }}
{{> blocks/home-plus/06_reviews }}
{{> blocks/home-plus/07_form }}

{{> layout/footer }}
