{{!Modules}}
{{> layout/head}}

<section class="uikit-module">
  <header class="uikit-module__header">
    <span class="uikit-module__title">Page Header</span>
    <span class="uikit-module__path">modules/page-header</span>
  </header>
  <div class="uikit-module__content">
    {{> modules/page-header/signup }}
    {{> modules/page-header/signup-success }}
    {{> modules/page-header/course-catalog }}
  </div>
</section>

<section class="uikit-module">
  <header class="uikit-module__header">
    <span class="uikit-module__title">Carousel</span>
    <span class="uikit-module__path">modules/carousel</span>
  </header>
  <div class="uikit-module__content">
    {{> modules/carousel/home-featured }}
    {{> modules/carousel/home-plus }}
    {{> modules/carousel/simple title="Recommended for you"}}
    {{> modules/carousel/my-courses title="My courses - Watch History"}}
    {{> modules/carousel/instructors title="Instructors i’m following"}}
  </div>
</section>

<section class="uikit-module">
  <header class="uikit-module__header">
    <span class="uikit-module__title">Grid</span>
    <span class="uikit-module__path">modules/grid</span>
  </header>
  <div class="uikit-module__content">
    {{> modules/grid/courses_6 }}
    {{> modules/grid/courses_6 mobile-block=true }}
    {{> modules/grid/instructors_3 }}
  </div>
</section>

{{> layout/bottom}}


