{{!Modules}}
{{> layout/head}}

<section class="uikit-module">
  <header class="uikit-module__header">
    <span class="uikit-module__title">Page Header</span>
    <span class="uikit-module__path">modules/page-header</span>
  </header>
  <div class="uikit-module__content">
    {{> modules/page-header/signup }}
    {{> modules/page-header/signup-success }}
  </div>
</section>


{{> layout/bottom}}


