{{!Signup}}
{{> layout/head title="Signup"}}
{{> layout/header }}

{{> modules/page-header/signup }}

<div class="signup container-small">
  {{> blocks/signup/plans }}
  {{> blocks/signup/option }}
  {{> blocks/signup/method }}
  {{> blocks/signup/bottom }}
</div>

{{> layout/footer }}
