{{!Student - Home}}
{{> layout/head}}
{{> layout/header authenticated=true }}

{{> blocks/student-home/01_hero }}
{{> blocks/student-home/02_search }}

<section class="section">
  <div class="container">
    {{> modules/carousel/my-courses title="My courses - Watch History"}}
  </div>
</section>

<section class="section">
  <div class="container">
    {{> modules/carousel/simple title="Recommended for you"}}
  </div>
</section>

<section class="section">
  <div class="container">
    {{> modules/carousel/simple title="Featured courses in Ulearna"}}
  </div>
</section>

<section class="section">
  <div class="container">
    {{> modules/carousel/simple title="Popular in my region"}}
  </div>
</section>

<section class="section">
  <div class="container">
    {{> modules/carousel/instructors title="Instructors i’m following"}}
  </div>
</section>

{{> layout/footer }}
{{> layout/bottom }}
