{{!Unity-dashboard}}

{{> layout/head}}
{{> layout/header shadow=true authenticated=true}}

<div class="profile">
  <div class="container">
    <div class="profile__inner">
      <div class="profile__left">
        {{> blocks/profile/profile-sidebar
                profile="instructor"
                dashboard=true
                balance=true
                name="Marvin Murphy"
                email="M_Murphy@mail.com"
                href="Website//Marvin.com"
        }}
      </div>
      <div class="profile__right">
        {{> blocks/profile/instructor/instructor-dashboard tab=1}}
      </div>
    </div>
  </div>

  <div class="profile__more">
    <button class="profile__more-btn"></button>

    <div class="profile__overlay">
      {{> widgets/profile-overlay upgrade=true}}
    </div>
  </div>

</div>

{{> layout/footer }}
