.tab-overview {
  margin-top: 30px;

  &__wrapper {
    margin: 0 auto;
    max-width: 836px;
  }

  &__inner {
    margin-top: 30px;
  }

  &__form-field {
    margin-top: 23px;

    &:first-child {
      margin-top: 0;
    }

    &--short {
      max-width: 393px;
    }
  }

  &__more-btn {
    margin-top: 20px;
  }

  &__next-btn {
    margin: 80px auto 0;
    max-width: 390px;
  }
}
