.signup-plans {
  margin: 40px 0;

  @include mobile {
    margin: 16px 0;
  }

  &__title {
    font-weight: bold;
    font-size: 38px;
    line-height: 57px;
    color: $color-black;
    text-align: center;

    @include mobile {
      font-size: 22px;
      line-height: 33px;
      text-align: left;
    }
  }

  &__row {
    margin-top: 40px;
    @include mobile {
      margin-top: 10px;
    }

    @include reset-slider-container-mobile;
  }

  &__inner {
    display: flex;
    margin: 0 -25px;
    justify-content: center;

    @include mobile {
      margin: 0;
      justify-content: flex-start;
      margin-bottom: -20px;
    }
  }

  &__cell {
    flex: 1 1 1px;
    padding: 0 25px;

    @include mobile {
      margin: 0 0 0 16px;
      padding: 0;
      padding-bottom: 20px;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        padding-right: $mobileGutter;
      }
    }
  }
}
