.signup-donate {
  background: $color-blue-light;
  border-radius: 12px;
  overflow: hidden;

  margin-top: 16px;
  @include mobile {
    margin: 16px -16px 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    @include mobile {
      padding: 20px 16px;
      position: relative;
      display: block;
    }
  }

  &__icon {
    @include sprite('donate');
    margin-right: 30px;

    @include mobile {
      top: 20px;
      right: 20px;
      margin-right: 0;
      position: absolute;
      @include sprite('donate-mobile');
    }
  }

  &__content {
    margin-left: 30px;

    @include mobile {
      margin: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    display: block;
    @include mobile {
      padding-right: 100px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 146%;
    display: block;
    color: $color-gray-dark;
    @include mobile {
      padding-right: 100px;
      display: block;
      font-size: 14px;
      line-height: 21px;
    }
  }

  &__checkbox {
    margin-top: 16px;
  }
}
