<div class="signup-section signup-bottom">
  <p class="signup-bottom__note">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
    mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua
    dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
  </p>
  <div class="signup-bottom__checkbox">
    {{> ui/checkbox id="terms_1" label='<a href="#">Terms</a> confirmation item'}}
  </div>
  <div class="signup-bottom__checkbox">
    {{> ui/checkbox id="terms_2" label='<a href="#">Terms</a> confirmation item'}}
  </div>
  <div class="signup-bottom__submit">
    {{> ui/btn color="blue" label="Start Free Trial" note="Then $125 unnualy" button=true}}
  </div>
</div>
