<div class="signup-donate">
  <div class="signup-donate__inner">
    <div class="signup-donate__icon"></div>
    <div class="signup-donate__content">
      <span class="signup-donate__title">Donate 0,25$ for charity!</span>
      <span class="signup-donate__text">Ulearna will match the donation</span>
      <div class="signup-donate__checkbox">
        {{> ui/checkbox id="donate" label="Add 0,25$ to payment"}}
      </div>
    </div>
  </div>
</div>
