<div class="signup-section">
  <h2 class="signup-section__title">Pick a pay option</h2>
  <p class="signup-section__description">Cancel any time, no commitment</p>
  <div class="signup-section__content">
    {{> ui/radio name="option" value="1" label="US $11 / month" text="Billed annualy US $125; Free trial 3 days" badge="Best value - 20%"}}
    {{> ui/radio name="option" value="2" label="US $15 / month" text="Billed monthly; Free trial 3 days"}}
  </div>
</div>
