<div class="signup-success">
  <div class="container">
    <div class="signup-success__user">
      <div class="signup-success__user-inner">
        <span class="signup-success__user-name">Ali Kazal</span>
        <span class="signup-success__user-role">Student</span>
        <div class="signup-success__user-button">
          {{> ui/btn-arrow label="Go to my Profile"}}
        </div>
      </div>
    </div>
    <div class="signup-success__content">
      <span class="signup-success__title">Congratulations!</span>
      <p class="signup-success__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <div class="signup-success__button">
        {{> ui/btn color="blue" size="large" label="Find Best Course"}}
      </div>
    </div>
  </div>
</div>
