{{#> blocks/common/section-background image="home-plus/hero-bg"}}

  <div class="plus-hero">
    <i class="plus-hero__icon plus-hero__icon--1"></i>
    <i class="plus-hero__icon plus-hero__icon--2"></i>
    <i class="plus-hero__icon plus-hero__icon--3"></i>
    <i class="plus-hero__icon plus-hero__icon--4"></i>

    <div class="plus-hero__logo">
      Ulearna <span class="plus-hero__logo-plus">Plus</span>
    </div>

    <h1 class="plus-hero__title">Reframing Approach<br />to Education</h1>
    <p class="plus-hero__text">Ulearna plus is a non-subscription space for collaboration which provides firsthand
      knowledge to students and solid revenue to instructors worldwide.</p>
    <div class="plus-hero__button">
      {{> ui/btn color="purple" size="large" label="Start with Ulearna Plus"}}
    </div>
  </div>

{{/blocks/common/section-background}}
