<section class="plus-why">
  <div class="container">
    <h2 class="plus-why__title">Why UlearnaPlus?</h2>
    <div class="js-mobile-slider">
      <div class="plus-why__row  js-mobile-slider__row">
        <div class="plus-why__cell">
          {{> widgets/feature color="purple"
                  icon="home-plus/why/01"
                  title="Advance your career"
                  text="Purchase individual advance courses not available in the subscription model. Pass the course exam and collect shareable certificates."
          }}
        </div>
        <div class="plus-why__cell">
          {{> widgets/feature color="purple"
                  icon="home-plus/why/02"
                  title="Limitless access"
                  text="Keep lifetime access to the purchased courses materials, join the discussion and engage with the teacher directly to refresh your memory whenever you need to."
          }}
        </div>
        <div class="plus-why__cell">
          {{> widgets/feature color="purple"
                  icon="home-plus/why/03"
                  title="Join the rank"
                  text="Ulearna Plus courses are offered by world leading industry exports, universities and organizations."
          }}
        </div>
      </div>
    </div>
  </div>
</section>
