<section class="plus-features">
  <div class="container">
    <div class="plus-features__inner">
      <div class="plus-features__cell">
        <div class="plus-features__item">
          <div class="plus-features__image">
            <img src="../assets/images/home-plus/features/01.svg" alt="Real life projects"/>
          </div>
          <span class="plus-features__title">Real life projects</span>
          <p class="plus-features__text">Each course comes with a project to test your limit and sharpen your skills</p>
          <a href="#" class="plus-features__link">Explore All UlearnaPlus Courses</a>
        </div>
      </div>

      <div class="plus-features__cell">
        <div class="plus-features__item">
          <div class="plus-features__image">
            <img src="../assets/images/home-plus/features/02.svg" alt="Not satisfied with the course?"/>
          </div>
          <span class="plus-features__title">Not satisfied with the course?</span>
          <p class="plus-features__text">Don’t worry at all. We have a 30 days money back guarantee policy.</p>
          <a href="#" class="plus-features__link">More About Refunds Money</a>
        </div>
      </div>
    </div>
  </div>
</section>
