<section class="plus-teach">
  <div class="container">
    <div class="plus-teach__inner">
      <span class="plus-teach__subtitle">Ulearna Plus for Instructors</span>
      <h2 class="plus-teach__title">Teach on Ulearna Plus</h2>
      <p class="plus-teach__text">No need to depend on Ulearna premium watch time revenue. Ulearna plus gives you the
        freedom to sell and market courses independently</p>
      <div class="plus-teach__button">
        {{> ui/btn size="large" color="purple" label="Become An Instructor"}}
      </div>
      <p class="plus-teach__note">No need to subscribe. Ulearna gives you the freedom to sell and market courses
        independently.</p>
      <div class="js-mobile-slider">
        <div class="plus-teach__row js-mobile-slider__row">
          <div class="plus-teach__cell">
            {{> widgets/feature center=true color="purple"
                    icon="home-plus/teach/01"
                    title="Make your own rules"
                    text="Create a signature course, promote it independently and define your own selling price or earn revenue based on premium course watch time."
            }}
          </div>
          <div class="plus-teach__cell">
            {{> widgets/feature center=true color="purple"
                    icon="home-plus/teach/02"
                    title="Start writing"
                    text="Share your idea, speak your mind  and earn revenue based on members read time"
            }}
          </div>
          <div class="plus-teach__cell">
            {{> widgets/feature center=true color="purple"
                    icon="home-plus/teach/03"
                    title="Join the rank"
                    text="Ulearna Plus courses are offered by world leading industry exports, universities and organizations."
            }}
          </div>
        </div>
      </div>
      <div class="plus-teach__image">
        {{>components/image img="home-plus/teach/bg" ext="png" no-2x=true}}
        <div class="plus-teach__image-mask">
          {{>components/image img="home-plus/teach/bg-mask" ext="png" no-2x=true}}
        </div>
      </div>
    </div>
  </div>
</section>
