<div class="tab-overview">
  <div class="tab-overview__wrapper">
    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Language" id="select_course_language" note="Help text"}}
        {{#> ui/select id="select_course_language"}}
          <option value="0">English</option>
          <option value="1">Russian</option>
          <option value="2">German</option>
        {{/ui/select}}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Category" id="select_course_category" note="Help text"}}
        {{#> ui/select id="select_course_category"}}
          <option value="0">Creative Writing</option>
          <option value="1">Creative Writing</option>
          <option value="2">Creative Writing</option>
        {{/ui/select}}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Name" id="input_course_name" note="Help text (min. --, max. -- symbols)"}}
        {{> ui/input id="input_course_name"
          value="Customizing Type with Draplin: Creating Wordmarks That Work"
          placeholder="Course Name"
        }}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Skills" id="input_course_skills" note="Help text"
                    value=""}}
        {{#> ui/select id="select_course_skills" multiple-search=true}}
          <option value="0">Skill name</option>
          <option value="1">Skill name</option>
          <option value="2">Skill name</option>
        {{/ui/select}}
      {{/ui/field}}
    </div>

    <div class="tab-overview__form-field">
      {{#> ui/field label="Course Overview" id="classic_editor" note="Help text (max. -- symbols)"
                    value=""}}
        <div class="editor">
          <h2>Bold Big Text</h2>
          <h3>Body medium text</h3>
          <h4>Body small text</h4>
        </div>
      {{/ui/field}}
    </div>
  </div>

  {{> blocks/create-course/course-page-separator}}

  <div class="tab-overview__wrapper">
    {{> blocks/create-course/overview/tab-overview-faq active=true}}

    <div class="tab-overview__more-btn">
      {{> ui/btn
        outline=true
        label='One More Question'
        icon='button-plus'
        transparent=true
      }}
    </div>

    <div class="tab-overview__next-btn">
      {{> ui/btn
        color = "blue"
        label = "Next"
        href="/html/video-lessons.html"
        icon="button-arrow-next"
        icon-right = true
        btn-mode="large"
        w100 = true
      }}
    </div>
  </div>
</div>
