<nav class="article-nav">
  <div class="article-nav__item">
    <a href="#" class="article-nav__link active">About Ulearna</a>
  </div>

  <div class="article-nav__item">
    <a href="#" class="article-nav__link">Learning Plans</a>
  </div>

  <div class="article-nav__item">
    <a href="#" class="article-nav__link">Instructor Book</a>
  </div>

  <div class="article-nav__item">
    <a href="#" class="article-nav__link">Student Book</a>
  </div>

  <div class="article-nav__item">
    <a href="#" class="article-nav__link">Q&A</a>
  </div>
</nav>
