<div class="article-main">
  <div class="article-main__block">
    <span class="article-main__title article-main__title--h3">H3 About Ulearna</span>
    <div class="article-main__inner">
      <p class="article-main__text article-main__text--large">Amet minim mollit non deserunt ullamco est sit
        aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non
        deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>

  <div class="article-main__block">
    <span class="article-main__title article-main__title--h4">H4 Paragraph Title</span>
    <div class="article-main__inner">
      <p class="article-main__text article-main__text">Amet minim mollit non deserunt ullamco est sit
        aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non
        deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>

      <p class="article-main__text article-main__text">Amet minim mollit non deserunt ullamco est sit
        aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non
        deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>

  <div class="article-main__block">
    <span class="article-main__title article-main__title--h5">H5 Topic Title</span>
    <div class="article-main__inner">
      <p class="article-main__text article-main__text">Amet minim mollit non deserunt ullamco est sit
        aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non
        deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>

    <ul class="article-main__list">
      <li class="article-main__list-item">Marked list item</li>
      <li class="article-main__list-item">Marked list item</li>
      <li class="article-main__list-item">Marked list item</li>
      <li class="article-main__list-item">Marked list item</li>
      <li class="article-main__list-item">Marked list item</li>
    </ul>
  </div>

  <div class="article-main__block">
    <span class="article-main__title article-main__title--h6">H6 Title</span>
    <div class="article-main__inner">
      <p class="article-main__text article-main__text">Amet minim mollit non deserunt ullamco est sit
        aliqua dolor do amet sint. Velit
        officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non
        deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    </div>
  </div>

  <div class="article-main__bottom">
    <span class="article-main__bottom-text">
   <a href="#">Terms of use</a> and <a href="#">Privacy Policy</a> mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </span>
  </div>
</div>
