.create-course-tabs {
  @include reset-slider-container-mobile;

  &__inner {
    display: flex;
    justify-content: center;
    white-space: nowrap;
    background: $color-white;

    @include mobile {
      margin-left: 16px;
      padding-left: 0;
    }
  }

  &__item {
    margin-left: 30px;

    @include mobile {
      margin-left: 16px;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    position: relative;
    padding: 14px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $color-gray-light;
    text-transform: capitalize;

    @include mobile {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      padding: 12px 0;
    }

    &:hover {
      color: $color-dark;
    }

    &.active {
      color: $color-dark;
      position: relative;

      &:after {
        content: '';
        left: 0;
        right: 0;
        height: 4px;
        bottom: 0;
        background: $color-blue-dark;
        position: absolute;
      }
    }

    &--passed {
      padding-right: 24px;

      &:after {
        content: "";
        position: absolute;
        right: 0;
        @include sprite("check-mark-small");
        @include align(false, true);
      }
    }
  }
}
