.tab-overview {
  &__wrapper {
    margin: 0 auto;
    max-width: 836px;
  }

  &__form-field {
    margin-top: 30px;

    &:nth-child(3) {
      margin-top: 23px;
    }

    &:nth-child(4) {
      margin-top: 23px;
    }

    &:nth-child(5) {
      margin-top: 23px;
    }
  }

  &__separator {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 1280px;
    height: 1px;
    background: #DAE4ED;
  }

  &__more-btn {
    margin-top: 20px;
  }

  &__next-btn {
    margin: 80px auto 0;
    max-width: 390px;
  }
}
