.catalog-links {

  &__item {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $color-black;

    @include smallTablet {
      padding-left: $tabletGutter;
      padding-right: $tabletGutter;
    }

    @include mobile {
      padding-left: $mobileGutter;
      padding-right: $mobileGutter;
    }

    &:hover {
      color: $color-blue;
    }
  }
}
