@mixin desktop1440_and_less {
  @media(max-width: 1499px) and (min-width: $tabletMedia + 1) {
    @content;
  }
}

@mixin desktop1366_and_less {
  @media(max-width: 1439px) and (min-width: $tabletMedia + 1) {
    @content;
  }
}

@mixin desktop1280_and_less {
  @media(max-width: 1365px) and (min-width: $tabletMedia + 1) {
    @content;
  }
}

@mixin cross($size, $color) {
  display: block;
  position: relative;
  width: to-number($size);
  height: to-number($size);

  &::after,
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    display: block;
    width: #{diagonal(to-number($size))};
    height: 1.8px;
    border-radius: 5px;
    background-color: $color;
    @include transition;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
