.chat-search {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 252px;
  border-radius: 12px;

  &__icon {
    content: '';
    @include sprite('search-mobile');
    @include align(false, true);
    left: 17px;
    margin-top: -1px;
  }

  &__input {
    display: block;
    height: 46px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    padding: 0 40px 0 48px;
    border: 2px solid #DAE4ED;
    background: transparent;
    border-radius: 12px;
    @include transition;

    @include placeholder {
      color: rgba(5, 36, 51, 0.2);
    }

    &:focus {
      border-color: $color-blue;
    }
  }
}
