.chat-author {
  position: relative;
  box-shadow: inset 0px -1px 0px $color-gray;

  @include mobile {
    margin-top: 22px;
    background: #F4F7FA;
    box-shadow: inset 0px -1px 0px #DAE4ED;
  }

  &__inner {
    padding: 12px 20px;
    display: flex;
    align-items: center;

    @include mobile {
      margin-top: 15px;
      padding: 11px 16px;
    }
  }

  &__back-btn {
    display: none;

    @include mobile {
      padding: 0 16px;
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__img {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;

    @include mobile {
      width: 32px;
      height: 32px;
    }
  }

  &__title {
    margin-left: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;

    @include mobile {
      margin-left: 14px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__more {
    margin-left: auto;
    padding: 5px 0 5px 5px;
    cursor: pointer;

    &:hover {
      .chat-author__block-btn {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__more-btn {
    margin-right: -4px;
    @include sprite('more-btn');
  }

  &__block-btn {
    position: absolute;
    top: 51px;
    right: 21px;
    padding: 10px 35px 10px 40px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    background: $color-white;
    box-shadow: 0 6px 44px rgba(1, 64, 139, 0.24);
    border-radius: 12px;
    visibility: hidden;
    opacity: 0;
    @include transition;

    &:before {
      position: absolute;
      top: 13px;
      left: 16px;
      content: '';
      @include sprite('not-allow');
    }
  }

}
