<header class="page-header {{#if center}}page-header--center{{/if}} {{#if search}}page-header--with-search{{/if}}">
  <div class="container">
    <div class="page-header__wrapper">
      <div class="page-header__back">
        <a href="#" class="page-header__back-link">Back To Main</a>
      </div>
      <div class="page-header__inner">
        <h1 class="page-header__title {{#if success}}page-header__title--success{{/if}}">{{ title }}</h1>
        {{#if text}}<p class="page-header__text">{{ text }}</p>{{/if}}

        {{#if search}}
          <div class="page-header__search">
            {{> widgets/search-input search=true placeholder=input-placeholder label=input-label big=true}}
          </div>
        {{/if}}
      </div>
      {{#if has-next}}
        <div class="page-header__next">
          <a href="#" class="page-header__next-link">Skip This Step</a>
        </div>
      {{/if}}
    </div>
  </div>
</header>
