<div class="course-price">
  <div class="course-price__inner">
    <span class="course-price__title">Purchase UlearnaPlus course&nbsp;by</span>
    <span class="course-price__old">45$</span>
    <div class="course-price__price">
      <span class="course-price__price-value">8$</span>
      <span class="course-price__price-label">
      <span class="course-price__price-badge">Sale -20%</span>
      / full course
    </span>
    </div>
    <div class="course-price__link">
      <a href="#">More about UlearnaPlus</a>
    </div>
  </div>
  <button class="course-price__submit">
    Buy Course for $8.00
  </button>
</div>
