<div class="course-stats">
  <div class="course-stats__item">
    {{> widgets/rating-card small=true views=168 label="Student watched"}}
  </div>
  <div class="course-stats__item">
    {{> widgets/rating-card small=true energy=true label="Level" label-bold="Intermediate"}}
  </div>
  <div class="course-stats__item">
    {{> widgets/rating-card small=true stars=true active-stars=3 not-active-stars=2 label="Course rating" label-bold="3/5"}}
  </div>
</div>
