{{#> popups/_base title="Modal share" id="modal-share"}}
  <div class="modal-share">
    <button class="modal-share__close js-popup-close"></button>
    <div class="modal-share__inner">

    </div>
  </div>
{{/ popups/_base}}
