{{#> popups/_base id=id}}
  <div class="modal-followers">
    <div class="modal-sign__header">
      <span class="modal-sign__title">{{title}}</span>
      <button class="modal-sign__close js-popup-close"></button>
    </div>

    <div class="modal-followers__content">

    </div>
  </div>
{{/popups/_base}}
