{{#> popups/_base id=id}}
  <div class="modal-share">
    <div class="modal-share__header">
      <span class="modal-share__title">{{title}}</span>
      <button class="modal-share__close js-popup-close"></button>
    </div>
    {{#when socials '||' copy-link}}
      <div class="modal-share__content">
        <div class="modal-share__socials">
          <a href="#" class="modal-share__social-link modal-share__social-link--facebook"></a>
          <a href="#" class="modal-share__social-link modal-share__social-link--twitter"></a>
          <a href="#" class="modal-share__social-link modal-share__social-link--copy"></a>
        </div>
        <div class="modal-share__separator">
          <span>or</span>
        </div>
        <div class="modal-share__form">
          {{> ui/input id="input_email" placeholder="Email adresses (Separate by Commas)"}}
        </div>
        <div class="modal-share__form-btn">
          {{> ui/btn color="blue" size="large" label="Send" w100=true}}
        </div>
      </div>
    {{/when}}
  </div>
{{/popups/_base}}
