{{#> popups/_base id=id}}
  <div class="modal-sign">
    <div class="modal-sign__header">
      <span class="modal-sign__title">{{title}}</span>
      <button class="modal-sign__close js-popup-close"></button>
    </div>

    <div class="modal-sign__separator">
      <span>or</span>
    </div>

    <div class="modal-sign__content">
      <p class="modal-sign__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim
      </p>
      <div class="modal-sign__button">
        {{> ui/btn size="large" label="Sign up" w100=true}}
      </div>
    </div>
  </div>
{{/popups/_base}}
