{{#> popups/_base id="modal-video"}}
  <div class="modal-video">
    <div class="modal-video__content">
      <video src="../assets/video/home-student/2.mp4" loop muted playsinline></video>
    </div>
  </div>
{{/popups/_base}}
