<main class="dashboard">
  <div class="dashboard__header">
    <h4 class="dashboard__title">Hello, Ali, this is your Dahboard</h4>
    {{> ui/btn
    outline=true
    label='Edit Profile'
    icon='button-edit'
    transparent=true
    }}
  </div>

  <div class="dashboard__about">
    <h6 class="dashboard__about-title">About me</h6>
    <span class="dashboard__about-text">Hello, I’m Ali...</span>
  </div>

  <div class="dashboard__progress">
    {{> blocks/page-profile/student-progress}}
  </div>
</main>
