<div class="highlights-card">
  <span class="highlights-card__title">Credential and Highlights</span>
  <div class="highlights-card__feature">
    <i class="highlights-card__feature-icon highlights-card__feature-icon--stand"></i>
    <span class="highlights-card__feature-text ">Senior Developer</span>
  </div>

  <div class="highlights-card__feature">
    <i class="highlights-card__feature-icon highlights-card__feature-icon--hat"></i>
    <span class="highlights-card__feature-text ">Education Title</span>
  </div>

  <div class="highlights-card__feature">
    <i class="highlights-card__feature-icon highlights-card__feature-icon--globe"></i>
    <span class="highlights-card__feature-text ">Language,Language</span>
  </div>

  <div class="highlights-card__feature">
    <i class="highlights-card__feature-icon highlights-card__feature-icon--mark"></i>
    <span class="highlights-card__feature-text ">Country</span>
  </div>

  <div class="highlights-card__btn">
    {{> ui/btn
      outline=true
      label='Edit'
      transparent=true
    }}
  </div>
</div>
