<div class="highlights-card">
  <span class="highlights-card__title">Credential and Highlights</span>
  <div class="highlights-card__features">
    <span class="highlights-card__feature highlights-card__feature--stand">Senior Developer</span>
    <span class="highlights-card__feature highlights-card__feature--hat">Education Title</span>
    <span class="highlights-card__feature highlights-card__feature--globe">Language, Language</span>
    <span class="highlights-card__feature highlights-card__feature--mark">Country</span>
  </div>

  <div class="highlights-card__btn">
    {{> ui/btn
      outline=true
      label='Edit'
      transparent=true
    }}
  </div>
</div>
