<div class="info-card">
  <h6 class="info-card__title">Credential and Highlights</h6>
  <div class="info-card__content">
    <div class="info-card__feature info-card__feature--developer">Senior Developer</div>
    <div class="info-card__feature info-card__feature--education">Education Title</div>
    <div class="info-card__feature info-card__feature--language">Language, Language</div>
    <div class="info-card__feature info-card__feature--country">Country</div>
  </div>

  <div class="info-card__btn">
    {{> ui/btn
    outline=true
    label='Edit'
    transparent=true
    }}
  </div>
</div>