<div class="informer-tabs">
  <div class="informer-tabs__item">
    <span class="informer-tabs__link active">Week</span>
  </div>
  <div class="informer-tabs__item">
    <span class="informer-tabs__link">Month</span>
  </div>
  <div class="informer-tabs__item">
    <span class="informer-tabs__link">Year</span>
  </div>
  <div class="informer-tabs__item">
    <span class="informer-tabs__link">All Time</span>
  </div>
</div>
