<div class="informer-diagram">
  <div class="informer-diagram__circle">
    <svg width="205" height="205" viewBox="0 0 205 205" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d)">
        <circle cx="102.5" cy="98.5" r="80.5" stroke="#F2B71E" stroke-width="16" />
      </g>
      <path d="M102.5 179C58.0411 179 22 142.959 22 98.5C22 54.0411 58.0411 18 102.5 18" stroke="#42DB92"
            stroke-width="16" stroke-linecap="round" />
      <path d="M22 98.5C22 54.0411 58.0411 18 102.5 18" stroke="#20B7F7" stroke-width="16" stroke-linecap="round" />
      <defs>
        <filter id="filter0_d" x="0" y="0" width="205" height="205" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
          <feOffset dy="4" />
          <feGaussianBlur stdDeviation="7" />
          <feColorMatrix type="matrix" values="0 0 0 0 0.00392157 0 0 0 0 0.25098 0 0 0 0 0.545098 0 0 0 0.14 0" />
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
        </filter>
      </defs>
    </svg>
  </div>

  <div class="informer-diagram__label">
    <span class="informer-diagram__label-top">Total </span>
    <span class="informer-diagram__label-main">26h</span>
  </div>
</div>
