<div class="informer-tabs js-tabs">
  <span class="informer-tabs__tab js-tab active">Week</span>
  <span class="informer-tabs__tab js-tab ">Month</span>
  <span class="informer-tabs__tab js-tab ">Year</span>
  <span class="informer-tabs__tab js-tab ">All Time</span>
</div>
