<div class="informer-list">
  <div class="informer-list__item">
    <span class="informer-list__item-name">Technology</span>
    <span class="informer-list__item-time">5h</span>
  </div>

  <div class="informer-list__item">
    <span class="informer-list__item-name">Social Networking</span>
    <span class="informer-list__item-time">5h</span>
  </div>

  <div class="informer-list__item">
    <span class="informer-list__item-name">Java</span>
    <span class="informer-list__item-time">5h</span>
  </div>
</div>
