<div class="informer">
  {{> blocks/page-profile/informer-tabs}}

  <div class="informer__hints">
    {{> blocks/page-profile/informer-hint}}
  </div>

  <div class="informer__block">
    {{> blocks/page-profile/informer-diagram}}
  </div>

  <div class="informer__block">
    {{> blocks/page-profile/informer-list}}
  </div>
</div>
