<div class="interests-card">
  <span class="interests-card__title">Interests</span>
  <div class="interests-card__tags">
    <span class="interests-card__tag">Technology</span>,
    <span class="interests-card__tag">Social network</span>,
    <span class="interests-card__tag">Java</span>,
    <span class="interests-card__tag">Web Developing</span>
  </div>

  <div class="interests-card__btn">
    {{> ui/btn
      outline=true
      label='Edit'
      transparent=true
    }}
  </div>
</div>
