<div class="profile-dashboard">
  <div class="profile-dashboard__left">
    {{> blocks/page-profile/student-block}}
  </div>

  <div class="profile-dashboard__right">
    <div class="profile-dashboard__block">
      {{> blocks/page-profile/highlights-card}}
    </div>

    <div class="profile-dashboard__block">
      {{> blocks/page-profile/interests-card}}
    </div>

    <div class="profile-dashboard__block">
      {{> blocks/page-profile/progress-card}}
    </div>
  </div>
</div>
