<div class="profile-counters">
  <div class="profile-counters__counter">
    <div class="profile-counters__counter-text">Active Courses</div>
    <span class="profile-counters__counter-number">{{> ui/svg name='strip' mode='profile-counters__counter-strip--green'}}12</span>
  </div>

    <div class="profile-counters__counter">
    <div class="profile-counters__counter-text ">Certificates</div>
    <span class="profile-counters__counter-number">{{> ui/svg name='strip' mode='profile-counters__counter-strip--green'}}4</span>
  </div>
</div>