<div class="profile-header">
  <span class="profile-header__title">Hello, Ali, this is your Dahboard</span>

  {{#if button}}
  <div class="profile-header__btn">
    {{> ui/btn
      outline=true
      label='Edit Profile'
      icon='button-edit'
      transparent=true
    }}
  </div>
  {{/if}}
</div>
