  <div class="profile-user">
    <div class="profile-user__img">
      {{> components/image img="header/avatar" ext="jpg"}}
    </div>
    <div class="profile-user__inner">
      <div class="profile-user__name">Ali Kazal</div>
        <a href="mailto:Ali_Kazal@email.com" class="profile-user__email">Ali_Kazal@email.com</a>
    </div>
  </div>