<div class="profile-socials">
  <div class="profile-socials__counters">
    <div class="profile-socials__counter">
      <span class="profile-socials__counter-number">168</span>
      <span class="profile-socials__counter-text">Folowers</span>
    </div>

    <div class="profile-socials__counter">
      <span class="profile-socials__counter-number">10</span>
      <span class="profile-socials__counter-text">Followings</span>
    </div>
  </div>

  <a href="#" class="profile-socials__link">Website//alikazal.org.com</a>

  <div class="profile-socials__networks">
    <a href="#" class="profile-socials__network profile-socials__network--twitter"></a>
    <a href="#" class="profile-socials__network profile-socials__network--facebook"></a>
    <a href="#" class="profile-socials__network profile-socials__network--instagram"></a>
    <a href="#" class="profile-socials__network profile-socials__network--youtube"></a>
  </div>
</div>
