<div class="profile-dashboard">
  <div class="profile-dashboard__left">
    {{> blocks/page-profile/student-block}}
  </div>

  <div class="profile-dashboard__right">
    {{> blocks/page-profile/info-card}}
  </div>
</div>