<div class="profile-dashboard">
  <div class="profile-dashboard__left">
    {{> blocks/page-profile/student-block}}
  </div>

  <div class="profile-dashboard__right">
    <div class="profile-dashboard__widget">
      {{> blocks/page-profile/profile-widget  title="Credential and Highlights"}}
    </div>

    <div class="profile-dashboard__widget">
      {{> blocks/page-profile/profile-widget  title="Interests"}}
    </div>

    <div class="profile-dashboard__widget">
      {{> blocks/page-profile/profile-widget title="learning Time"}}
    </div>
  </div>
</div>
