<div class="profile-header">
  <h4 class="profile-header__title">Hello, Ali, this is your Dahboard</h4>
  {{#if button}}
  {{> ui/btn
  outline=true
  label='Edit Profile'
  icon='button-edit'
  transparent=true
  }}
  {{/if}}
</div>