<div class="progress-block">
  <div class="progress-block__inner">
    <span class="progress-block__course-name">
      {{course-name}}
    </span>

    <div class="progress-block__counters">
      <span class="progress-block__counter-text">Lessons</span>
      <span class="progress-block__counter-passed">{{passed}}</span>
      <span style="color:#20B7F7">/</span>
      <span class="progress-block__counter-total">{{total}}</span>
    </div>
    {{#if button-label}}
      <div class="progress-block__btn">
        {{> ui/btn
          outline=true
          label=button-label
          transparent=true
        }}
      </div>
    {{/if}}

    <div class="progress-block__round-bar">
      {{#if progress-100}}
        {{> widgets/round-bar
          label='100%'
          progress='100 0'
          mod='green'
        }}
      {{/if}}

      {{#if progress-60}}
        {{> widgets/round-bar
          label='60%'
          progress='60 40'
          mod='green'
        }}
      {{/if}}

      {{#if progress-20}}
        {{> widgets/round-bar
          label='20%'
          progress='20 80'
          mod='orange'
        }}
      {{/if}}

      {{#if progress-0}}
        {{> widgets/round-bar
          label='0%'
          progress='0 0'
        }}
      {{/if}}
    </div>

  </div>
</div>


