<div class="student-block">
  <div class="student-block__header">
    <span class="student-block__header-title">Course Progress</span>
    <a href="#" class="student-block__header-link">See All</a>
  </div>

  <div class="student-block__list">
    {{> blocks/page-profile/progress-block
      course-name='Customizing Type with Draplin: Creating Wordmarks That Work'
      passed='10'
      total='10'
      progress-value=100
      button-label='View Certificate'
    }}

    {{> blocks/page-profile/progress-block
      course-name='Customizing Type with Draplin: Creating Wordmarks That Work'
      passed='8'
      total='10'
      progress-value=60
      button-label='Start exam'
    }}

    {{> blocks/page-profile/progress-block
      course-name='Customizing Type with Draplin: Creating Wordmarks That Work'
      passed='2'
      total='10'
      progress-value=20
    }}

    {{> blocks/page-profile/progress-block
      course-name='Fundamentals of DSLR Photography'
      passed='2'
      total='10'
      progress-value=20
    }}

    {{> blocks/page-profile/progress-block
      course-name='Productivity Masterclass: Create a Custom System that Works'
      passed='2'
      total='10'
      progress-value=20
    }}

    {{> blocks/page-profile/progress-block
      course-name='ODD BODIES: Illustrating Expressive, Stylized People'
      passed='0'
      total='10'
      progress-value=0
    }}

    {{> blocks/page-profile/progress-block
      course-name='Fundamentals of DSLR Photography'
      passed='0'
      total='10'
      progress-value=0

    }}

    {{> blocks/page-profile/progress-block
      course-name='Productivity Masterclass: Create a Custom System that Works'
      passed='0'
      total='10'
      progress-value=0

    }}

  </div>
</div>
