.chat {
  margin-top: 16px;
  padding-bottom: 23px;
  border-top: 1px solid $color-gray;

  &__inner {
    display: flex;
  }

  &__left {
    flex: 0 0 282px;
    max-width: 282px;
    border-right: 1px solid $color-gray;
  }

  &__right {
    flex-grow: 1;
  }

  &__header {
    margin-top: 12px;
    padding-bottom: 16px;
    box-shadow: inset 0px -1px 0px #DAE4ED;

    &-title {
      font-weight: 600;
      font-size: 29px;
      line-height: 43px;
    }
  }

  &__search {
    margin-top: 16px;
    margin-left: 10px;
  }

  &__users {
    margin-top: 10px;
    min-height: 961px;
    max-height: 961px;
    overflow-y: auto;
  }
}
