.chat {
  margin-top: 16px;
  padding-bottom: 23px;
  border-top: 1px solid $color-gray;

  @include mobile {
    margin-top: 0;
    padding-bottom: 0;
    border-top: none;
  }

  &__inner {
    display: flex;
  }

  &__left {
    flex: 0 0 282px;
    max-width: 282px;
    border-right: 1px solid $color-gray;

    @include mobile {
      margin-top: 11px;
      padding-left: 16px;
      padding-bottom: 56px;
      flex: 0 0 100%;
      max-width: 100%;

    }
  }

  &__right {
    flex-grow: 1;
    width: 100%;

    @include mobile {
      margin-left: 100%;
      position: absolute;
      top: 20px;
      left: 0;
      @include transition(margin-left, .2s)
    }

    &--opened {
      margin-left: 0;
    }
  }

  &__header {
    margin-top: 12px;
    padding-bottom: 16px;
    box-shadow: inset 0px -1px 0px #DAE4ED;

    &-title {
      font-weight: 600;
      font-size: 29px;
      line-height: 43px;
    }
  }

  &__search {
    margin-top: 16px;
    margin-left: 10px;

    @include mobile {
      display: none;
    }
  }

  &__users {
    margin-top: 10px;
    min-height: 961px;
    max-height: 961px;
    overflow-y: auto;

    @include mobile {
      margin-top: 0;
      min-height: 615px;
      max-height: 615px;
    }

  }
}
