.profile-sidebar {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 20px 40px 40px 80px;
  height: 100%;
  border-radius: 0 12px 0 0;
  box-shadow: 5px 0 16px rgba(1, 64, 139, 0.08);

  @include smallTablet-and-mobile {
    padding: 20px 40px 40px;
    border-radius: 0;
  }

  @include mobile {
    padding: 0;
    box-shadow: none;
  }

  &__inner {
    @include mobile {
      box-shadow: 0 4px 14px rgba(1, 64, 139, .14);
    }
  }

  &__block {
    padding: 16px 0;
    border-top: 1px solid #dae4ed;

    @include smallTablet-and-mobile {
      margin: 0 auto;
      margin-top: 0;
      padding: 0;
      text-align: center;
      border-top: 0 none;

      &:nth-child(3) {
        margin-top: 16px;
        width: 100%;
      }
    }

    &:first-child {
      padding-top: 0;
      border-top: 0 none;
    }
  }

  &__nav {
    margin-top: -16px;
    margin-right: -8px;
    margin-left: -8px;
    display: flex;
    flex-wrap: wrap;

    @include smallTablet-and-mobile {
      margin-top: 16px;
      margin-right: -5px;
      margin-left: -5px;
    }

    @include mobile {
      margin-right: 0;
      margin-left: 0;
      padding-left: 16px;
      padding-right: 16px;
      background: rgba(243, 246, 249, 1);
    }

    &-item {
      margin-top: 16px;
      padding-left: 8px;
      padding-right: 8px;
      flex: 1 0 50%;
      max-width: 50%;

      @include smallTablet-and-mobile {
        margin-top: 0;
        padding-left: 5px;
        padding-right: 5px;
        flex: 1 0 16.66%;
        max-width: 16.66%;
      }

      @include mobile {
        margin-left: 5px;
        padding: 0;
        flex: 1 0 calc(16.66% - 5px);
        max-width: calc(16.66% - 5px);

        &:first-child {
          margin-left: 0;
          flex: 1 0 16.66%;
          max-width: 16.66%;
        }
      }
    }
  }

  &__notify-card {
    margin-top: 20px;

    @include mobile {
      margin-top: 0;
    }
  }

  &__bottom {
    margin-top: auto;
    padding-top: 20px;

    @include mobile {
      display: none;
    }
  }
}
