.profile-sidebar-counter-strip {
  &__number {
    margin-top: 8px;
    display: inline-flex;
    align-items: center;
    line-height: 15px;

    &:before {
      content: '';
      margin-right: 7px;
      display: block;
      width: 4px;
      height: 15px;
      background: $color-green;
      border-radius: 3px;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: normal;
    color: $color-gray-dark;
  }

  &:not(:last-child) {
    margin-right: 16px;
  }
}
