.profile-widget {
  padding: 18px 20px 16px;
  background: $color-white;
  box-shadow: 0 9px 16px rgba(1, 64, 139, 0.08);
  border-radius: 12px;

  @include mobile {
    box-shadow: 0 4px 14px rgba(1, 64, 139, 0.14);
  }

  &__inner {
    display: flex;
  }

  &__content {
    margin-top: 6px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
  }


  &__btn {
    margin-top: 16px;
    display: inline-flex;
  }

  &__btn-icon {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: $color-gray-dark;

    @include mobile {
      display: none;
    }

    &:after {
      margin-left: 6px;
      content: '';
      @include sprite('arrow-down-small');
    }

  }

  &__info {
    &-feature {
      position: relative;
      display: block;
      margin-top: 9px;
      padding-left: 24px;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }

      &--stand {
        &:before {
          @include sprite('stand');
        }
      }

      &--hat {
        &:before {
          @include sprite('hat');
        }
      }

      &--globe {
        &:before {
          @include sprite('globe');
        }
      }

      &--mark {
        &:before {
          @include sprite('mark');
        }
      }
    }

    &-tag {
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      color: $color-blue;
    }
  }
}

