.profile-counters {
  display: flex;
  flex-wrap: wrap;

  @include smallTablet-and-mobile {
    padding-top: 10px;
    border-top: 1px solid #dae4ed;
    align-items: center;
    justify-content: center;
  }

  &__counter {
    @include smallTablet-and-mobile {
      flex: 1 0 auto;
    }

    &:first-child {
      @include smallTablet-and-mobile {
        padding-left: 8px;
        padding-right: 8px;
      }
    }

    &:last-child {
      @include smallTablet-and-mobile {
        padding-right: 8px;
        padding-left: 8px;
      }
    }

    &:not(:first-child) {
      margin-left: 25px;
      @include smallTablet-and-mobile {
        margin-left: 0;
        border-left: 1px solid #DAE4ED;
      }
    }

    &:nth-child(3) {
      margin-left: 0;
      margin-top: 20px;
    }

    &-text {
      font-size: 14px;
      font-weight: normal;
      line-height: 140%;
      color: $color-gray-dark;

      @include smallTablet-and-mobile {
        color: $color-dark;
      }

      @include mobile {
        font-size: 12px;
        line-height: 150%;
      }
    }
  }

  &__item {
    margin-top: 2px;
    display: inline-flex;
    align-items: center;

    @include smallTablet-and-mobile {
      margin-top: 15px;
    }

    &-number {
      margin-left: 7px;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;

      @include smallTablet-and-mobile {
        font-weight: 600;
      }

      @include mobile {
        line-height: 18px;
      }
    }

    &-icon {
      height: 15px;

      &--green {
        color: $color-green;
      }

      &--purple {
        color: $color-purple;
      }

      @include smallTablet-and-mobile {
        display: none;
      }

      svg {
        width: 4px;
        height: 15px;
      }
    }


  }
}
