.profile {
  background: #f4f7fa;
  margin-bottom: -100px;

  @include smallTablet-and-mobile {
    margin-bottom: -60px;
  }

  &__inner {
    padding-top: 24px;
    display: flex;

    @include smallTablet-and-mobile {
      display: block;
    }

    @include mobile {
      padding-top: 0;
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  &__left {
    margin-left: -80px;
    flex: 0 0 363px;
    max-width: 363px;

    @include smallTablet-and-mobile {
      margin-left: 0;
      max-width: none;
    }
  }

  &__dashboard {
    margin-left: 50px;
    padding-bottom: 130px;
    flex-grow: 1;

    @include smallTablet-and-mobile {
      margin-left: 0;
      padding-bottom: 60px;
    }
  }

  &__courses {
    margin-left: 50px;
    padding-bottom: 160px;

    @include smallTablet-and-mobile {
      margin-left: 0;
      padding-bottom: 60px;
    }

    @include mobile {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__instructor {

  }
}
