.course-intro {
  background: $color-background-dark;
  padding: 40px 0;


  @include smallTablet-and-mobile {
    padding: 0;
  }

  &__buttons {
    display: flex;

    .btn {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include smallTablet-and-mobile {
      padding: 12px 0;
    }
  }

  &__right {
    width: 300px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;

    @include mobile {
      margin-left: 10px;
    }

    .course-intro__row & {
      @include smallTablet-and-mobile {
        flex: 1 1 100%;
        max-width: 100%;
        margin-left: 0;
        margin-top: 20px;
      }
    }

  }

  &__left {
    flex: 1 1 1px;

    @include smallTablet-and-mobile {
      flex: 1 1 100%;
      max-width: 100%;

    }
  }

  &__row {
    position: relative;
    margin-top: 20px;
    padding-bottom: 41.6%;

    @include smallTablet-and-mobile {
      margin: 0;
      padding-bottom: 0;
      display: block;
    }
  }

  &__wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;

    @include smallTablet-and-mobile {
      margin-left: -$tabletGutter;
      margin-right: -$tabletGutter;
      position: static;
      flex-wrap: wrap;
    }

    @include mobile {
      margin-left: -$mobileGutter;
      margin-right: -$mobileGutter;
    }
  }

  &__info {
    width: 72.8%;
    display: none;

    @include smallTablet-and-mobile {
      width: 100%;
    }

    @include smallTablet {
      padding-left: $tabletGutter;
      padding-right: $tabletGutter;
    }

    @include mobile {
      padding-left: $mobileGutter;
      padding-right: $mobileGutter;
    }

    &--desktop {
      @include no-smallTablet {
        display: block;
      }
    }

    &--mobile {
      @include smallTablet-and-mobile {
        display: block;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 29px;
    line-height: 43px;
    display: block;
    margin-top: 30px;
    color: $color-white;
    margin-bottom: 0;

    @include smallTablet-and-mobile {
      font-size: 18px;
      line-height: 27px;
      margin-top: 16px;
    }
  }

  &__description {
    font-size: 16px;
    line-height: 146%;
    color: $color-gray-dark;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  &__follow {
    display: inline-flex;

    .btn-icon {
      color: $color-blue;
    }
  }

  &__author {
    color: $color-blue;
    font-weight: 600;
    margin-right: 5px;
  }
}
