.course-tabs {
  box-shadow: inset 0px -1px 0px #DAE4ED;
  display: flex;

  &__item {
    margin-left: 31px;

    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    padding: 14px 0;
    display: block;
    position: relative;
    color: $color-gray-light;

    &:hover {
      color: $color-dark;
    }

    &.active {
      color: $color-dark;
      position: relative;

      &:after{
        content: '';
        left: 0;
        right: 0;
        height: 4px;
        bottom: 0px;
        background: $color-blue-dark;
        position: absolute;
      }
    }
  }
}
