<div class="about-block">
  <p class="about-block__text">Marvin Murphy dedicated the last 20 years of his life to make the web work and thrive. As
    a lead developer on some of the largest web products he learned that knowledge is not enough without teamwork and
    good handover. He is the author of several JavaScript books and the Developer Evangelism handbook. He is currently a
    Senior Program Manager in Microsoft and spends a lot of time pondering how machine learning and AI can aid humans
    and replace jobs we're too important to do.</p>

  <div class="about-block__info">
    <span class="about-block__info-title">Educational Categories</span>
    <div class="about-block__info-tags">
      <span class="about-block__info-tag">Technology</span>,
      <span class="about-block__info-tag">Social network</span>,
      <span class="about-block__info-tag">Java</span>,
      <span class="about-block__info-tag">Web Developing</span>
    </div>
  </div>

  <div class="about-block__header">
    <span class="about-block__header-title">Courses</span>
    <a href="#" class="about-block__header-link">{{> ui/btn-arrow label="See All"}}</a>
  </div>

  <div class="about-block__cards">
    <div class="about-block__cards-item">
      {{> widgets/course-card
        title="Customizing Type with Draplin: Creating Wordmarks That Work"
        author="by Marvin Murphy"
        copyright=true
      }}
    </div>

    <div class="about-block__cards-item">
      {{> widgets/course-card
        title="ODD BODIES: Illustrating Expressive, Stylized People"
        author="by Marvin Murphy"
        copyright=true
      }}
    </div>

    <div class="about-block__cards-item">
      {{> widgets/course-card
        title="Fundamentals of DSLR Photography"
        author="by Marvin Murphy"
        copyright=true
      }}
    </div>
  </div>
</div>
