<div class="course-row">
  <div class="course-row__inner">
    <div class="course-row__img">
      {{> components/image img=(concat 'profile/instructor/' image) img-mobile=(concat 'profile/instructor/' image '-mobile') ext="jpg" no-2x=true}}

      {{#if copyright}}
        <i class="course-row__img-copyright"></i>
      {{/if}}

      {{#if status}}
        <span class="course-row__img-badge {{#ifCond status "In-review"}}course-row__img-badge--in-review{{/ifCond}}">
          {{status}}
        </span>
      {{/if}}
    </div>
    <div class="course-row__info">
      {{#if active-stars}}
        <div
          class="course-row__info-rating">{{> widgets/rating-card small=true stars=true views=false label=false active-stars=active-stars}}</div>
      {{/if}}

      {{#if views}}
        <div class="course-row__info-views">{{> widgets/rating-card label=false views=views}}</div>
      {{/if}}

      <p class="course-row__info-text">{{text}}</p>
      <div class="course-row__info-label {{#if plus}}course-row__info-label--purple{{/if}}">{{label}}</div>
    </div>
  </div>

  <div class="course-row__item">
    <span class="course-row__item-number">123</span>
    <span class="course-row__item-label">Active</span>
  </div>

  <div class="course-row__item">
    <span class="course-row__item-number">12h</span>
    <span class="course-row__item-label">Total time</span>
  </div>

  <div class="course-row__group">
    <button class="course-row__details">Details</button>
    <button class="course-row__more-btn"></button>
  </div>
</div>
