<div class="followers-informer">
  <div class="followers-informer__title">
    <div class="followers-informer__title-number">168</div>
    <div class="followers-informer__title-link">
      {{> ui/btn-text color="blue" mod="btn-text--large" label="See All"}}
    </div>
  </div>
  <div class="followers-informer__img">
    {{> components/image img='profile/instructor/followers-informer' img-mobile='profile/instructor/followers-informer-mobile' ext="png" no-2x=true}}
  </div>
</div>
