<div class="tab-all">
  <div class="tab-all__main">
    <div class="tab-all__header">
      <div class="tab-all__header-item">
        <button class="tab-all__header-btn">Course</button>
      </div>

      <div class="tab-all__header-item">
        <button class="tab-all__header-btn">Students</button>
      </div>

      <div class="tab-all__header-item">
        <button class="tab-all__header-btn">Views</button>
      </div>
    </div>

    <div class="tab-all__courses">
      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_01"
          copyright=true
          status="Active"
          text="Customizing Type with Draplin: Creating Wordmarks That Work"
          label="Ulearna Premium"
        }}
      </div>

      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_04"
          copyright=true
          status="Active"
          plus=true
          text="ODD BODIES: Illustrating Expressive, Stylized People"
          label="Ulearna Plus"
        }}
      </div>

      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_05"
          copyright=true
          status="Active"
          plus=true
          text="Productivity Masterclass: Create a Custom System that Works"
          label="Ulearna Plus"
        }}
      </div>

      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_06"
          copyright=true
          status="Active"
          text="Fundamentals of DSLR Photography"
          label="Ulearna Premium"
        }}
      </div>

      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_07"
          copyright=true
          status="In-review"
          text="Customizing Type with Draplin: Creating Wordmarks That Work"
          label="Ulearna Premium"
        }}
      </div>
    </div>
  </div>
</div>
