<div class="tab-all">
  <div class="tab-all__main">
    <div class="tab-all__header">
      <div class="tab-all__header-item">
        <button class="tab-all__header-btn">Course</button>
      </div>

      <div class="tab-all__header-item">
        <button class="tab-all__header-btn">Students</button>
      </div>

      <div class="tab-all__header-item">
        <button class="tab-all__header-btn">Views</button>
      </div>
    </div>

    <div class="tab-all__courses">
      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_01"
          copyright=true
          text="Customizing Type with Draplin: Creating Wordmarks That Work"
          label="Ulearna Premium"
        }}
      </div>

      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_02"
          copyright=true
          text="Customizing Type with Draplin: Creating Wordmarks That Work"
          label="Ulearna Premium"
        }}
      </div>

      <div class="tab-all__course">
        {{> blocks/profile/instructor/course-row
          image="course_03"
          copyright=true
          text="Customizing Type with Draplin: Creating Wordmarks That Work"
          label="Ulearna Premium"
        }}
      </div>
    </div>
  </div>
</div>
