.reviews-list {
  margin-top: 30px;

  &__inner {
    margin-top: 24px;
  }

  &__item {
    margin-top: 16px;
    &:first-child {
      margin-top: 0;
    }
  }

  &__more {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
