.in-progress-block {
  display: flex;
  flex-wrap: wrap;
  margin-top: -40px;
  margin-left: -25px;
  margin-right: -25px;

  @include mobile {
    margin-top: -30px;
    margin-left: -16px;
    margin-right: -16px;
  }

  &__item {
    margin-top: 39px;
    padding-left: 25px;
    padding-right: 25px;
    flex: 0 0 33.33%;
    max-width: 33.33%;

    @include desktop {
      max-height: 389px;
    }

    @include tablet-and-mobile {
      flex: 0 0 50%;
      max-width: 50%;
    }

    @include mobile {
      margin-top: 30px;
      padding-left: 16px;
      padding-right: 16px;
      justify-content: center;
      display: flex;
    }

    @include mobile576 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

