.progress-block {
  position: relative;
  padding: 15px 8px 14px 10px;
  border-top: 1px solid $color-gray;
  cursor: pointer;
  @include transition;

  @include mobile {
    padding: 12px 16px 15px;
  }

  &:hover {
    background: #e9eff5;
  }/**/

  &:first-child {
    border-top: 0 none;
  }

  &__inner  {
    padding-right: 55px;

    @include mobile {
      padding-right: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__course-name {
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 146%;

    @include mobile {
      font-size: 14px;
    }
    @include mobile {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &__round-bar {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-flex;

    @include mobile {
      position: static;
      margin-left: 20px;
    }
  }

  &__counters {
    margin-top: 9px;
    display: inline-flex;
    font-size: 14px;
    line-height: 140%;

    @include mobile {
      display: none;
    }
  }

  &__counter-text {
    margin-right: 5px;
    color: $color-gray-dark;
  }

  &__counter-passed {
    color: $color-blue;
  }

  &__counter-total {
    color: $color-blue;
  }

  &__btn {
    margin-top: 7px;

    @include mobile {
      display: none;
    }
  }
}
