.student-block {
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    @include mobile {
      margin-top: 0;
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
    }

    &-link {
      font-weight: bold;
      font-size: 15px;
      color: $color-blue;
      line-height: 22px;
      letter-spacing: 0.02em;

      @include transition;

      @include mobile {
        font-size: 14px;
        line-height: 21px;
      }

      &:hover {
        color: #09aef5;
      }
    }
  }

  &__list {
    margin-top: 10px;

    @include mobile {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
