.student-courses {
  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;
  }

  &__item {
    padding-left: 25px;
    padding-right: 25px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}
