.student-block {
  width: 100%;
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;

    @include mobile {
      margin-top: 0;
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
    }
  }

  &__list {
    margin-top: 10px;

    @include mobile {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
