.subscription {
  margin-top: 30px;
  padding-bottom: 344px;
  @include mobile {
    margin-top: 16px;
    padding-bottom: 60px;
    padding-left: 16px;
    padding-right: 16px;
  }

  &__group {
    margin-top: 30px;
    padding-bottom: 40px;

    @include mobile {
      margin-top: 20px;
      padding-bottom: 30px;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    @include mobile {
      margin-right: -16px;
      padding-right: 16px;
    }

    &:not(:last-child) {
      box-shadow: inset 0px -1px 0px #DAE4ED;
    }

    &-title {
      display: block;
      font-weight: 600;
      font-size: 21px;
      line-height: 31px;

      @include mobile {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-period {
      margin-top: 6px;
      display: block;
      color: $color-gray-dark;
      font-weight: normal;
      font-size: 16px;
      line-height: 146%;

      @include mobile {
        margin-top: 8px;
        font-size: 14px;
        line-height: 21px;
      }
    }

    &-btn {
      margin-top: 16px;
    }
  }

  &__cards {
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -25px;
    margin-right: -25px;

    @include mobile {
      margin-top: 16px;
      margin-left: -16px;
      margin-right: -16px;
    }
  }

  &__card {
    margin-top: 16px;
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;

    @include mobile {
      padding-left: 16px;
      padding-right: 16px;

      margin-top: 16px;
      &:first-child {
        margin-top: 0;
      }
    }

    &--left {
      flex: 0 0 55.57%;
      max-width: 55.57%;

      @include mobile {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

    &--right {
      flex: 0 0 44.43%;
      max-width: 44.43%;

      @include mobile {
        flex: 0 0 100%;
        max-width: 100%;
      }

    }
  }

  &__pay-items {
    margin-top: 8px;
  }

}
