<a href="{{url}}" class="btn-category {{#if active}}active{{/if}}">
  <span class="btn-category__img">
    {{> ui/svg name=imgName}}
  </span>
  <span class="btn-category__label">{{label}}</span>
</a>
