<div class="btn-category">
  <a href="{{url}}" class="btn-category__link {{#if active}}active{{/if}}">
    {{> ui/svg name=imgName}}
    <span class="btn-category__label">{{label}}</span>
  </a>
</div>