<div class="file-input-image">
  <input type="file" name="file" id="input__file__image"
         accept="image/x-png,image/jpeg"
         class="file-input-image__input">

  <label for="input__file__image" class="file-input-image__field">
    <i class="file-input-image__icon"></i>
    <span class="file-input-image__text">Upload image</span>
    <span class="file-input-image__label">png. or jpeg up to -- mb</span>
  </label>
</div>
