<div class="course-certificate">
  <div class="course-certificate__inner">
    <div class="course-certificate__badge">
      <span class="course-certificate__badge-title">Certificate</span>
      <span class="course-certificate__badge-label">Course:</span>
      <span class="course-certificate__badge-name">Customizing Type with Draplin: Creating Wordmarks That Work</span>
      <div class="course-certificate__badge-lines"><i></i><i></i><i></i><i></i></div>
    </div>
    <span class="course-certificate__title">Well Done!</span>
    <span class="course-certificate__name">Exam: Customizing Type with Draplin: Creating Wordmarks That Work</span>
    <div class="course-certificate__stats">
      Correct answers 9/10 <span class="course-certificate__stats-badge">Completed</span>
    </div>
    <div class="course-certificate__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit
      mollit. Exercitation veniam consequat sunt nostrud amet.
    </div>
    <div class="course-certificate__button">
      {{> ui/btn color="blue" label="Download Certificate"}}
    </div>
    <div class="course-certificate__share">
      <span class="course-certificate__share-title">Share your progress with friends!</span>
      <div class="course-certificate__share-buttons">
        {{> widgets/social-button button=true small=true social="twitter"}}
        {{> widgets/social-button button=true small=true social="facebook"}}
        {{> widgets/social-button button=true small=true social="instagram"}}
      </div>
    </div>
  </div>
</div>
