<div class="course-exam">
  <span class="course-exam__title">Exam: Customizing Type with Draplin: Creating Wordmarks That Work</span>
  <div class="course-exam__progress">
    {{> widgets/exam-progress value=1 }}
  </div>
  <div class="course-exam__question">
    {{> widgets/question }}
  </div>
  <div class="course-exam__button">
    {{> ui/btn color="blue" label="Next" icon="button-arrow-next" icon-right=true }}
  </div>
</div>
