<section class="course-intro">
  <div class="container">
    <header class="course-intro__header">
      <div class="course-intro__left">
        {{> ui/btn-arrow back=true href="course-catalog-search.html" label="Back To Catalog"}}
      </div>
      <div class="course-intro__right">
        <div class="course-intro__buttons">
          {{> ui/btn label="Share" color="dark" icon="button-share"}}
          {{> ui/btn label="Add to wish list" color="dark" icon="button-wish"}}
        </div>
      </div>
    </header>

    <div class="course-intro__row">
      <div class="course-intro__left">
        {{> blocks/course/player}}
      </div>
      <div class="course-intro__right">
        {{> blocks/course/playlist}}
      </div>
    </div>

    <h1 class="course-intro__title">Customizing Type with Draplin: Creating Wordmarks That Work</h1>
    <div class="course-intro__description">
      By Instructor, Senior developer
      <span class="course-intro__author">Murvin Murphy</span>
      <div class="course-intro__follow">
        {{> ui/btn-icon icon="button-plus" label="Follow"}}
      </div>
    </div>
  </div>
</section>
