<div class="course-about">
  <h2 class="course-about__title">Course overview</h2>
  <div class="course-about__text">
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia consequat duis enim
      velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  </div>

  <h2 class="course-about__title">FAQ</h2>
  <div class="course-about__faq">
    <div class="course-about__faq-item js-accord">
      <span class="course-about__faq-title js-accord__toggle">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</span>
      <div class="course-about__faq-body js-accord__body">
        <div class="course-about__faq-inner">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia consequat duis
          enim
          velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </div>
      </div>
    </div>
    {{#times 4}}
      <div class="course-about__faq-item js-accord">
        <span class="course-about__faq-title js-accord__toggle">Question text.</span>
        <div class="course-about__faq-body js-accord__body">
          <div class="course-about__faq-inner">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do&nbsp;amet sint. Velit officia consequat duis
            enim
            velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </div>
        </div>
      </div>
    {{/times}}
  </div>
</div>
