<div class="chat-window">
  {{> blocks/profile/chat/chat-message
  title="Omar Mango"
  time="1 day ago"
  text="Amet minim mollit non deserunt ullamco"
  }}

  {{> blocks/profile/chat/chat-separator}}
</div>
