<div class="chat-search">
  <label>
    <input class="chat-search__input" value="{{value}}" autocomplete="off" type="text" name="q"
           placeholder="Search in messages"/>
  </label>
  <i class="chat-search__icon"></i>
</div>
