<div class="chat-user js-tab {{#if active}}active{{/if}}">
  <div class="chat-user__wrapper">
    <div class="chat-user__item">
      <div class="chat-user__img">
        {{> components/image img=(concat 'profile/chat/' image) ext="jpg" no-2x=true}}

        {{#if messages}}
          <span class="chat-user__counter">{{messages}}</span>
        {{/if}}
      </div>
    </div>

    <div class="chat-user__inner">
      <span class="chat-user__title">{{title}}</span>
      <span class="chat-user__text">
        {{#if reply}}
          <i
            class="chat-user__reply-img">{{>components/image img='profile/chat/user_01-small' ext="jpg" no-2x=true}}</i>
      <b>You:&nbsp;</b>Amet minim mol..
        {{else}}
          Amet minim mollit non deserunt ullamco est sit...
        {{/if}}
      </span>
      <time class="chat-user__time">1 day ago</time>
    </div>
  </div>
</div>


