<div class="chat-window">
  <div class="chat-window__back-btn">
    {{> ui/btn-arrow label="Back to messages" back=true href='#'}}
  </div>

  <div class="chat-window__wrapper js-tab-content active">
    {{> blocks/profile/chat/chat-author
            image="user_02"
            title="Omar Mango"
    }}
    <div class="chat-window__block">
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim"
        }}
      </div>

      {{> blocks/profile/chat/chat-separator}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco mollit. Amet minim mollit non deserunt ullamco mollit non deserunt"
                incoming=true
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco."
                incoming=true
        }}
      </div>

      {{> blocks/profile/chat/chat-separator new=true}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                image="attached_img"
                incoming=true
        }}
      </div>

      <div class="chat-window__notification">
        <span class="chat-window__notification-text">You have blocked this user. Unblock to send message</span>
        <a href="#" class="chat-window__notification-btn">Unblock User</a>
      </div>
    </div>
  </div>

  <div class="chat-window__wrapper js-tab-content">
    {{> blocks/profile/chat/chat-author
            image="user_02"
            title="Omar Mango"
    }}
    <div class="chat-window__block">
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim"
        }}
      </div>

      {{> blocks/profile/chat/chat-separator}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco mollit. Amet minim mollit non deserunt ullamco mollit non deserunt"
                incoming=true
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco."
                incoming=true
        }}
      </div>

      {{> blocks/profile/chat/chat-separator new=true}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                image="attached_img"
                incoming=true
        }}
      </div>

      <div class="chat-window__notification">
        <span class="chat-window__notification-text">You have blocked this user. Unblock to send message</span>
        <a href="#" class="chat-window__notification-btn">Unblock User</a>
      </div>
    </div>
  </div>

  <div class="chat-window__wrapper js-tab-content">
    {{> blocks/profile/chat/chat-author
            image="user_02"
            title="Omar Mango"
    }}
    <div class="chat-window__block">
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim"
        }}
      </div>

      {{> blocks/profile/chat/chat-separator}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco mollit. Amet minim mollit non deserunt ullamco mollit non deserunt"
                incoming=true
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco."
                incoming=true
        }}
      </div>

      {{> blocks/profile/chat/chat-separator new=true}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                image="attached_img"
                incoming=true
        }}
      </div>
      <div class="chat-window__notification">
        <span class="chat-window__notification-text">You have blocked this user. Unblock to send message</span>
        <a href="#" class="chat-window__notification-btn">Unblock User</a>
      </div>
    </div>
  </div>

  <div class="chat-window__wrapper js-tab-content">
    {{> blocks/profile/chat/chat-author
            image="user_02"
            title="Omar Mango"
    }}
    <div class="chat-window__block">
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim"
        }}
      </div>

      {{> blocks/profile/chat/chat-separator}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco mollit. Amet minim mollit non deserunt ullamco mollit non deserunt"
                incoming=true
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco."
                incoming=true
        }}
      </div>

      {{> blocks/profile/chat/chat-separator new=true}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                image="attached_img"
                incoming=true
        }}
      </div>

      <div class="chat-window__notification">
        <span class="chat-window__notification-text">You have blocked this user. Unblock to send message</span>
        <a href="#" class="chat-window__notification-btn">Unblock User</a>
      </div>
    </div>
  </div>

  <div class="chat-window__wrapper js-tab-content">
    {{> blocks/profile/chat/chat-author
            image="user_02"
            title="Omar Mango"
    }}
    <div class="chat-window__block">
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim"
        }}
      </div>

      {{> blocks/profile/chat/chat-separator}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco mollit. Amet minim mollit non deserunt ullamco mollit non deserunt"
                incoming=true
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco."
                incoming=true
        }}
      </div>

      {{> blocks/profile/chat/chat-separator new=true}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                image="attached_img"
                incoming=true
        }}
      </div>

      <div class="chat-window__notification">
        <span class="chat-window__notification-text">You have blocked this user. Unblock to send message</span>
        <a href="#" class="chat-window__notification-btn">Unblock User</a>
      </div>
    </div>
  </div>

  <div class="chat-window__wrapper js-tab-content">
    {{> blocks/profile/chat/chat-author
            image="user_02"
            title="Omar Mango"
    }}
    <div class="chat-window__block">
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim"
        }}
      </div>

      {{> blocks/profile/chat/chat-separator}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco mollit. Amet minim mollit non deserunt ullamco mollit non deserunt"
                incoming=true
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco."
                incoming=true
        }}
      </div>

      {{> blocks/profile/chat/chat-separator new=true}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                image="attached_img"
                incoming=true
        }}
      </div>

      <div class="chat-window__notification">
        <span class="chat-window__notification-text">You have blocked this user. Unblock to send message</span>
        <a href="#" class="chat-window__notification-btn">Unblock User</a>
      </div>
    </div>
  </div>

  <div class="chat-window__wrapper js-tab-content">
    {{> blocks/profile/chat/chat-author
            image="user_02"
            title="Omar Mango"
    }}
    <div class="chat-window__block">
      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim"
        }}
      </div>

      {{> blocks/profile/chat/chat-separator}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco mollit. Amet minim mollit non deserunt ullamco mollit non deserunt"
                incoming=true
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                text="Amet minim mollit non deserunt ullamco."
                incoming=true
        }}
      </div>

      {{> blocks/profile/chat/chat-separator new=true}}

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Omar Mango"
                time="1 day ago"
                text="Amet minim mollit non deserunt ullamco"
        }}
      </div>

      <div class="chat-window__message">
        {{> blocks/profile/chat/chat-message
                title="Ali Kazal"
                time="5:30pm"
                image="attached_img"
                incoming=true
        }}
      </div>

      <div class="chat-window__notification">
        <span class="chat-window__notification-text">You have blocked this user. Unblock to send message</span>
        <a href="#" class="chat-window__notification-btn">Unblock User</a>
      </div>
    </div>
  </div>

  <div class="chat-window__footer">
    {{> blocks/profile/chat/chat-form}}
  </div>
</div>
