.exam-list {
  padding: 20px 30px 30px 30px;
  background: $color-white;
  box-shadow: 0 4px 14px rgba(1, 64, 139, 0.14);
  border-radius: 12px;

  &:not(:first-child) {
    margin-top: 27px;
  }

  &__question {
    &-group {
      position: relative;
      display: flex;
      align-items: center;

      &:nth-child(2) {
        margin-top: 9px;
      }

      &:hover {
        .exam-list__edit-btn {
          visibility: visible;
          opacity: 1;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;

      &.selection {
        background: #E4F6FE;
      }
    }

    &-label {
      font-weight: normal;
      font-size: 16px;
      line-height: 146%;
      color: $color-dark;
    }

    &-number {
      margin-right: 4px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $color-dark;
    }
  }

  &__answers {
    margin-top: 15px;
  }

  &__edit-btn {
    margin-left: 8px;
    padding: 3px 0;
    @include sprite("edit-btn-small");
    @include transition;
    visibility: hidden;
    opacity: 0;
  }

  &__delete-btn {
    margin-top: 20px;
  }

  &__option-btn {
    margin-top: 16px;
    display: inline-flex;

    .btn-icon {
      color: $color-blue;

      &:hover {
        color: #09aef5;
      }
    }
  }
}
