.exam-list-answer {
  padding: 18px 0;
  box-shadow: inset 0px -1px 0px #DAE4ED;
  @include transition;

  &:hover {
    background: rgba(218, 228, 237, 0.22);
  }

  &__group {
    display: flex;
    align-items: center;

    &:hover {
      .exam-list-answer__title-edit-btn {
        visibility: visible;
        opacity: 1;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;

    &-label {
      margin-right: 12px;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      color: $color-dark;
    }

    &-text {
      font-weight: normal;
      font-size: 16px;
      line-height: 146%;
    }

    &-edit-btn {
      margin-left: 8px;
      padding: 3px 0;
      @include sprite("edit-btn-small");
      @include transition;
      visibility: hidden;
      opacity: 0;
    }
  }

  &__checkbox {
    position: relative;
    display: inline-flex;

    &-label {
      font-weight: bold;
      font-size: 15px;
      line-height: 22px;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      color: $color-gray-dark;
      cursor: pointer;
      @include transition;

      &:hover {
        color: $color-blue;
      }
    }

    &-inner {
      display: inline-flex;
      align-items: center;

      svg {
        margin-right: 6px;
      }
    }

    input {
      position: absolute;
      top: 0;
      bottom: 0;
      border: 0;

      &:checked + .exam-list-answer__checkbox-inner {
        color: $color-blue;

        &:hover {
          color: #09aef5;
        }
      }
    }
  }

  &__buttons {
    margin-top: 16px;
    display: flex;
  }

  &__button {
    margin-left: 27px;
  }
}

