.tab-quiz {
  margin-top: 19px;

  &__wrapper {
    margin: 0 auto;
    max-width: 896px;

    span.selection {
      background: #E4F6FE;
    }
  }

  &__bottom {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 835px;
  }

  &__buttons {
    margin-top: 78px;
  }

  &__more-btn {
    display: inline-flex;
  }
}
