<div class="follower-card">
  <div class="follower-card__user">
    <div class="follower-card__user-img">
      {{> components/image img=image ext="jpg"}}
    </div>

    <div class="follower-card__inner">
      <div class="follower-card__info">
        <span class="follower-card__user-name">{{name}}</span>
        <span class="follower-card__user-label">{{label}}</span>
      </div>

      <div class="follower-card__send-button">
        {{ui/btn-icon icon="message"}}
      </div>

      <div class="follower-card__send-button">
        {{ui/btn-icon icon="message"}}
      </div>


    </div>
  </div>
</div>
