{{#> popups/_base id=id}}
  <div class="modal-followers">
    <div class="modal-sign__header">
      <span class="modal-sign__title">{{title}}</span>
      <button class="modal-sign__close js-popup-close"></button>
    </div>

    <div class="modal-followers__content">
      <div class="modal-followers__input">
        {{> widgets/search-input placeholder="Search" big=true }}
      </div>

      <div class="modal-followers__cards">
        {{> popups/followers/follower-card}}
      </div>
    </div>
  </div>
{{/popups/_base}}
