.carousel {

  &__title {
    color: $color-black;
    display: block;

    font-size: 29px;
    line-height: 150%;
    font-weight: 600;

    @include mobile {
      font-size: 16px;
    }

    &--big {
      font-size: 38px;
      font-weight: bold;

      @include mobile {
        font-size: 22px;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__inner {
    margin-top: 28px;
    @include mobile {
      margin-top: 16px;
    }
  }

  &__bottom {
    margin-top: 24px;
    display: flex;
    justify-content: center;
  }

  &__slider {
    position: relative;

    ._with-pagination & {
      @include desktop {
        .swiper-wrapper {
          padding-bottom: 20px;
        }
        .carousel__next, .carousel__prev{
          margin-top: -20px;
        }
      }
    }
  }

  &__row {
    @include desktop {
      margin: 0 -15px;
    }

    @include reset-slider-container;

    .non-swiper-slide {
      display: none;
    }

    .swiper-container.transition {
      position: relative;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 15px;
        display: block;
        background: #fff;
        z-index: 2;
      }

      .home-featured--background & {
        &:before, &:after {
          display: none;
        }
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }
  }

  &__tabs {
    margin-bottom: 33px;
    @include smallTablet-and-mobile {
      margin-bottom: 20px;
    }
  }

  &__slide {
    height: auto;
    padding: 0 18px 15px;

    @include tablet-and-mobile {
      width: 282px + 15px !important;
      margin-right: 9px;
      padding: 0 15px 15px 0;
    }

    @include tablet {
      &:last-child {
        padding-right: 30px;
        width: calc(282px + 30px) !important;
      }
    }

    @include mobile {
      width: 262px + 15px !important;

      &:last-child {
        padding-right: 15px;
        width: calc(262px + 15px) !important;
      }
    }

    .carousel__slider--full & {
      @include tablet-and-mobile {
        width: auto;
        margin-right: 0;
        padding: 0;

        .carousel__slide-cell {
          @include tablet-and-mobile {
            width: 282px + 15px;
            margin-right: 9px;
            padding: 0 15px 15px 0;
          }

          @include mobile {
            width: 262px + 15px;

            &:last-child {
              padding-right: 15px;
              width: calc(262px + 15px);
            }
          }
        }

        @include tablet {
          &:last-child {
            .carousel__slide-cell:last-child {
              width: calc(282px + 30px);
            }
          }
        }
      }
    }
  }

  &__slide-row {
    display: flex;
  }

  &__slide-cell {
    @include desktop {
      width: 50%;
      padding: 0 25px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__prev {
    @include no-desktop {
      display: none;
    }

    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) translateX(-100%);

    .no-navigation & {
      display: none;
    }

    @include small-desktop {
      transform: none;
      top: auto;
      bottom: -60px;
      left: 10px;
    }
  }

  &__next {
    @include no-desktop {
      display: none;
    }

    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%) translateX(100%);

    .no-navigation & {
      display: none;
    }

    @include small-desktop {
      right: 30px;
    }

    @include small-desktop {
      transform: none;
      top: auto;
      bottom: -60px;
      right: 10px;
    }
  }

  .swiper-pagination {
    margin-top: 10px;
    position: absolute;
    bottom: 0;
    @include align(true, false);

    @include tablet-and-mobile {
      display: none;
    }
  }
}
