.grid {
  &__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    color: $color-black;
    display: block;
    margin-bottom: 20px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    margin: -40px -25px 0;
  }

  &__cell {
    flex-basis: 33.333%;
    padding: 0 25px;
    margin-top: 40px;
  }

  &.grid--mobile-block {
    @include mobile {
      .grid__inner{
        display: block;
        margin: 0;
      }
      .grid__cell{
        margin: 20px 0 0 0;
        &:first-child{
          margin: 0;
        }
        padding: 0;
      }
    }
  }

  &:not(.grid--mobile-block) {
    @include mobile {
      margin-bottom: -25px;
      margin-left: 0;
      margin-right: 0;

      .grid__inner {
        flex-wrap: nowrap;
        margin-left: 0;
        margin-right: 0;
      }

      .grid__cell {
        margin-left: 16px;
        padding: 0 0 25px;

        &:first-child {
          margin-left: 0;
        }
      }

      @include mobile {
        @include reset-slider-container-mobile;
      }
    }
  }
}
