.page-header {
  background: linear-gradient(0deg, #33C2FF 0%, #7AD7FF 137.49%);
  color: $color-white;

  padding: 50px 0 40px;
  @include smallTablet-and-mobile {
    padding: 22px 0 30px;
  }

  &--center {
    padding: 22px 0;
    @include smallTablet-and-mobile {
      padding: 22px 0;
    }
  }

  &__wrapper {
    position: relative;

    @include mobile {
      display: block;
    }
  }

  &__back {

    &-link {
      font-size: 15px;
      line-height: 23px;
      letter-spacing: 0.02em;
      color: $color-white;
      font-weight: bold;
      padding-left: 25px;
      position: relative;

      &:before {
        content: '';
        @include align(false, true);
        @include sprite('header-back-arrow');
        @include transition;
      }

      &:hover {
        color: $color-blue-light;

        &:before {
          transform: translateX(-3px) translateY(-50%);
        }
      }
    }

    .page-header--center & {
      position: absolute;
      left: 0;
      @include align(false, true);

      @include mobile {
        display: block;
        position: static;
        transform: none;
        text-align: left;
      }
    }
  }

  &__inner {
    margin: 30px 0 0 0;

    .page-header--center & {
      text-align: center;

      @include mobile {
        margin-top: 20px;
        text-align: left;
      }
    }

    @include mobile {
      text-align: left;
    }
  }

  &__title {
    position: relative;
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    display: block;
    margin: 0;

    @include smallTablet-and-mobile {
      font-size: 28px;
      line-height: 42px;
    }

    .page-header--center & {
      margin: 0;
      font-size: 29px;
      line-height: 43px;
      font-weight: 600;
      display: inline-block;

      @include smallTablet-and-mobile {
        font-size: 18px;
        line-height: 27px;
        margin: 0;
      }
    }

    &--success {
      padding-right: 30px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        @include align(false, true);
        @include sprite('header-title-tick');
      }
    }
  }

  &__text {
    margin-top: 6px;
    display: block;
    font-size: 18px;
    line-height: 150%;
    color: $color-blue-light;

    @include mobile {
      font-size: 14px;
      line-height: 21px;
    }
  }
}
