<div class="reviews-form">
  <span class="reviews-form__title">Write a review</span>
  <div class="reviews-form__inner">

  </div>
  <div class="reviews-form__submit">
    {{> ui/btn color="blue" label="Send review"}}
  </div>
</div>
