<div class="reviews-intro">
  <span class="reviews-intro__title">How student rated this course</span>

  <div class="reviews-intro__row-wrapper">
    <div class="reviews-intro__row">
      <div class="reviews-intro__cell">
        <div class="reviews-intro__item">
          <span class="reviews-intro__subtitle">Best suited for</span>
          <div class="reviews-intro__value">
            {{> widgets/rating-card energy=true}}
          </div>
          <span class="reviews-intro__name">Intermediate</span>
          <div class="reviews-intro__inner">
            <span class="reviews-intro__note">(Based on 100 reviews)</span>
          </div>
        </div>
      </div>

      <div class="reviews-intro__cell">
        <div class="reviews-intro__item">
          <span class="reviews-intro__subtitle">Course rating</span>
          <div class="reviews-intro__value">
            <i class="reviews-intro__star _active"></i>
            <i class="reviews-intro__star _active"></i>
            <i class="reviews-intro__star _active"></i>
            <i class="reviews-intro__star"></i>
            <i class="reviews-intro__star"></i>
          </div>
          <span class="reviews-intro__name">3/5</span>
          <div class="reviews-intro__inner">
            <span class="reviews-intro__note">(Based on 100 reviews)</span>
          </div>
        </div>
      </div>

      <div class="reviews-intro__cell">
        <div class="reviews-intro__item">
          <span class="reviews-intro__subtitle">Recommend this course</span>
          <div class="reviews-intro__progress">
            <span>Yes</span>
            <div class="reviews-intro__progress-bar">
              <i style="width: 45%"></i>
            </div>
            <span class="reviews-intro__progress-bar-number">45</span>
          </div>
          <div class="reviews-intro__progress">
            <span>No</span>
            <div class="reviews-intro__progress-bar">
              <i style="width: 55%"></i>
            </div>
            <span class="reviews-intro__progress-bar-number">55</span>
          </div>
          <div class="reviews-intro__inner">
            <span class="reviews-intro__note">(Based on 100 reviews)</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
