.page {
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
  }

  &__header {
    position: relative;
  }

  &__content {
    flex: 1 0 auto;
    min-height: 1px;

    padding-bottom: 100px;
    @include smallTablet-and-mobile {
      padding-bottom: 60px;
    }
  }

  &__footer {
    flex-shrink: 0;
  }

  &__container {
    padding-top: 24px;
    background: #f4f7fa;
    margin-bottom: -100px;
  }

  &__wrapper {
    display: flex;
  }
}
