// For form fields
@keyframes switchOnOff {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// For Buttons
@keyframes clockwise {
  to {
    transform: rotate(360deg) translatez(0);
  }
}

//For tabs content
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

