.btn-text {
  display: inline-flex;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: $color-gray-dark;
  @include transition;

  @include mobile {
    font-size: 14px;
    line-height: 21px;
  }

  &:hover {
    color: $color-gray-dark-hover;
  }

  &--blue {
    color: $color-blue;

    &:hover {
      color: #09aef5;
    }
  }

  &--large {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}
