.btn-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 95px;
  font-size: 14px;
  font-weight: 600;
  background: rgba(218, 228, 237, 0.22);
  color: $color-gray-dark;
  border-radius: 10px;

  @include mobile {
    border-radius: 0;
    background: transparent;
    height: 44px;
  }

  &:hover {
    background: rgba(218, 228, 237, 0.62);
    svg {
      color: $color-blue;
    }
  }

  &--active {
    background: $color-blue;
    color: $color-white;

    &:hover {
      background: $color-blue;
      svg {
        color: $color-white;
      }
    }
  }

  &__img {
    position: relative;
    display: inline-flex;
    font-size: 24px;

    svg {
      @include transition;
    }

    @include mobile {
      font-size: 16px;
    }

    &--message {
      &:after {
        @include mobile {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          display: inline-block;
          background: #42db92;
          border-radius: 50%;
          top: -5px;
          right: -5px;
          border: 2px solid #e4f6fe;
        }
      }
    }
  }

  &__label {
    padding-top: 12px;
    line-height: 140%;

    @include mobile {
      display: none;
    }
  }
}
