.btn-arrow {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $color-blue;
  font-weight: bold;
  padding-right: 18px;
  display: inline-block;
  position: relative;
  white-space: nowrap;

  @include mobile {
    padding-right: 0;
    font-size: 14px;
    line-height: 21px;
  }

  &:after {
    content: '';
    @include sprite('link-arrow-arrow');
    right: 0;
    @include align(false, true);
    @include transition;

    @include mobile {
      display: none;
    }
  }


  &:hover {
    color: $color-blue-hover;

    &:after {
      transform: translateX(2px) translateY(-50%);
    }
  }

  &--back {
    padding: 0 0 0 18px;
    &:after {
      display: none;
    }

    &:before {
      content: '';
      @include sprite('link-arrow-arrow-back');
      left: 0;
      @include align(false, true);
      @include transition;

      @include mobile {
        display: none;
      }
    }
  }
}
