.btn-text {
  display: inline-flex;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.02em;
  font-weight: bold;
  color: $color-gray-dark;
  @include transition;

  &:hover{
    color: $color-gray-dark-hover;
  }
}
