.btn {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 8px;
  padding: 0 16px;
  color: $color-white;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: bold;
  @include transition;
  white-space: nowrap;

  &--outline {
    border: 1px solid $color-black;
    color: $color-black;

    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }

  &--large {
    height: 55px;
    line-height: 55px;
    font-weight: bold;
    font-size: 18px;
    padding: 0 28px;

    @include mobile{
      height: 48px;
      line-height: 48px;
      font-size: 16px;
    }
  }

  &--middle {
    height: 51px;
    line-height: 51px;
    font-weight: bold;
    font-size: 16px;
    padding: 0 16px;
  }

  &--orange {
    background: $color-orange;

    &:hover {
      background: $color-orange-hover;
    }
  }

  &--purple {
    background: $color-purple;

    &:hover {
      background: $color-purple-hover;
    }
  }

  &--blue {
    background: $color-blue;

    &:hover {
      background: $color-blue-hover;
    }
  }
}
