.btn {
  display: inline-block;
  border-radius: 8px;
  padding: 10.5px 16px;
  color: $color-white;
  font-size: 16px;
  text-align: center;
  line-height: 100%;
  letter-spacing: 0.02em;
  font-weight: bold;
  @include transition;
  white-space: nowrap;

  &--outline {
    border: 1px solid $color-black;
    color: $color-black;

    &:hover {
      background: $color-black;
      color: $color-white;
    }
  }

  &--large {
    font-size: 18px;
    padding: 18.5px 28px;

    @include mobile {
      padding: 12px 28px;
      font-size: 16px;
    }
  }

  &--middle {
    font-size: 16px;
    padding: 18px 16px;
  }

  &--orange {
    background: $color-orange;

    &:hover {
      background: $color-orange-hover;
    }
  }

  &--purple {
    background: $color-purple;

    &:hover {
      background: $color-purple-hover;
    }
  }

  &--blue {
    background: $color-blue;

    &:hover {
      background: $color-blue-hover;
    }
  }

  &--note {
    padding: 12px 50px;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  &__note {
    display: block;
    margin-top: 3px;
    font-size: 14px;
    line-height: 140%;
    font-weight: normal;
    text-align: center;
  }
}
