.editor + .ck {

  .ck-toolbar.ck-toolbar_grouping {
    height: 50px !important;
    border: 2px solid #DAE4ED;
    border-radius: 12px 12px 0 0 !important;
  }

  .ck-editor__editable {
    height: 208px;
    border: 2px solid #DAE4ED !important;
    border-radius: 0 0 12px 12px !important;

    scrollbar-width: thin;
    scrollbar-color: $color-gray transparent;

    /* для Chrome/Edge/Safari */
    &::-webkit-scrollbar {
      height: 66px;
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-gray;
      border-radius: 5px;
      width: 5px;
    }
  }

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 29px;
    line-height: 43px;
    color: $color-black;
  }

  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: $color-black;
  }

  h4 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 146%;
    color: $color-black;
  }
}
