.form-checkbox {
  display: block;
  position: relative;
  width: 100%;

  input {
    position: absolute;
    top: 0;
    bottom: 0;
    border: 0 none;
  }

  &__label {
    cursor: pointer;
    display: inline-block;
    padding-left: 34px;
  }

  &__inner {
    font-size: 18px;
    line-height: 150%;
    color: $color-gray-dark-hover;

    @include mobile {
      font-size: 14px;
      line-height: 21px;
    }

    a {
      color: $color-blue;
      font-weight: 600;

      &:hover {
        color: $color-blue-hover;
      }
    }

    &:before {
      content: '';
      position: absolute;
      @include square(24px, #fff, 6px);
      border: 2px solid $color-gray;
      left: 0;
      @include align(false, true);
    }

    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      @include align(false, true);
      left: 4px;
      @include sprite('checkbox-tick');
    }
  }

  input:checked + .form-checkbox__inner {
    color: $color-black;

    &:before {
      background: $color-blue;
      border-color: $color-blue;
    }

    &:after {
      opacity: 1;
    }
  }

  &--button {
    text-align: center;

    .form-checkbox__label {
      padding-left: 0;
    }

    .form-checkbox__inner {
      padding: 8px 16px;
      border: 1px solid $color-dark;
      border-radius: 8px;
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: $color-dark;
      display: block;

      &:before, &:after {
        display: none;
      }

      &:hover {
        color: $color-dark-hover;
      }
    }

    input:checked + .form-checkbox__inner {
      background: $color-blue;
      color: $color-white;
      border-color: $color-blue;

      &:hover {
        color: $color-white;
      }
    }
  }

  &__subtitle {
    position: absolute;
    top: 30px;
    left: 34px;
    display: block;
    font-weight: normal;
    font-size: 16px;
    line-height: 146%;
    color: $color-gray-dark;
  }

  &--small {
    .form-checkbox__inner {
      font-size: 16px;
      line-height: 140%;
    }
  }
}
