.form-input {
  input, textarea {
    background: #FFFFFF;
    border: 2px solid #DAE4ED;
    border-radius: 12px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    width: 100%;
    display: block;

    @include placeholder {
      color: rgba(5, 36, 51, 0.2);
    }

    @include mobile {
      padding: 0 14px;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
    }
  }

  input {
    padding: 0 16px;
    height: 57px;
  }

  textarea {
    padding: 14px 16px;
    resize: none;
    height: 186px;
  }

  &--icon {
    position: relative;

    input {
      padding-left: 48px;
      @include mobile {
        padding-left: 46px;
      }
    }
  }

  &--icon-right {
    position: relative;

    input {
      padding-right: 48px;
    }
  }

  &__icon {
    content: '';
    display: block;
    @include align(false, true);
    z-index: 1;
    pointer-events: none;

    left: 17px;
    @include mobile {
      left: 15px;
    }

    .form-input--icon-right & {
      right: 17px;
      left: auto;
      @include mobile {
        right: 15px;
      }
    }

    &--card {
      @include sprite('input-card');
    }

    &--date {
      @include sprite('input-date');
    }

    &--clipboard {
      @include sprite('input-clipboard');
      pointer-events: initial;
    }
  }

  &__clipboard {
    position: absolute;
    top: 0;
    right: 0;
    width: 48px;
    height: 57px;
    cursor: pointer;

    @include mobile {
      height: 50px;
    }

    &:hover {
      .form-input__clipboard-tip {
        visibility: visible;
        opacity: 1;
      }
    }

    &-tip {
      position: absolute;
      top: 42px;
      right: 35px;
      padding: 8px 10px;
      width: 84px;
      font-size: 14px;
      line-height: 140%;
      background: #687787;
      color: $color-white;
      border-radius: 10px;
      z-index: 2;
      visibility: hidden;
      opacity: 0;
      @include transition;
      @include mobile {
        display: none;
      }
    }
  }

  &--no-scrollbar {
    textarea {
      height: auto;

      &::-webkit-scrollbar {
        display: none;
      }

      -ms-overflow-style: none;
      scrollbar-width: none;

      @include mobile {
        padding: 11px 6px 11px 14px;
        font-size: 18px;
      }
    }
  }
}
