.form-input {
  input {
    background: #FFFFFF;
    border: 2px solid #DAE4ED;
    border-radius: 12px;
    padding: 0 16px;
    height: 57px;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    width: 100%;

    @include placeholder {
      color: rgba(5, 36, 51, 0.2);
    }
  }

  &--icon {
    position: relative;

    input {
      padding-left: 48px;
    }
  }

  &__icon{
    content: '';
    @include align(false, true);
    left: 17px;
    z-index: 1;

    &--card{
      @include sprite('input-card');
    }
  }
}
