.form-field {
  padding-bottom: 26px;
  position: relative;
  width: 100%;

  @include mobile {
    padding-bottom: 22px;
  }

  &--error {
    padding-bottom: 0;

    .form-field__input {
      margin-top: 0;
    }
  }

  &__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: block;
    color: $color-gray-dark;

    @include mobile {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__input {
    margin-top: 8px;
  }

  &__note {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 14px;
    line-height: 20px;
    display: block;
    color: $color-gray-dark;

    @include mobile {
      font-size: 12px;
      line-height: 150%;
    }
  }

  &__error {
    margin-top: 6px;
    display: inline-block;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $color-red;
  }

}
