.select-backdrop {
  position: fixed;
  display: none;
  z-index: z(dropdown) - 2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;

  &--open {
    display: block;
  }
}

.select {
  $height: 46px;
  position: relative;
  height: 100%;
  //width: 100%;

  &--open {
    z-index: z(dropdown) - 1;

    .select__dropdown {
      display: block;
    }

    .select__backdrop {
      display: block;
    }
  }

  &__input {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 30px 6px 10px;
    white-space: nowrap;
    background: $color-blue-12;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $color-blue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    @include transition;

    &:after {
      content: '';
      @include sprite('select-arrow');
      right: 12px;
      @include align(false, true);
      margin-top: 1px;
    }

    &:focus,
    &:hover {
      //background-color: $color-white-20;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    z-index: z(dropdown);
    display: none;
    max-height: 200px;
    background-color: $color-white;
    border-radius: 8px;
    overflow-y: auto;
    box-shadow: 0px 6px 44px rgba(1, 64, 139, 0.24);
    min-width: 176px;

    @include tablet-and-mobile{
      width: 100%;
    }

    &.up {
      top: auto;
      bottom: 0;
    }
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
  }

  &__list {
    padding: 6px 0;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 0;
    list-style: none;
  }

  &__item {
    padding: 0 46px 0 16px;
    white-space: nowrap;
    min-height: 44px;
    display: flex;
    align-items: center;

    color: $color-dark;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    cursor: pointer;

    &:focus,
    &:hover {
      color: $color-blue;
    }

    &--selected {
      color: $color-blue;
      background: $color-blue-light;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: 12px;
        @include align(false, true);
        @include sprite('select-tick');
      }
    }
  }

  &--simple {
    @include media(mobile) {
      .select__input {
        padding: 14px 0;
        background-color: transparent;
      }
    }
  }

  &-list {
    &__link {
      display: block;
      padding: 10px 35px 10px 15px;
      color: #000;
      font-weight: 600;
      font-size: 14px;
      letter-spacing: -0.04em;
      line-height: 1;
      white-space: nowrap;

      &:focus,
      &:hover {
        color: $color-gray-100;
        background-color: $color-gray-20;
        transition: all 150ms ease-in;
        cursor: pointer;
      }

      &--selected {
        color: $color-primary;

        &:focus,
        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  &--rounded {

  }

  .icon {
    @include transition;
  }
}
