<div class="carousel">

  <header class="carousel__header">
    <h2 class="carousel__title {{#if see-all}}{{else}}carousel__title--big{{/if}}">{{ title }}</h2>
    {{#if see-all}}
      <div class="carousel__right">
        {{> widgets/link-arrow label="See all"}}
      </div>
    {{/if}}
  </header>

  <div class="carousel__inner js-carousel" {{#if big}}data-carousel-big="1"{{/if}}>
    {{#if tabs}}
      <div class="carousel__tabs">
        <div class="tabs">
          <div class="tabs__inner">
            <div class="tabs__item">
              <button data-filter="*" class="js-carousel__tab tabs__link active">All Categories</button>
            </div>
            <div class="tabs__item">
              <button data-filter="filter-1" class="js-carousel__tab tabs__link">Business</button>
            </div>
            <div class="tabs__item">
              <button data-filter="filter-2" class="js-carousel__tab tabs__link">Category</button>
            </div>
            <div class="tabs__item">
              <button data-filter="filter-3" class="js-carousel__tab tabs__link">Category</button>
            </div>
            <div class="tabs__item">
              <button data-filter="filter-4" class="js-carousel__tab tabs__link">Category</button>
            </div>
            <div class="tabs__item">
              <button data-filter="filter-5" class="js-carousel__tab tabs__link">Category</button>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
    <div class="carousel__slider">
      <div class="carousel__prev">
        <button class="button-nav button-nav--prev js-carousel__prev"></button>
      </div>
      <div class="carousel__next">
        <button class="button-nav button-nav--next js-carousel__next"></button>
      </div>
      <div class="carousel__row">
        <div class="swiper-container js-carousel__slider">
          <div class="swiper-wrapper">
            {{> @partial-block}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{#if bottom-button}}
    <div class="carousel__bottom">
      {{> ui/btn outline=true color="black" label=bottom-button}}
    </div>
  {{/if}}
</div>
