{{#> modules/carousel/_component swiper-scrollbar=true}}
  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/file-input-image}}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
      img="create-course/course-lesson_01@2x"
      checked=true
      name="radio"
      value="lesson_01"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
      img="create-course/course-lesson_02@2x"
      name="radio"
      value="lesson_02"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
      img="create-course/course-lesson_04@2x"
      name="radio"
      value="lesson_03"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
      img="create-course/course-lesson_03@2x"
      name="radio"
      value="lesson_04"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
      img="create-course/course-lesson_01@2x"
      name="radio"
      value="lesson_05"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
      img="create-course/course-lesson_02@2x"
      name="radio"
      value="lesson_06"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
      img="create-course/course-lesson_03@2x"
      name="radio"
      value="lesson_07"
    }}
  </div>


{{/modules/carousel/_component}}
