{{#> modules/carousel/_component swiper-scrollbar=true}}
  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/file-input-image}}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
            img="create-course/course-lesson_01@2x"
            checked=true
            name="radio"
            value="lesson_01"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
            img="create-course/course-lesson_01@2x"
            name="radio"
            value="lesson_02"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
            img="create-course/course-lesson_01@2x"
            name="radio"
            value="lesson_03"
    }}
  </div>

  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> ui/radio-image
            img="create-course/course-lesson_01@2x"
            name="radio"
            value="lesson_04"
    }}
  </div>


{{/modules/carousel/_component}}
