{{#> modules/carousel/_component background=true title='Featured courses in UlearnaPlus' tabs=true
                                 bottom-button="Explore all ULearnaPlus Courses"}}
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-2,filter-4">
    {{> widgets/course-card plus=true free=true original=true
            image="home-plus/featured/01"
            title="Customizing Type with Draplin: Creating Wordmarks That Work"
            author="by Leo Workman"
            original=true
            plus-price="8$"
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-1,filter-3">
    {{> widgets/course-card plus=true free=true original=true
            image="home-plus/featured/02"
            title="Productivity Masterclass: Create a Custom System that Works"
            author="by Makenna Baptista"
            original=true
            plus-price="8$" plus-price-old="16$"
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-5">
    {{> widgets/course-card plus=true original=true
            image="home-plus/featured/03"
            title="ODD BODIES: Illustrating Expressive, Stylized People"
            author="by Leo Workman"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item"
       data-filters="filter-2,filter-3,filter-4">
    {{> widgets/course-card plus=true original=true
            image="home-plus/featured/04"
            title="Fundamentals of DSLR Photography"
            author="by Marley Torff"
            original=true
            plus-price="8$"
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item"
       data-filters="filter-1,filter-2,filter-4,filter-3">
    {{> widgets/course-card plus=true original=true
            title="Customizing Type with Draplin: Creating Wordmarks That Work"
            author="by Leo Workman"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item"
       data-filters="filter-1,filter-4,filter-5">
    {{> widgets/course-card plus=true original=true
            title="Productivity Masterclass: Create a Custom System that Works"
            author="by Makenna Baptista"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-1,filter-4">
    {{> widgets/course-card plus=true
            title="ODD BODIES: Illustrating Expressive, Stylized People"
            author="by Leo Workman"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-2">
    {{> widgets/course-card plus=true
            title="Fundamentals of DSLR Photography"
            author="by Marley Torff"
            original=true
    }}
  </div>
{{/modules/carousel/_component}}
