{{#> modules/carousel/_component title='Featured courses in Ulearna' tabs=true bottom-button="Explore all Courses"}}
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-2,filter-4">
    {{> widgets/course-card original=true
            image="home/featured/01"
            title="Customizing Type with Draplin: Creating Wordmarks That Work"
            author="by Leo Workman"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-1,filter-3">
    {{> widgets/course-card original=true
            image="home/featured/02"
            title="Productivity Masterclass: Create a Custom System that Works"
            author="by Makenna Baptista"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-5">
    {{> widgets/course-card original=true added=true
            image="home/featured/03"
            title="ODD BODIES: Illustrating Expressive, Stylized People"
            author="by Leo Workman"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item"
       data-filters="filter-2,filter-3,filter-4">
    {{> widgets/course-card original=true
            image="home/featured/04"
            title="Fundamentals of DSLR Photography"
            author="by Marley Torff"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item"
       data-filters="filter-1,filter-2,filter-4,filter-3">
    {{> widgets/course-card
            title="Customizing Type with Draplin: Creating Wordmarks That Work"
            author="by Leo Workman"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item"
       data-filters="filter-1,filter-4,filter-5">
    {{> widgets/course-card
            title="Productivity Masterclass: Create a Custom System that Works"
            author="by Makenna Baptista"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-1,filter-4">
    {{> widgets/course-card
            title="ODD BODIES: Illustrating Expressive, Stylized People"
            author="by Leo Workman"
            original=true
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item" data-filters="filter-2">
    {{> widgets/course-card
            title="Fundamentals of DSLR Photography"
            author="by Marley Torff"
            original=true
    }}
  </div>
{{/modules/carousel/_component}}
