{{#> modules/carousel/_component title=title see-all=true}}
  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> widgets/course-card
            image="carousel/big_01"
            title="Customizing Type with Draplin: Creating Wordmarks That Work"
            author="by Kaylynn Dorwart"
    }}
  </div>
  <div class="carousel__slide swiper-slide js-carousel__item">
    {{> widgets/course-card
            image="carousel/big_02"
            title="Productivity Masterclass: Create a Custom System that Works"
            author="by Leo Workman"
    }}
  </div>
{{/modules/carousel/_component}}
