<div class="catalog-categories">
  <ul class="catalog-categories__list">

    <li class="catalog-categories__cell js-accord {{#if active}}opened{{/if}}">
      <span class="catalog-categories__item js-accord__toggle">Create</span>
      <ul class="catalog-categories__subtree js-accord__body">
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Animation</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link{{#if active}} active{{/if}}">Creative Writing</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Film & Video</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Graphic Design</a>
        </li>
      </ul>
    </li>

    <li class="catalog-categories__cell js-accord">
      <span class="catalog-categories__item js-accord__toggle">Build</span>
      <ul class="catalog-categories__subtree js-accord__body">
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Lifestyle</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Productivity</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Business Analytics</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Marketing</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Leadership & Management</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Freelance & Entrepreneurship</a>
        </li>
      </ul>
    </li>

    <li class="catalog-categories__cell js-accord">
      <span class="catalog-categories__item js-accord__toggle">Thrive</span>
      <ul class="catalog-categories__subtree js-accord__body">
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Category 1</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Category 2</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Category 3</a>
        </li>
        <li class="catalog-categories__subtree-item">
          <a href="#" class="catalog-categories__subtree-link">Category 4</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
