<ul class="catalog-links">
  <li class="catalog-links__item">
    <a href="#" class="catalog-links__link">All Courses</a>
  </li>
  <li class="catalog-links__item">
    <a href="#" class="catalog-links__link">Recommended to You</a>
  </li>
  <li class="catalog-links__item">
    <a href="#" class="catalog-links__link">Featured Courses</a>
  </li>
  <li class="catalog-links__item">
    <a href="#" class="catalog-links__link">Popular in my Region</a>
  </li>
  <li class="catalog-links__item">
    <a href="#" class="catalog-links__link">Ulearna Original</a>
  </li>
</ul>
