<div class="catalog-main js-catalog-filter">
  <div class="catalog-main__search">
    {{#if search}}
      {{> widgets/search-input placeholder="Search for courses, skills, instructor" value="Graphic Design" big=true }}
    {{else}}
      {{> widgets/search-input placeholder="Search for courses, skills, instructor" big=true }}
    {{/if}}

    <div class="catalog-main__search-right">
      <button class="catalog-main__search-button js-catalog-filter__search-toggle"></button>
    </div>
  </div>

  <div class="js-catalog-filter js-accord">
    <div class="catalog-main__header">
      <div class="catalog-main__header-left">
        <span class="catalog-main__title">{{#if search}}Results{{else}}Creative Writing{{/if}}</span>
      </div>
      <div class="catalog-main__header-right">
        <div class="catalog-main__header-action">
          {{> ui/btn-icon icon="button-reset" mod="js-catalog-filter__reset" label="Reset Filters"}}
        </div>
        <div class="catalog-main__header-action">
          {{> ui/btn color="blue" label="Filters" icon="button-arrow-down" icon-right=true mod="js-accord__toggle"}}
        </div>
      </div>
    </div>

    <div class="catalog-main__filter js-accord__body">
      {{> blocks/catalog/filter }}
    </div>
  </div>

  <div class="catalog-main__results">
    {{#if search}}
      {{> blocks/catalog/results-search }}
    {{else}}
      {{> blocks/catalog/results-category }}
    {{/if}}
  </div>
</div>
