<section class="catalog-results">
  <div class="catalog-results__row">
    {{> modules/grid/courses_6 title="Courses"}}
  </div>
  <div class="catalog-results__row">
    {{> modules/grid/instructors_3 title="Instructors by Graphic Design"}}
  </div>
  <div class="catalog-results__row">
    {{> modules/grid/courses_6 title="All Courses by Graphic Design Skill"}}
  </div>
  <div class="catalog-results__more">
    {{> ui/btn outline=true label="Load more"}}
  </div>
</section>
