<section class="catalog-results">
  <div class="catalog-results__row">
    {{> modules/grid/courses_6 title="Recommended in Creative Writing"}}
  </div>
  <div class="catalog-results__row">
    {{> modules/grid/courses_6 title="Trending"}}
  </div>
  <div class="catalog-results__row">
    {{> modules/grid/courses_6 title="Popular in my Region"}}
  </div>
  <div class="catalog-results__row">
    {{> modules/grid/courses_6 title="All courses in category" mobile-block=true}}
  </div>
  <div class="catalog-results__more">
    {{> ui/btn outline=true label="Load more"}}
  </div>
</section>
