.follower-card {
  display: flex;
  align-items: center;

  &__user-img {
    margin-right: 14px;
    flex: 0 0 48px;
    max-width: 48px;
    height: 48px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 48px;
      height: 48px;
    }
  }

  &__inner {
    margin-right: 13px;
    position: relative;
    padding: 16px 0 19px;
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: inset 0px -1px 0px #DAE4ED;
  }

  &__info {
    margin-right: auto;
  }

  &__user-name {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }

  &__user-label {
    margin-top: 6px;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: $color-gray-dark;
  }

  &__send-button {
    margin: 0 10px;
  }

  &__follow-button {
    margin: 0 36px 0 10px;
  }

  &__more {
    &:hover {
      .follower-card__more-overlay {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__more-btn {
    color: $color-gray-dark;
    @include transition;

    &:hover {
      color: $color-blue;
    }
  }

  &__more-overlay {
    position: absolute;
    bottom: -64px;
    right: 10px;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    @include transition;
  }
}
