.modal-followers {
  position: relative;
  margin: 0 auto;
  padding: 26px 30px 30px;
  background: $color-white;
  border-radius: 12px;

  &__header {
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    color: $color-black;
  }

  &__close {
    position: absolute;
    right: 3%;
    top: 2.5%;
    width: 30px;
    height: 30px;
    @include transition;

    &:before {
      content: '';
      @include sprite('modal-close');
      @include align();
    }

    &:hover {
      background: rgba(218, 228, 237, .2);
    }
  }

  &__input {
    margin-top: 20px;
  }

  &__cards {
    margin-right: -5px;
    margin-top: 8px;
    max-height: 554px;
    overflow: auto;
  }

  .scrollbar-track {
    background: rgba(218, 228, 237, 0.52);
    border-radius: 5px;
  }

  .scrollbar-track-y {
    width: 5px;
  }

  .scrollbar-thumb {
    width: 5px;
    background: rgba(130, 154, 178, 0.42);
    border-radius: 5px;
  }
}
