.modal-followers {
  position: relative;
  margin: 0 auto;
  padding: 26px 30px 30px;
  max-width: 714px;
  background: $color-white;
  box-shadow: 0 6px 44px rgba(1, 64, 139, 0.24);
  border-radius: 12px;
  overflow: hidden;

  &__header {
    width: 100%;
    text-align: center;
  }

  &__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 31px;
    color: $color-black;
  }

  &__close {
    position: absolute;
    right: 2.2%;
    top: 2.2%;
    width: 30px;
    height: 30px;
    @include transition;

    &:before {
      content: '';
      @include sprite('modal-close');
      @include align();
    }

    &:hover {
      background: rgba(218, 228, 237, .2);
    }
  }


}
