$icons: (sprite: (width: 1555px, height: 1072px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
burger: (width: 20px, height: 16px, backgroundX: 0px, backgroundY: 0px),
button-nav-arrow: (width: 13px, height: 22px, backgroundX: -20px, backgroundY: -16px),
button-nav-arrow-disabled: (width: 13px, height: 22px, backgroundX: -33px, backgroundY: -38px),
button-nav-arrow-purple: (width: 13px, height: 22px, backgroundX: -46px, backgroundY: -60px),
course-default: (width: 112px, height: 92px, backgroundX: -59px, backgroundY: -82px),
header-back-arrow: (width: 8px, height: 13px, backgroundX: -171px, backgroundY: -174px),
header-close: (width: 16px, height: 16px, backgroundX: -179px, backgroundY: -187px),
header-menu-arrow: (width: 12px, height: 8px, backgroundX: -195px, backgroundY: -203px),
header-title-tick: (width: 23px, height: 15px, backgroundX: -207px, backgroundY: -211px),
logo: (width: 142px, height: 39px, backgroundX: -230px, backgroundY: -226px),
logo-mobile: (width: 114px, height: 40px, backgroundX: -372px, backgroundY: -265px),
logo-plus: (width: 142px, height: 39px, backgroundX: -486px, backgroundY: -305px),
logo-tablet: (width: 114px, height: 40px, backgroundX: -628px, backgroundY: -344px),
play: (width: 31px, height: 40px, backgroundX: -742px, backgroundY: -384px),
popup-close: (width: 26px, height: 26px, backgroundX: -773px, backgroundY: -424px),
search-big: (width: 22px, height: 21px, backgroundX: -799px, backgroundY: -450px),
search-input-submit: (width: 14px, height: 12px, backgroundX: -821px, backgroundY: -471px),
search-mobile: (width: 24px, height: 24px, backgroundX: -835px, backgroundY: -483px),
search-mobile-submit: (width: 14px, height: 12px, backgroundX: -859px, backgroundY: -507px),
select-arrow: (width: 12px, height: 8px, backgroundX: -873px, backgroundY: -519px),
select-arrow-purple: (width: 12px, height: 8px, backgroundX: -885px, backgroundY: -527px),
select-tick: (width: 16px, height: 11px, backgroundX: -897px, backgroundY: -535px),
social-facebook: (width: 13px, height: 23px, backgroundX: -913px, backgroundY: -546px),
social-instagram: (width: 22px, height: 22px, backgroundX: -926px, backgroundY: -569px),
social-twitter: (width: 24px, height: 19px, backgroundX: -948px, backgroundY: -591px),
subscription-bg: (width: 257px, height: 221px, backgroundX: -972px, backgroundY: -610px),
subscription-bg-mobile: (width: 158px, height: 136px, backgroundX: -1229px, backgroundY: -831px),
testimonial-arrow: (width: 34px, height: 23px, backgroundX: -1387px, backgroundY: -967px),
testimonial-arrow-mobile: (width: 14px, height: 9px, backgroundX: -1421px, backgroundY: -990px),
testimonial-arrows: (width: 21px, height: 16px, backgroundX: -1435px, backgroundY: -999px),
ulearna-original: (width: 69px, height: 24px, backgroundX: -1456px, backgroundY: -1015px),
video-arrow: (width: 14px, height: 16px, backgroundX: -1525px, backgroundY: -1039px),
video-watch: (width: 16px, height: 17px, backgroundX: -1539px, backgroundY: -1055px),
);
