.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-right-small {
  width: 16px;
  height: 16px;
}
.icon-button-arrow-down {
  width: 12px;
  height: 9px;
}
.icon-button-arrow-next {
  width: 14px;
  height: 12px;
}
.icon-button-arrow-prev {
  width: 14px;
  height: 13px;
}
.icon-button-attach {
  width: 16px;
  height: 17px;
}
.icon-button-delete {
  width: 18px;
  height: 22px;
}
.icon-button-edit {
  width: 16px;
  height: 17px;
}
.icon-button-logout {
  width: 16px;
  height: 15px;
}
.icon-button-message {
  width: 16px;
  height: 12px;
}
.icon-button-plus {
  width: 14px;
  height: 13px;
}
.icon-button-reply {
  width: 16px;
  height: 11px;
}
.icon-button-reset {
  width: 12px;
  height: 15px;
}
.icon-button-share {
  width: 16px;
  height: 17px;
}
.icon-button-wish {
  width: 12px;
  height: 15px;
}
.icon-certificates {
  width: 25px;
  height: 22px;
}
.icon-check-mark {
  width: 16px;
  height: 17px;
}
.icon-course-delete {
  width: 19px;
  height: 22px;
}
.icon-course-wish {
  width: 18px;
  height: 22px;
}
.icon-courses {
  width: 26px;
  height: 24px;
}
.icon-dashboard {
  width: 24px;
  height: 24px;
}
.icon-facebook-blue {
  width: 16px;
  height: 16px;
}
.icon-google-green {
  width: 16px;
  height: 16px;
}
.icon-header-menu-arrow {
  width: 12px;
  height: 8px;
}
.icon-messages {
  width: 26px;
  height: 17px;
}
.icon-notifiсation {
  width: 24px;
  height: 21px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-settings {
  width: 26px;
  height: 24px;
}
.icon-strip {
  width: 4px;
  height: 15px;
}
