$icons: (sprite: (width: 385px, height: 202px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
header-menu-arrow: (width: 12px, height: 8px, backgroundX: 0px, backgroundY: 0px),
logo: (width: 146px, height: 45px, backgroundX: -12px, backgroundY: -8px),
logo-tablet: (width: 114px, height: 40px, backgroundX: -158px, backgroundY: -53px),
popup-close: (width: 26px, height: 26px, backgroundX: -272px, backgroundY: -93px),
select-arrow: (width: 12px, height: 8px, backgroundX: -298px, backgroundY: -119px),
select-tick: (width: 16px, height: 11px, backgroundX: -310px, backgroundY: -127px),
social-facebook: (width: 13px, height: 23px, backgroundX: -326px, backgroundY: -138px),
social-instagram: (width: 22px, height: 22px, backgroundX: -339px, backgroundY: -161px),
social-twitter: (width: 24px, height: 19px, backgroundX: -361px, backgroundY: -183px),
);
