$icons: (sprite: (width: 3343px, height: 2719px, pngPath: '../assets/images/sprite.png', svgPath: '../assets/images/sprite.svg'),
burger: (width: 20px, height: 16px, backgroundX: 0px, backgroundY: 0px),
button-nav-arrow: (width: 13px, height: 22px, backgroundX: -20px, backgroundY: -16px),
button-nav-arrow-disabled: (width: 13px, height: 22px, backgroundX: -33px, backgroundY: -38px),
button-nav-arrow-purple: (width: 13px, height: 22px, backgroundX: -46px, backgroundY: -60px),
catalog-categories-minus: (width: 14px, height: 4px, backgroundX: -59px, backgroundY: -82px),
catalog-categories-plus: (width: 14px, height: 14px, backgroundX: -73px, backgroundY: -86px),
catalog-filter-close: (width: 16px, height: 16px, backgroundX: -87px, backgroundY: -100px),
catalog-filters: (width: 19px, height: 18px, backgroundX: -103px, backgroundY: -116px),
catalog-sidebar-arrow: (width: 12px, height: 8px, backgroundX: -122px, backgroundY: -134px),
catalog-sidebar-arrow-blue: (width: 12px, height: 8px, backgroundX: -134px, backgroundY: -142px),
certificate-left: (width: 167px, height: 97px, backgroundX: -146px, backgroundY: -150px),
certificate-logo: (width: 26px, height: 24px, backgroundX: -313px, backgroundY: -247px),
certificate-right: (width: 143px, height: 84px, backgroundX: -339px, backgroundY: -271px),
checkbox-tick: (width: 16px, height: 12px, backgroundX: -482px, backgroundY: -355px),
comment-tail: (width: 15px, height: 21px, backgroundX: -498px, backgroundY: -367px),
course-card-wish: (width: 18px, height: 22px, backgroundX: -513px, backgroundY: -388px),
course-card-wish-added: (width: 18px, height: 22px, backgroundX: -531px, backgroundY: -410px),
course-card-wish-white: (width: 18px, height: 22px, backgroundX: -549px, backgroundY: -432px),
course-default: (width: 112px, height: 92px, backgroundX: -567px, backgroundY: -454px),
course-eyes: (width: 20px, height: 15px, backgroundX: -679px, backgroundY: -546px),
course-instructor-country: (width: 16px, height: 16px, backgroundX: -699px, backgroundY: -561px),
course-instructor-education: (width: 16px, height: 16px, backgroundX: -715px, backgroundY: -577px),
course-instructor-job: (width: 16px, height: 16px, backgroundX: -731px, backgroundY: -593px),
course-instructor-languages: (width: 16px, height: 16px, backgroundX: -747px, backgroundY: -609px),
course-playlist-lock: (width: 18px, height: 20px, backgroundX: -763px, backgroundY: -625px),
course-playlist-pause: (width: 14px, height: 14px, backgroundX: -781px, backgroundY: -645px),
course-stats-level: (width: 15px, height: 21px, backgroundX: -795px, backgroundY: -659px),
course-stats-level--fill: (width: 15px, height: 21px, backgroundX: -810px, backgroundY: -680px),
course-stats-star: (width: 22px, height: 20px, backgroundX: -825px, backgroundY: -701px),
course-stats-star--fill: (width: 22px, height: 20px, backgroundX: -847px, backgroundY: -721px),
donate: (width: 93px, height: 74px, backgroundX: -869px, backgroundY: -741px),
donate-mobile: (width: 60px, height: 48px, backgroundX: -962px, backgroundY: -815px),
faq-accordion-minus: (width: 14px, height: 14px, backgroundX: -1022px, backgroundY: -863px),
faq-accordion-plus: (width: 14px, height: 14px, backgroundX: -1036px, backgroundY: -877px),
faq-accordion-plus-active: (width: 14px, height: 14px, backgroundX: -1050px, backgroundY: -891px),
header-back-arrow: (width: 8px, height: 13px, backgroundX: -1064px, backgroundY: -905px),
header-bell: (width: 23px, height: 21px, backgroundX: -1072px, backgroundY: -918px),
header-close: (width: 16px, height: 16px, backgroundX: -1095px, backgroundY: -939px),
header-menu-arrow: (width: 12px, height: 8px, backgroundX: -1111px, backgroundY: -955px),
header-messages: (width: 24px, height: 17px, backgroundX: -1123px, backgroundY: -963px),
header-title-tick: (width: 23px, height: 15px, backgroundX: -1147px, backgroundY: -980px),
hero-slider-arrow: (width: 17px, height: 28px, backgroundX: -1170px, backgroundY: -995px),
hero-video-pause: (width: 14px, height: 14px, backgroundX: -1187px, backgroundY: -1023px),
hero-video-play: (width: 13px, height: 16px, backgroundX: -1201px, backgroundY: -1037px),
hero-video-sound-off: (width: 16px, height: 17px, backgroundX: -1214px, backgroundY: -1053px),
hero-video-sound-on: (width: 16px, height: 14px, backgroundX: -1230px, backgroundY: -1070px),
input-card: (width: 22px, height: 17px, backgroundX: -1246px, backgroundY: -1084px),
input-date: (width: 18px, height: 20px, backgroundX: -1268px, backgroundY: -1101px),
language-overlay-close: (width: 10px, height: 10px, backgroundX: -1286px, backgroundY: -1121px),
link-arrow-arrow: (width: 8px, height: 13px, backgroundX: -1296px, backgroundY: -1131px),
link-arrow-arrow-back: (width: 8px, height: 13px, backgroundX: -1304px, backgroundY: -1144px),
logo: (width: 142px, height: 39px, backgroundX: -1312px, backgroundY: -1157px),
logo-mobile: (width: 114px, height: 40px, backgroundX: -1454px, backgroundY: -1196px),
logo-plus: (width: 142px, height: 39px, backgroundX: -1568px, backgroundY: -1236px),
logo-tablet: (width: 114px, height: 40px, backgroundX: -1710px, backgroundY: -1275px),
pagination-left: (width: 8px, height: 13px, backgroundX: -1824px, backgroundY: -1315px),
pagination-left-active: (width: 8px, height: 13px, backgroundX: -1832px, backgroundY: -1328px),
plan-card-selected-tick: (width: 16px, height: 12px, backgroundX: -1840px, backgroundY: -1341px),
plan-card-tick: (width: 17px, height: 11px, backgroundX: -1856px, backgroundY: -1353px),
plan-card-tick-mobile: (width: 12px, height: 9px, backgroundX: -1873px, backgroundY: -1364px),
play: (width: 31px, height: 40px, backgroundX: -1885px, backgroundY: -1373px),
popup-close: (width: 26px, height: 26px, backgroundX: -1916px, backgroundY: -1413px),
radio-tick: (width: 16px, height: 11px, backgroundX: -1942px, backgroundY: -1439px),
rating-energy: (width: 15px, height: 21px, backgroundX: -1958px, backgroundY: -1450px),
rating-energy--fill: (width: 15px, height: 21px, backgroundX: -1973px, backgroundY: -1471px),
rating-energy-big: (width: 20px, height: 29px, backgroundX: -1988px, backgroundY: -1492px),
rating-energy-big--fill: (width: 20px, height: 29px, backgroundX: -2008px, backgroundY: -1521px),
rating-energy-full: (width: 42px, height: 32px, backgroundX: -2028px, backgroundY: -1550px),
rating-energy-full--fill: (width: 42px, height: 32px, backgroundX: -2070px, backgroundY: -1582px),
rating-eye: (width: 20px, height: 15px, backgroundX: -2112px, backgroundY: -1614px),
rating-star: (width: 22px, height: 20px, backgroundX: -2132px, backgroundY: -1629px),
rating-star--fill: (width: 22px, height: 20px, backgroundX: -2154px, backgroundY: -1649px),
rating-star-big: (width: 30px, height: 28px, backgroundX: -2176px, backgroundY: -1669px),
rating-star-big--fill: (width: 30px, height: 28px, backgroundX: -2206px, backgroundY: -1697px),
reviews-intro-energy: (width: 20px, height: 28px, backgroundX: -2236px, backgroundY: -1725px),
reviews-intro-energy--empty: (width: 20px, height: 28px, backgroundX: -2256px, backgroundY: -1753px),
reviews-intro-star: (width: 31px, height: 27px, backgroundX: -2276px, backgroundY: -1781px),
reviews-intro-star--empty: (width: 31px, height: 27px, backgroundX: -2307px, backgroundY: -1808px),
search-big: (width: 22px, height: 21px, backgroundX: -2338px, backgroundY: -1835px),
search-big-blue: (width: 22px, height: 21px, backgroundX: -2360px, backgroundY: -1856px),
search-input-submit: (width: 14px, height: 12px, backgroundX: -2382px, backgroundY: -1877px),
search-mobile: (width: 24px, height: 24px, backgroundX: -2396px, backgroundY: -1889px),
search-mobile-submit: (width: 14px, height: 12px, backgroundX: -2420px, backgroundY: -1913px),
select-arrow: (width: 12px, height: 8px, backgroundX: -2434px, backgroundY: -1925px),
select-arrow-purple: (width: 12px, height: 8px, backgroundX: -2446px, backgroundY: -1933px),
select-tick: (width: 16px, height: 11px, backgroundX: -2458px, backgroundY: -1941px),
select2-arrow: (width: 14px, height: 9px, backgroundX: -2474px, backgroundY: -1952px),
select2-arrow-active: (width: 14px, height: 9px, backgroundX: -2488px, backgroundY: -1961px),
select2-tick: (width: 16px, height: 11px, backgroundX: -2502px, backgroundY: -1970px),
signup-success: (width: 76px, height: 91px, backgroundX: -2518px, backgroundY: -1981px),
signup-success-mobile: (width: 48px, height: 57px, backgroundX: -2594px, backgroundY: -2072px),
social-facebook: (width: 13px, height: 23px, backgroundX: -2642px, backgroundY: -2129px),
social-instagram: (width: 22px, height: 22px, backgroundX: -2655px, backgroundY: -2152px),
social-small-facebook: (width: 13px, height: 23px, backgroundX: -2677px, backgroundY: -2174px),
social-small-instagram: (width: 22px, height: 22px, backgroundX: -2690px, backgroundY: -2197px),
social-small-twitter: (width: 24px, height: 19px, backgroundX: -2712px, backgroundY: -2219px),
social-twitter: (width: 24px, height: 19px, backgroundX: -2736px, backgroundY: -2238px),
subscription-bg: (width: 257px, height: 221px, backgroundX: -2760px, backgroundY: -2257px),
subscription-bg-mobile: (width: 158px, height: 136px, backgroundX: -3017px, backgroundY: -2478px),
testimonial-arrow: (width: 34px, height: 23px, backgroundX: -3175px, backgroundY: -2614px),
testimonial-arrow-mobile: (width: 14px, height: 9px, backgroundX: -3209px, backgroundY: -2637px),
testimonial-arrows: (width: 21px, height: 16px, backgroundX: -3223px, backgroundY: -2646px),
ulearna-original: (width: 69px, height: 24px, backgroundX: -3244px, backgroundY: -2662px),
video-arrow: (width: 14px, height: 16px, backgroundX: -3313px, backgroundY: -2686px),
video-watch: (width: 16px, height: 17px, backgroundX: -3327px, backgroundY: -2702px),
);
