.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-button-arrow-down {
  width: 12px;
  height: 9px;
}
.icon-button-arrow-next {
  width: 14px;
  height: 12px;
}
.icon-button-logout {
  width: 16px;
  height: 15px;
}
.icon-button-message {
  width: 16px;
  height: 12px;
}
.icon-button-plus {
  width: 14px;
  height: 13px;
}
.icon-button-reset {
  width: 12px;
  height: 15px;
}
.icon-button-share {
  width: 16px;
  height: 17px;
}
.icon-button-wish {
  width: 12px;
  height: 15px;
}
.icon-course-wish {
  width: 18px;
  height: 22px;
}
.icon-header-menu-arrow {
  width: 12px;
  height: 8px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
