.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-button-arrow-down {
  width: 12px;
  height: 9px;
}
.icon-button-edit {
  width: 16px;
  height: 17px;
}
.icon-button-logout {
  width: 16px;
  height: 15px;
}
.icon-button-reset {
  width: 12px;
  height: 15px;
}
.icon-certificates {
  width: 25px;
  height: 22px;
}
.icon-course-wish {
  width: 18px;
  height: 22px;
}
.icon-courses {
  width: 26px;
  height: 24px;
}
.icon-dashboard {
  width: 24px;
  height: 24px;
}
.icon-header-menu-arrow {
  width: 12px;
  height: 8px;
}
.icon-messages {
  width: 26px;
  height: 17px;
}
.icon-notifiсation {
  width: 24px;
  height: 21px;
}
.icon-popup-close {
  width: 26px;
  height: 26px;
}
.icon-settings {
  width: 26px;
  height: 24px;
}
.icon-social-facebook-sm {
  width: 8px;
  height: 14px;
}
.icon-social-instagram-sm {
  width: 14px;
  height: 14px;
}
.icon-social-twitter-sm {
  width: 16px;
  height: 14px;
}
.icon-social-youtube-sm {
  width: 16px;
  height: 14px;
}
.icon-strip {
  width: 4px;
  height: 15px;
}
